.breadcrumb {
  margin-bottom: 40px;
}
.breadcrumb__item {
  background: #f7f8fb;
  border-radius: 5px;
  padding: 5px;
}
.breadcrumb__wrapper {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}
.breadcrumb__wrapper::-webkit-scrollbar {
  display: none;
}