<div class="tab-slider">
    <div class="tab-slider__container swiper">
        <div class="tab-slider__wrapper swiper-wrapper">
            <div class="tab-slider__slide swiper-slide">
                @@include('../article-item/article-item.html')
            </div>
            <div class="tab-slider__slide swiper-slide">
                @@include('../article-item/article-item.html')
            </div>
            <div class="tab-slider__slide swiper-slide">
                @@include('../article-item/article-item.html')
            </div>
            <div class="tab-slider__slide swiper-slide">
                @@include('../article-item/article-item.html')
            </div>
        </div>
        <div class="tab-slider__navigation slider-navigation slider-navigation_outside">
            <div class="tab-slider__prev slider-prev"></div>
            <div class="tab-slider__next slider-next"></div>
        </div>
        <div class="tab-slider__pagination slider-pagination"></div>
    </div>
</div>