<form class="quiz">
    <div class="quiz__body">
        <div class="quiz__stages">
            <div class="quiz__stage quiz__stage_active">
                <div class="quiz__title demibold">Планируете передвигаться по дорогам общего пользования?</div>
                <div class="quiz__stage-content quiz__radio-list">
                    <label class="radio quiz__radio">Да
                        <input class="radio__input" type="radio" name="stage-1" value="Да">
                        <span class="radio__checkmark"></span>
                    </label>
                    <label class="radio quiz__radio">Нет
                        <input class="radio__input" type="radio" name="stage-1" value="Нет">
                        <span class="radio__checkmark"></span>
                    </label>
                    <label class="radio quiz__radio">Пока не планирую, но в будущем возможно
                        <input class="radio__input" type="radio" name="stage-1"
                            value="Пока не планирую, но в будущем возможно">
                        <span class="radio__checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="quiz__stage">
                <div class="quiz__title demibold">Планируете передвигаться по дорогам общего пользования?</div>
                <div class="quiz__stage-content quiz__checkbox-list">
                    <label class="quiz__checkbox checkbox">Вспашка почвы
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Вспашка почвы">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">
                        Поверхностная обработка Поверхностная обработка Поверхностная обработка
                        <input class="checkbox__input" type="checkbox" name="stage-2"
                            value="Поверхностная обработка Поверхностная обработка Поверхностная обработка">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Посадка картофеля
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Посадка картофеля">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Вспашка почвы
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Вспашка почвы">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Поверхностная обработка
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Поверхностная обработка">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Вспашка почвы
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Вспашка почвы">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">
                        Поверхностная обработка Поверхностная обработка Поверхностная обработка
                        <input class="checkbox__input" type="checkbox" name="stage-2"
                            value="Поверхностная обработка Поверхностная обработка Поверхностная обработка">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Посадка картофеля
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Посадка картофеля">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Вспашка почвы
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Вспашка почвы">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Поверхностная обработка
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Поверхностная обработка">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Посадка картофеля
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Посадка картофеля">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Вспашка почвы
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Вспашка почвы">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Поверхностная обработка
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Поверхностная обработка">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Посадка картофеля
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Посадка картофеля">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Вспашка почвы
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Вспашка почвы">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Поверхностная обработка
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Поверхностная обработка">
                        <span class="checkbox__checkmark"></span>
                    </label>
                    <label class="quiz__checkbox checkbox">Посадка картофеля
                        <input class="checkbox__input" type="checkbox" name="stage-2" value="Посадка картофеля">
                        <span class="checkbox__checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="quiz__stage">
                <div class="quiz__title demibold">Планируете передвигаться по дорогам общего пользования?</div>
                <div class="quiz__stage-content quiz__input-list">
                    <div class="input">
                        <input type="text" class="input__field" placeholder="Имя" required>
                    </div>
                    <div class="input">
                        <input type="tel" class="input__field" placeholder="+7 (" required>
                    </div>
                    <div class="input">
                        <input type="email" class="input__field" placeholder="E-mail">
                    </div>
                </div>
            </div>
        </div>
        <div class="quiz__discount">
            <div class="quiz__discount-total">
                <div class="quiz__discount-total-text">
                    Ваша скидка
                </div>
                <div class="quiz__discount-total-num">2 000 ₽</div>
            </div>
            <div class="quiz__discount-bar">
                <div class="quiz__discount-item quiz__discount-item_active">
                    -<span>2 000 ₽</span>
                </div>
                <div class="quiz__discount-item">
                    -<span>4 000 ₽</span>
                </div>
                <div class="quiz__discount-item">
                    -<span>6 000 ₽</span>
                </div>
                <div class="quiz__discount-item">
                    -<span>11 000 ₽</span>
                </div>
                <div class="quiz__discount-item ">
                    -<span>16 000 ₽</span>
                </div>
            </div>
        </div>
    </div>
    <div class="quiz__bottom">
        <div class="quiz__progress">
            <div class="quiz__progress-title caption gray-text"> Готово: <span>0%</span></div>
            <div class="quiz__progress-bar">
                <div class="quiz__progress-fill"></div>
            </div>
        </div>
        <div class="quiz__btns">
            <div class="quiz__btn quiz__prev quiz__btn_remove"></div>
            <div class="quiz__btn quiz__next quiz__btn_disable btn">Далее</div>
        </div>
    </div>
</form>