.table-info {
    &__header {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-bottom: 40px;
    }
    &__btn {
        padding-left: 24px;
        background-position: center left;
        background-repeat: no-repeat;
        background-size: 16px;
        background-image: url(../images/icons/product_card\ -\ compare.svg);
        cursor: pointer;
    }
    &__title {
        margin-bottom: 0;
    }
    &__subtitle {
        margin-bottom: 20px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__list {
        column-count: 2;
        gap: 60px;
    }
    &__row {
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    .table-info {
        &__list {
            column-count: 1;
        }
    }
}

@media (max-width: 768px) {
    .table-info {
        &__header {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }
}
