<section class="section table-info" id="specification">
    <div class="container">
        <div class="table-info__header">
            <div class="table-info__title title">@@title</div>
            <div class="table-info__btn orange-text">Добавить к сравнению </div>
        </div>
        <div class="table-info__wrapper">
            <div class="table-info__item">
                <div class="table-info__subtitle subtitle demibold">Заголовок раздела</div>
                <div class="table-info__list">
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 2 строки, на случай если не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 2 строки, на случай если не поместится
                            </div>
                        </div>
                    </div>

                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 2 строки, на случай если не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-info__item">
                <div class="table-info__subtitle subtitle demibold">Заголовок раздела</div>
                <div class="table-info__list">
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 2 строки, на случай если не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 2 строки, на случай если не поместится
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-info__item">
                <div class="table-info__subtitle subtitle demibold">Заголовок раздела</div>
                <div class="table-info__list">
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 2 строки, на случай если не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 2 строки, на случай если не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 2 строки, на случай если не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 2 строки, на случай если не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 2 строки, на случай если не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                            </div>
                        </div>
                    </div>
                    <div class="table-info__row specification-row">
                        <div class="specification-row__key gray-text">
                            <div class="specification-row__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="specification-row__value">
                            <div class="specification-row__value-text">
                                Характеристика в 2 строки, на случай если не поместится
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>