<section class="section catalog">
    <div class="container">
        <div class="catalog__wrapper">
            <div class="catalog__filter">
                <div class="catalog__filter-title subtitle">360 товара</div>
                <form class="catalog__filter-body accordion_v2">
                    <div class="a-container">
                        <div class="a-btn bold catalog__filter-name">Производитель</div>
                        <div class="a-panel">
                            <label class="checkbox">СКАУТ | SCOUT
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__checkmark"></span>
                            </label>
                            <label class="checkbox">СКАУТ | SCOUT
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__checkmark"></span>
                            </label>
                            <label class="checkbox">СКАУТ | SCOUT
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__checkmark"></span>
                            </label>
                            <label class="checkbox">СКАУТ | SCOUT
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__checkmark"></span>
                            </label>
                            <label class="checkbox">СКАУТ | SCOUT
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__checkmark"></span>
                            </label>
                        </div>
                    </div>

                    <label class="catalog__filter-name toggle bold">Распродажа
                        <input class="toggle__input" type="checkbox">
                        <span class="toggle__checkmark"></span>
                    </label>

                    <label class="catalog__filter-name toggle bold">В наличии
                        <input class="toggle__input" type="checkbox">
                        <span class="toggle__checkmark"></span>
                    </label>

                    <div class="a-container">
                        <div class="a-btn bold catalog__filter-name">Цена ( ₽)</div>
                        <div class="a-panel">
                            <div class="range-slider">
                                <div class="range-slider__limits">
                                    <div class="range-slider__input-wrapper" data-before="от">
                                        <input type="text"
                                            class="range-slider__input range-slider__input_min input demibold">
                                    </div>
                                    <div class="range-slider__input-wrapper" data-before="до">
                                        <input type="text"
                                            class="range-slider__input range-slider__input_max input demibold">
                                    </div>
                                </div>
                                <div class="range-slider__wrapper">
                                    <input class="range-slider__slider" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="a-container">
                        <div class="a-btn bold catalog__filter-name">Масса, кг</div>
                        <div class="a-panel">
                            <div class="range-slider">
                                <div class="range-slider__limits">
                                    <div class="range-slider__input-wrapper" data-before="от">
                                        <input type="text"
                                            class="range-slider__input range-slider__input_min input demibold">
                                    </div>
                                    <div class="range-slider__input-wrapper" data-before="до">
                                        <input type="text"
                                            class="range-slider__input range-slider__input_max input demibold">
                                    </div>
                                </div>
                                <div class="range-slider__wrapper">
                                    <input class="range-slider__slider" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="a-container">
                        <div class="a-btn bold catalog__filter-name">Мощность двигателя, л. с.</div>
                        <div class="a-panel">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium minima dolores
                                assumenda</p>
                        </div>
                    </div>

                    <div class="a-container">
                        <div class="a-btn bold catalog__filter-name">Комплектация</div>
                        <div class="a-panel">
                            <label class="checkbox">Полный привод 4х4 | ГУР
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__checkmark"></span>
                            </label>
                            <label class="checkbox">Полный привод 4х4 | ГУР
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__checkmark"></span>
                            </label>
                            <label class="checkbox">Полный привод 4х4 | ГУР
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__checkmark"></span>
                            </label>
                            <label class="checkbox">Полный привод 4х4 | ГУР
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__checkmark"></span>
                            </label>
                            <label class="checkbox">Полный привод 4х4 | ГУР
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <input type="submit" value="Показать 350 товаров" class="catalog__filter-btn btn">
                </form>

            </div>
            <div class="catalog__body">

            </div>
        </div>
    </div>
</section>