<section class="section catalog">
    <div class="container">
        <div class="catalog__wrapper">
            <div class="catalog__filter">
                <div class="catalog__filter-wrapper">
                    <div class="catalog__filter-mobile-title">
                        <div class="catalog__filter-mobile-title-text subtitle">Фильтры</div>
                        <div class="catalog__filter-menu-btn catalog__filter-menu-btn-close"></div>
                    </div>
                    <div class="catalog__filter-title subtitle">360 товара</div>
                    <form class="catalog__filter-body accordion_v2">
                        <div class="a-container">
                            <div class="a-btn bold catalog__filter-name">Производитель</div>
                            <div class="a-panel">
                                <label class="checkbox">СКАУТ | SCOUT
                                    <input class="checkbox__input" type="checkbox">
                                    <span class="checkbox__checkmark"></span>
                                </label>
                                <label class="checkbox">СКАУТ | SCOUT
                                    <input class="checkbox__input" type="checkbox">
                                    <span class="checkbox__checkmark"></span>
                                </label>
                                <label class="checkbox">СКАУТ | SCOUT
                                    <input class="checkbox__input" type="checkbox">
                                    <span class="checkbox__checkmark"></span>
                                </label>
                                <label class="checkbox">СКАУТ | SCOUT
                                    <input class="checkbox__input" type="checkbox">
                                    <span class="checkbox__checkmark"></span>
                                </label>
                                <label class="checkbox">СКАУТ | SCOUT
                                    <input class="checkbox__input" type="checkbox">
                                    <span class="checkbox__checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <label class="catalog__filter-name toggle bold">Распродажа
                            <input class="toggle__input" type="checkbox">
                            <span class="toggle__checkmark"></span>
                        </label>

                        <label class="catalog__filter-name toggle bold">В наличии
                            <input class="toggle__input" type="checkbox">
                            <span class="toggle__checkmark"></span>
                        </label>

                        <div class="a-container">
                            <div class="a-btn bold catalog__filter-name">Цена ( ₽)</div>
                            <div class="a-panel">
                                <div class="range-slider" data-limits="10000, 1000000" data-step="1000" data-unit=" ₽">
                                    <div class="range-slider__limits">
                                        <div class="range-slider__input-wrapper" data-before="от">
                                            <input type="text"
                                                class="range-slider__input range-slider__input_min input demibold">
                                        </div>
                                        <div class="range-slider__input-wrapper" data-before="до">
                                            <input type="text"
                                                class="range-slider__input range-slider__input_max input demibold">
                                        </div>
                                    </div>
                                    <div class="range-slider__wrapper">
                                        <input class="range-slider__slider" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="a-container">
                            <div class="a-btn bold catalog__filter-name">Масса, кг</div>
                            <div class="a-panel">
                                <div class="range-slider" data-unit=" кг">
                                    <div class="range-slider__limits">
                                        <div class="range-slider__input-wrapper" data-before="от">
                                            <input type="text"
                                                class="range-slider__input range-slider__input_min input demibold">
                                        </div>
                                        <div class="range-slider__input-wrapper" data-before="до">
                                            <input type="text"
                                                class="range-slider__input range-slider__input_max input demibold">
                                        </div>
                                    </div>
                                    <div class="range-slider__wrapper">
                                        <input class="range-slider__slider" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="a-container">
                            <div class="a-btn bold catalog__filter-name">Мощность двигателя, л. с.</div>
                            <div class="a-panel">
                                <div class="range-slider" data-unit=" л.с.">
                                    <div class="range-slider__limits">
                                        <div class="range-slider__input-wrapper" data-before="от">
                                            <input type="text"
                                                class="range-slider__input range-slider__input_min input demibold">
                                        </div>
                                        <div class="range-slider__input-wrapper" data-before="до">
                                            <input type="text"
                                                class="range-slider__input range-slider__input_max input demibold">
                                        </div>
                                    </div>
                                    <div class="range-slider__wrapper">
                                        <input class="range-slider__slider" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="a-container">
                            <div class="a-btn bold catalog__filter-name">Комплектация</div>
                            <div class="a-panel">
                                <label class="checkbox">Полный привод 4х4 | ГУР
                                    <input class="checkbox__input" type="checkbox">
                                    <span class="checkbox__checkmark"></span>
                                </label>
                                <label class="checkbox">Полный привод 4х4 | ГУР
                                    <input class="checkbox__input" type="checkbox">
                                    <span class="checkbox__checkmark"></span>
                                </label>
                                <label class="checkbox">Полный привод 4х4 | ГУР
                                    <input class="checkbox__input" type="checkbox">
                                    <span class="checkbox__checkmark"></span>
                                </label>
                                <label class="checkbox">Полный привод 4х4 | ГУР
                                    <input class="checkbox__input" type="checkbox">
                                    <span class="checkbox__checkmark"></span>
                                </label>
                                <label class="checkbox">Полный привод 4х4 | ГУР
                                    <input class="checkbox__input" type="checkbox">
                                    <span class="checkbox__checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <input type="submit" value="Показать 350 товаров" class="catalog__filter-btn btn">
                    </form>
                </div>
            </div>
            <div class="catalog__body">
                <div class="catalog__top">
                    <div class="catalog__sort">
                        <div class="catalog__sort-title gray-text">Сортировать:</div>
                        <div class="catalog__sort-list">
                            <a href="#" class="catalog__sort-item catalog__sort-item_active">По популярности</a>
                            <a href="#" class="catalog__sort-item">По цене</a>
                            <a href="#" class="catalog__sort-item">По рейтингу</a>
                            <a href="#" class="catalog__sort-item">По отзывам</a>
                        </div>
                    </div>
                    <div class="catalog__filter-menu-btn gray-text">Фильтры</div>
                    <div class="catalog__template">
                        <div class="catalog__template-item">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M3 14.25C3 13.4216 3.67157 12.75 4.5 12.75H19.5C20.3284 12.75 21 13.4216 21 14.25V18C21 18.8284 20.3284 19.5 19.5 19.5H4.5C3.67157 19.5 3 18.8284 3 18V14.25ZM19.5 14.25H4.5V18H19.5V14.25Z"
                                    fill="#C9C8D3" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M3 6C3 5.17157 3.67157 4.5 4.5 4.5H19.5C20.3284 4.5 21 5.17157 21 6V9.75C21 10.5784 20.3284 11.25 19.5 11.25H4.5C3.67157 11.25 3 10.5784 3 9.75V6ZM19.5 6H4.5V9.75H19.5V6Z"
                                    fill="#C9C8D3" />
                            </svg>
                        </div>
                        <div class="catalog__template-item catalog__template-item_active">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M3.75 4.5C3.75 4.08579 4.08579 3.75 4.5 3.75H10.5C10.9142 3.75 11.25 4.08579 11.25 4.5V10.5C11.25 10.9142 10.9142 11.25 10.5 11.25H4.5C4.08579 11.25 3.75 10.9142 3.75 10.5V4.5ZM5.25 5.25V9.75H9.75V5.25H5.25Z"
                                    fill="#C9C8D3" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.75 4.5C12.75 4.08579 13.0858 3.75 13.5 3.75H19.5C19.9142 3.75 20.25 4.08579 20.25 4.5V10.5C20.25 10.9142 19.9142 11.25 19.5 11.25H13.5C13.0858 11.25 12.75 10.9142 12.75 10.5V4.5ZM14.25 5.25V9.75H18.75V5.25H14.25Z"
                                    fill="#C9C8D3" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M3.75 13.5C3.75 13.0858 4.08579 12.75 4.5 12.75H10.5C10.9142 12.75 11.25 13.0858 11.25 13.5V19.5C11.25 19.9142 10.9142 20.25 10.5 20.25H4.5C4.08579 20.25 3.75 19.9142 3.75 19.5V13.5ZM5.25 14.25V18.75H9.75V14.25H5.25Z"
                                    fill="#C9C8D3" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.75 13.5C12.75 13.0858 13.0858 12.75 13.5 12.75H19.5C19.9142 12.75 20.25 13.0858 20.25 13.5V19.5C20.25 19.9142 19.9142 20.25 19.5 20.25H13.5C13.0858 20.25 12.75 19.9142 12.75 19.5V13.5ZM14.25 14.25V18.75H18.75V14.25H14.25Z"
                                    fill="#C9C8D3" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="catalog__list">

                    <div class="card card_wide">
                        <div class="card__top">
                            <div class="card__icons">
                                <div class="card__compare icon_compare icon">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12 16.5H12.5H13H16C16.8284 16.5 17.5 15.8284 17.5 15V7C17.5 6.17157 16.8284 5.5 16 5.5H13H12.5V4C12.5 3.17157 11.8284 2.5 11 2.5H9C8.17157 2.5 7.5 3.17157 7.5 4V8.5H7H4C3.17157 8.5 2.5 9.17157 2.5 10V15C2.5 15.8284 3.17157 16.5 4 16.5H7H7.5H8H12Z"
                                            stroke="#8A8894" />
                                    </svg>
                                </div>
                                <div class="card__like icon_like icon">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10 6.82876C8.33333 2.91673 2.5 3.33339 2.5 8.33342C2.5 13.3334 10 17.5001 10 17.5001C10 17.5001 17.5 13.3334 17.5 8.33342C17.5 3.33339 11.6667 2.91673 10 6.82876Z"
                                            stroke="#8A8894" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="card__gallery swiper">
                            <div class="card__gallery-wrapper swiper-wrapper">
                                <div class="card__gallery-slide swiper-slide">
                                    <a href="" class="card__img">
                                        <img src="./images/card.png" alt="card">
                                    </a>
                                </div>
                                <div class="card__gallery-slide swiper-slide">
                                    <a href="" class="card__img">
                                        <img src="./images/card.png" alt="card">
                                    </a>
                                </div>
                                <div class="card__gallery-slide swiper-slide">
                                    <a href="" class="card__img">
                                        <img src="./images/card.png" alt="card">
                                    </a>
                                </div>
                            </div>
                            <div class="card__gallery-pagination slider-pagination"></div>
                        </div>
                        <div class="card__main">
                            <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                            <div class="card__mid">
                                <div class="card__rating">
                                    <div class="card__rating-stars rating-stars">
                                        <div class="rating-stars__current" style="width:100%"></div>
                                    </div>
                                    <div class="card__rating-num caption">8</div>
                                </div>
                                <div class="card__state card-state card-state_false caption-large">В наличии</div>
                            </div>
                            <div class="card__main-hash-list gray-text caption">
                                <div class="card__main-hash">Всем скидки и бонусы!</div>
                                <div class="card__main-hash">-10 % на бренд Shifeng</div>
                                <div class="card__main-hash">Весенняя распродажа</div>
                            </div>
                            <div class="card__main-info caption">
                                <div class="card__main-info-item">
                                    <div class="card__main-info-key">Страна происхождения:</div>
                                    <div class="card__main-info-value">Китай</div>
                                </div>
                                <div class="card__main-info-item">
                                    <div class="card__main-info-key">Страна сборки:</div>
                                    <div class="card__main-info-value">Россия</div>
                                </div>
                                <div class="card__main-info-item">
                                    <div class="card__main-info-key">Тип коробки передач:</div>
                                    <div class="card__main-info-value">Механическая КПП</div>
                                </div>
                                <div class="card__main-info-item">
                                    <div class="card__main-info-key">Габаритные размеры, мм:</div>
                                    <div class="card__main-info-value">2860 х 1470 х 1400</div>
                                </div>
                                <div class="card__main-info-item">
                                    <div class="card__main-info-key">Объем топливного бака, л:</div>
                                    <div class="card__main-info-value">10</div>
                                </div>
                            </div>
                        </div>

                        <div class="card__order">
                            <div class="card__price">
                                <div class="card__current-price title">349 900 ₽</div>
                                <div class="card__old-price gray-text">369 900 ₽</div>
                            </div>
                            <div class="card__btn btn">Добавить в корзину</div>
                            <div class="card__deliver caption">
                                <div class="card__deliver-item">
                                    <div class="card__deliver-title demibold">Возврат 14 дней</div>
                                </div>
                                <div class="card__deliver-item">
                                    <div class="card__deliver-title demibold">Условия доставки</div>
                                    <div class="card__deliver-list">
                                        <div class="card__deliver-text">Самовывоз</div>
                                        <div class="card__deliver-text">Курьерская доставка</div>
                                        <div class="card__deliver-text">Доставка транспортной компанией</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                    @@include('../card/card.html')
                </div>
                <div class="catalog__load-btn btn btn_transparent">Показать ещё</div>
                <div class="catalog__pagination pagination demibold">
                    <div class="pagination__prev"></div>
                    <div class="pagination__item pagination__item_active">1</div>
                    <div class="pagination__item">2</div>
                    <div class="pagination__item">3</div>
                    <div class="pagination__item">4</div>
                    <div class="pagination__item">5</div>
                    <div class="pagination__item">...</div>
                    <div class="pagination__item">15</div>
                    <div class="pagination__next"></div>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('../text-block/text-block.html')