.header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    &-stick {
        & .header {
            &__line {
                height: 0;
            }
            &__btm {
                margin-top: -60px;
            }
        }
    }
    &__line {
        overflow: hidden;
        transition: all ease 0.5s;
        display: flex;
        justify-content: center;
        background: #f7f8fb;
        height: 60px;
        & img {
            object-fit: cover;
            height: 60px;
        }
    }
    &__link {
        display: flex;
        gap: 5px;
        align-items: center;
        color: #8a8894;
        & span {
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__links {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        align-items: center;
        padding: 13px 0;
    }
    &__region {
        width: 307px;
    }
    &__region-title {
        padding-left: 25px;
        &::before {
            display: block;
            content: "";
            width: 15px;
            height: 15px;
            background-image: url(../images/icons/Map_Pin.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__region-list {
        background-color: #fff;
    }
    &__wrapper {
        background-color: #fff;
    }
    &__mid {
        padding: 15px 0;
        display: grid;
        grid-template-columns: 2fr 10fr;
        position: relative;
        z-index: 2;
        background-color: #fff;
        gap: 30px;
    }
    &__logo {
        width: 160px;
        height: 50px;
    }
    &__search {
        width: 100%;
        max-width: 705px;
    }
    &__body {
        display: flex;
        gap: 30px;
    }
    &__login {
        display: block;
        width: 100%;
        max-width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url(../images/icons/personal\ account.svg);
    }
    &__body-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        position: relative;
        & span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #f93232;
            color: #fff;
            position: absolute;
            right: -5px;
            top: -5px;
            transform: scale(0);
            transition: all ease 0.5s;
            font-weight: 600;
            font-size: 12px;
            font-feature-settings: normal;
        }
        &_notification span {
            transform: scale(1);
        }
        &_mobile {
            display: none;
        }
    }
    &__body-btn-icon {
        width: 24px;
        height: 24px;
        position: relative;
    }
    &__nav-btn {
        padding: 10px 20px;
    }
    &__btm {
        display: flex;
        gap: 30px;
        padding-top: 15px;
        overflow: hidden;
        transition: all ease 0.5s;
        height: 60px;
    }
    &__nav-links {
        background: #f7f8fb;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 10px 50px;
        align-items: center;
        width: 100%;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__nav-link {
        white-space: nowrap;
    }
}

.search {
    width: 100%;
    &__form {
        display: flex;
        width: 100%;
    }
    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 0px 5px 5px 0px;
        & span {
            width: 20px;
            height: 20px;
            display: flex;
        }
    }
    &__input {
        border: 1.5px solid #e25b26;
        border-radius: 5px 0px 0px 5px;
        padding: 13px 20px;
        width: 100%;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    display: none;
    transition: all ease 0.5s;
    &-open {
        overflow: hidden;
        & .menu {
            pointer-events: all;
            background-color: rgba(18, 65, 68, 0.8);
            &__nav {
                transform: none;
            }
        }
    }
    &__list {
        display: flex;
        gap: 15px;
        justify-content: space-evenly;
        padding: 11px 15px;
        background-color: #fff;
        border-top: 1px solid #ebebeb;
        pointer-events: all;
        margin-top: auto;
        width: 100%;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        &_notification {
            & .menu__item-icon span {
                display: flex;
            }
        }
    }
    &__icon {
        position: relative;
        width: 24px;
        height: 24px;
        & span {
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            color: #fff;
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
            position: absolute;
            right: -6px;
            top: -6px;
            background-color: #f93232;

            display: none;
        }
    }
    &__nav {
        pointer-events: all;
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 15px;
        border-radius: 5px;
        padding: 15px;
        background-color: #fff;
        transition: all ease 0.5s;
        transform: translateY(100%);

        height: auto;
        width: fit-content;
        min-width: 290px;
        max-width: 570px;
        padding-bottom: 66px;
        max-height: calc(100% - 15px);
    }
    &__nav-logo {
        width: 104px;
        height: 33px;
        display: block;
    }
    &__nav-top {
        display: flex;
        justify-content: space-between;
    }
    &__nav-close {
        display: flex;
        height: 100%;
    }
    &__nav-list {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: auto;
        max-height: calc(100vh - 75px - 90px);
        height: 100%;
        padding-bottom: 20px;
    }
    &__nav-link {
        display: flex;
        gap: 5px;
        align-items: center;
    }
}

@media (max-width: 1150px) {
    .menu {
        display: flex;
    }
    .header {
        &__body {
            gap: 15px;
        }
        &__body-btn {
            display: none;
            &_mobile {
                display: flex;
            }
        }
        &__search {
            max-width: none;
        }
        &__nav-btn {
            display: none;
        }
        &__top {
            display: none;
        }
        &__order-btn {
            display: none;
        }
        &__line {
            display: none;
        }
        &__search {
            margin-right: 15px;
        }
        &__nav-links {
            padding: 14px 15px;
            gap: 20px;
        }
        &__btm {
            padding-top: 5px;
        }
    }
    .search {
        &__form {
            gap: 5px;
        }
        &__input {
            border-radius: 5px;
        }
        &__btn {
            border-radius: 5px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__logo {
            width: 100%;
            max-width: 104px;
            height: 33px;
            margin: auto 0;
        }
        &__body {
            width: 100%;
        }
    }
    .search {
        &__btn {
            gap: 0;
            font-size: 0;
            padding: 8px;
            min-width: 40px;
            & svg,
            & span {
                width: 24px;
                height: 24px;
            }
        }
        &__input {
            padding: 9px 10px;
        }
    }
}

@media (max-width: 570px) {
    .header {
        &__mid {
            grid-template-columns: 1fr 1fr;
            row-gap: 20px;
        }
        &__search {
            grid-column: span 2;
        }
        &__body {
            justify-content: flex-end;
        }
        &__nav-links {
            font-size: 12px;
            line-height: 130%;
        }
    }
}
