$color-light: #FFFFFF;
$color-light-gray: #F6F6F6;
$color-gray: #F8F8F8;
$color-light-blue: #EEF3FE;
$color-light-blue2: #E6EDFF;
$color-light-blue3: #A6BDFB;
$color-primary: #1783D3;
$color-secondary: #515A6D;
$color-secondary2: #808080;
$color-secondary3: #5B5B5B;
$color-dark-blue: #27365F;
$color-black: #1C1C1C;