.select {
  position: relative;

  max-width: 290px;
  width: 100%;
  &.--active {
    .select {
      &__current-value::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  &__current-value {
    position: relative;

    padding: 12px 30px;
    background-color: $color-gray;
    color: $color-secondary;

    @extend .pointer;
    @media screen and (max-width: 575.98px) {
      padding: 12px 20px;
    }
    &::after {
      content: '';

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 30px;

      width: 12px;
      height: 9px;
      background-image: url(../img/icons/arrowDown.svg);
      background-repeat: no-repeat;

      transition: 0.4s;
      @media screen and (max-width: 575.98px) {
        right: 20px;
      }
    }
  }
  &__list {
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    display: none;
    padding: 20px 30px;
    width: 100%;
    flex-direction: column;
    row-gap: 5px;

    background-color: $color-light;
    box-shadow: 0px 5px 15px rgba(39, 54, 95, 0.15);
    li {
      color: $color-secondary;

      transition: 0.4s;

      @extend .pointer;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
