<section class="section sale-block">
    <div class="container">
        <div class="sale-block__title title">Промоакции</div>
        <div class="sale-block__list">
            <div class="sale-block__item sale-item">
                <div class="sale-item__img">
                    <img src="" alt="img">
                </div>
                <div class="sale-item__date caption-large gray-text">До 15 мая</div>
                <div class="sale-item__name subtitle">Заголовок новой акции со своей страницей!</div>
                <div class="sale-item__text">Подзаголовок для привлечения внимания!</div>
            </div>
            <div class="sale-block__item sale-item">
                <div class="sale-item__img">
                    <img src="" alt="img">
                </div>
                <div class="sale-item__date caption-large gray-text">До 15 мая</div>
                <div class="sale-item__name subtitle">Заголовок новой акции со своей страницей!</div>
                <div class="sale-item__text">Подзаголовок для привлечения внимания!</div>
            </div>
            <div class="sale-block__item sale-item">
                <div class="sale-item__img">
                    <img src="" alt="img">
                </div>
                <div class="sale-item__date caption-large gray-text">До 15 мая</div>
                <div class="sale-item__name subtitle">Заголовок новой акции со своей страницей!</div>
                <div class="sale-item__text">Подзаголовок для привлечения внимания!</div>
            </div>
            <div class="sale-block__item sale-item">
                <div class="sale-item__img">
                    <img src="" alt="img">
                </div>
                <div class="sale-item__date caption-large gray-text">До 15 мая</div>
                <div class="sale-item__name subtitle">Заголовок новой акции со своей страницей!</div>
                <div class="sale-item__text">Подзаголовок для привлечения внимания!</div>
            </div>
            <div class="sale-block__item sale-item">
                <div class="sale-item__img">
                    <img src="" alt="img">
                </div>
                <div class="sale-item__date caption-large gray-text">До 15 мая</div>
                <div class="sale-item__name subtitle">Заголовок новой акции со своей страницей!</div>
                <div class="sale-item__text">Подзаголовок для привлечения внимания!</div>
            </div>
            <div class="sale-block__item sale-item">
                <div class="sale-item__img">
                    <img src="" alt="img">
                </div>
                <div class="sale-item__date caption-large gray-text">До 15 мая</div>
                <div class="sale-item__name subtitle">Заголовок новой акции со своей страницей!</div>
                <div class="sale-item__text">Подзаголовок для привлечения внимания!</div>
            </div>
            <div class="sale-block__item sale-item">
                <div class="sale-item__img">
                    <img src="" alt="img">
                </div>
                <div class="sale-item__date caption-large gray-text">До 15 мая</div>
                <div class="sale-item__name subtitle">Заголовок новой акции со своей страницей!</div>
                <div class="sale-item__text">Подзаголовок для привлечения внимания!</div>
            </div>
            <div class="sale-block__item sale-item">
                <div class="sale-item__img">
                    <img src="" alt="img">
                </div>
                <div class="sale-item__date caption-large gray-text">До 15 мая</div>
                <div class="sale-item__name subtitle">Заголовок новой акции со своей страницей!</div>
                <div class="sale-item__text">Подзаголовок для привлечения внимания!</div>
            </div>
        </div>
        <div class="sale-block__load-btn btn btn_transparent">Показать ещё</div>
        <div class="sale-block__pagination pagination demibold">
            <div class="pagination__prev"></div>
            <div class="pagination__item pagination__item_active">1</div>
            <div class="pagination__item">2</div>
            <div class="pagination__item">3</div>
            <div class="pagination__item">...</div>
            <div class="pagination__item">15</div>
            <div class="pagination__next"></div>
        </div>
    </div>
</section>