.popup {
  background-color: #f2f2f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
}
.popup__wrapper {
  width: 375px;
  max-width: 100%;
  padding: 42px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.popup__body {
  border-radius: 16px;
  background: #fff;
  padding: 60px;
  width: 100%;
}
.popup__title {
  color: #050505;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 16px;
}
.popup__input-field {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  display: none;
}
.popup__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 50px;
  border: 1px solid #6b666a;
  padding: 14px 20px;
  margin-bottom: 16px;
  background-color: #fff;
  color: #6b666a;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.043px;
  cursor: pointer;
}
.popup__input_selected {
  background-color: #050505;
  color: #f2f2f5;
}
.popup__btn {
  border-radius: 50px;
  background: #d95c5c;
  padding: 16px;
  width: 100%;
  color: #fff;
  text-align: center;
  -webkit-font-feature-settings: "cpsp" on;
          font-feature-settings: "cpsp" on;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.popup_show {
  opacity: 1;
  pointer-events: all;
}
.popup_show .popup__wrapper {
  -webkit-transform: none;
          transform: none;
}