<section class="section catalog-list">
    <div class="container">
        <div class="catalog-list__title orange-text title" style="background-image: url(./images/icons/con1.svg);">
            @@title
        </div>
        <div class="catalog-list__wrapper">
            <div class="catalog-list__filter">
                <div class="catalog-list__filter-title bold">По бренду</div>
                <ul class="catalog-list__filter-list">
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                </ul>
            </div>
            <div class="catalog-list__filter">
                <div class="catalog-list__filter-title bold">По назначению</div>
                <ul class="catalog-list__filter-list">
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                </ul>
            </div>
            <div class="catalog-list__filter">
                <div class="catalog-list__filter-title bold">По типу</div>
                <ul class="catalog-list__filter-list">
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                </ul>
            </div>
            <div class="catalog-list__filter">
                <div class="catalog-list__filter-title bold">Страна производства</div>
                <ul class="catalog-list__filter-list">
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                    <li class="catalog-list__filter-item">
                        <a href="" class="catalog-list__filter-link">СКАУТ | SCOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>