<section class="section partners">
    <div class="container">
        <div class="title">@@title</div>
        <div class="partners__slider-container">
            <div class="partners__slider swiper">
                <div class="partners__slider-wrapper swiper-wrapper">
                    <div class="partners__slide swiper-slide">
                        <div class="partners__img">
                            <img src="../../images/partners/partner-1.png" alt="logo">
                        </div>
                    </div>
                    <div class="partners__slide swiper-slide">
                        <div class="partners__img">
                            <img src="../../images/partners/partner-2.png" alt="logo">
                        </div>
                    </div>
                    <div class="partners__slide swiper-slide">
                        <div class="partners__img">
                            <img src="../../images/partners/partner-3.png" alt="logo">
                        </div>
                    </div>
                    <div class="partners__slide swiper-slide">
                        <div class="partners__img">
                            <img src="../../images/partners/partner-4.png" alt="logo">
                        </div>
                    </div>
                    <div class="partners__slide swiper-slide">
                        <div class="partners__img">
                            <img src="../../images/partners/partner-5.png" alt="logo">
                        </div>
                    </div>
                    <div class="partners__slide swiper-slide">
                        <div class="partners__img">
                            <img src="../../images/partners/partner-6.png" alt="logo">
                        </div>
                    </div>
                    <div class="partners__slide swiper-slide">
                        <div class="partners__img">
                            <img src="../../images/partners/partner-7.png" alt="logo">
                        </div>
                    </div>
                    <div class="partners__slide swiper-slide">
                        <div class="partners__img">
                            <img src="../../images/partners/partner-8.png" alt="logo">
                        </div>
                    </div>
                    <div class="partners__slide swiper-slide">
                        <div class="partners__img">
                            <img src="../../images/partners/partner-8.png" alt="logo">
                        </div>
                    </div>
                    <div class="partners__slide swiper-slide">
                        <div class="partners__img">
                            <img src="../../images/partners/partner-8.png" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="partners__navigation slider-navigation slider-navigation_outside slider-navigation_gray">
                    <div class="partners__prev slider-prev"></div>
                    <div class="partners__next slider-next"></div>
                </div>
            </div>
        </div>
        <div class="partners__pagination slider-pagination"></div>
    </div>
</section>