.line-form {
    &__text {
        margin-top: 5px;
        position: relative;
        z-index: 3;
    }
    &__btn {
        position: relative;
        z-index: 3;
    }
    &__item {
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding: 37px 50px;
        display: flex;
        align-items: center;
        gap: 50px;
        width: 100%;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        z-index: 1;
        background-image: url(../../images/Pattern_Монтажная\ область\ 1\ копия\ 2.svg);
        background-size: 223px 130px;
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    &__wrapper {
        display: flex;
        gap: 30px;
    }
    &__title {
        width: 100%;
        position: relative;
        z-index: 3;
    }
    &__info-text {
        margin-top: 5px;
    }
    &__info {
        &::before {
            display: block;
            content: "";
            width: 66px;
            height: 66px;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            left: -20px;
            bottom: -30px;
        }
        &::after {
            display: block;
            content: "";
            width: 66px;
            height: 66px;
            border-radius: 50%;
            background-color: #e25b26;
            position: absolute;
            right: -30px;
            top: -30px;
        }
    }
    &__form {
        &::before {
            display: block;
            content: "";
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background-color: #124144;
            position: absolute;
            left: -10px;
            bottom: -10px;
        }
        &::after {
            display: block;
            content: "";
            width: 32px;
            height: 32px;
            background-color: #fff;
            position: absolute;
            right: 10px;
            top: 10px;
            mask-image: url(../../images/icons/leaf.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
        }
    }
    &__input {
        position: relative;
        z-index: 3;
    }
}

@media (max-width: 1200px) {
    .line-form {
        &__item {
            flex-direction: column;
            align-items: flex-start;
            background-position: right bottom -20px;
            gap: 30px;
        }
        &__title {
            padding-right: 40px;
        }
    }
}

@media (max-width: 768px) {
    .line-form {
        &__item {
            padding: 15px;
        }
        &__wrapper {
            gap: 15px;
        }
    }
}

@media (max-width: 570px) {
    .line-form {
        &__wrapper {
            flex-direction: column;
        }
        &__item {
            background-position: right bottom -30px;
        }
        &__info {
            background-position: right bottom -45px;
        }
    }
}
