<section class="section gray-bg advantages">
    <div class="container">
        <div class="title">@@title</div>
        <div class="advantages__wrapper">
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="./images/icons/advantage-1.svg" alt="icon">
                </div>
                <div class="advantages__text">Доставка</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="./images/icons/advantage-2.svg" alt="icon">
                </div>
                <div class="advantages__text">Услуги и сервис</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="./images/icons/advantage-3.svg" alt="icon">
                </div>
                <div class="advantages__text">Расширенная гарантия</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="./images/icons/advantage-4.svg" alt="icon">
                </div>
                <div class="advantages__text">Лучшая цена</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="./images/icons/advantage-5.svg" alt="icon">
                </div>
                <div class="advantages__text">Лизинг</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="./images/icons/advantage-6.svg" alt="icon">
                </div>
                <div class="advantages__text">Бонусная программа</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="./images/icons/advantage-7.svg" alt="icon">
                </div>
                <div class="advantages__text">Торги</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="./images/icons/advantage-8.svg" alt="icon">
                </div>
                <div class="advantages__text">Гарантия возврата</div>
            </div>
        </div>
    </div>
</section>