.advantages__item {
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 15px;
}
.advantages__item:hover .advantages__icon-bg {
  fill: #ebebeb;
}
.advantages__item:hover .advantages__icon-pin {
  fill: #e25b26;
}
.advantages__item:hover .advantages__icon-leafs {
  transform: none;
}
.advantages__slider {
  height: 210px;
}
.advantages__slide {
  height: calc((100% - 30px) / 2) !important;
}
.advantages__icon path, .advantages__icon circle {
  transition: all ease 0.5s;
}
.advantages__icon-leafs {
  transition: all ease 0.5s;
  transform: rotate(90deg) translate(-10px, 5px) scale(0.5);
  transform-origin: center;
}