.footer {
  background: #f7f8fb;
}
.footer__dev-wrapper {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  color: #c9c8d3;
  padding: 20px 0;
}
.footer__dev {
  border-top: 1px solid #c9c8d3;
}
.footer__dev-author {
  display: flex;
  gap: 7px;
}
.footer__dev-links {
  display: flex;
  gap: 30px;
}
.footer__wrapper {
  padding: 60px 0;
}
.footer__nav {
  width: 100%;
  max-width: 1010px;
}
.footer__nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.footer__subnav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #8a8894;
  margin-top: 15px;
}
.footer__nav-link_lvl1 {
  color: #3f3f3f;
  font-weight: 500;
}
.footer__wrapper {
  display: flex;
}
.footer__info-tel {
  text-align: right;
}
.footer__info-tel-label {
  margin-top: 5px;
  color: #c9c8d3;
}
.footer__info-top {
  display: flex;
  justify-content: flex-end;
  gap: 70px;
  margin-bottom: 40px;
}
.footer__info-title {
  color: #8a8894;
  margin-bottom: 10px;
  text-align: right;
}
.footer__info-payment {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.footer__info-payment img {
  width: 45px;
  height: 30px;
}
.footer__info-btm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.footer__info {
  max-width: 490px;
  width: 100%;
}
.footer__info-social {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

@media (max-width: 1150px) {
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__info {
    display: flex;
    gap: 15px;
    max-width: none;
    margin-top: 30px;
  }
  .footer__info-top {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 0;
  }
  .footer__info-title {
    text-align: left;
  }
  .footer__info-payment {
    justify-content: flex-start;
  }
  .footer__info-btm {
    width: 100%;
  }
  .footer__info-item {
    width: 100%;
  }
  .footer__info-social {
    justify-content: flex-start;
  }
  .footer__info-tel {
    text-align: left;
    width: 230px;
    max-width: 100%;
  }
  .footer__dev-wrapper {
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .footer__dev-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 700px;
  }
  .footer__nav-item {
    max-width: 50%;
  }
}
@media (max-width: 570px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer__info-social {
    gap: 10px;
  }
  .footer__info-btm {
    display: flex;
    gap: 20px;
  }
  .footer__nav-link {
    display: inline-block;
  }
  .footer__info-payment {
    min-width: 156px;
  }
  .footer__nav-list {
    max-height: none;
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__subnav {
    gap: 5px;
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: all ease 0.5s;
  }
  .footer__nav-item {
    max-width: 100%;
  }
  .footer__nav-item_has-children .footer__nav-link_lvl1 {
    position: relative;
    padding-right: 30px;
  }
  .footer__nav-item_has-children .footer__nav-link_lvl1::after {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/icons/Caret_Down_MD.svg);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease 0.5s;
  }
  .footer__dev-links {
    display: flex;
    flex-direction: column;
  }
  .accordion_v1 .a-container_open .footer__subnav {
    margin-top: 10px;
  }
  .accordion_v1 .a-container_open .footer__nav-link_lvl1::after {
    transform: translateY(-50%) rotate(180deg);
  }
}