@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Overpass:wght@100;200;300;400;500;600;700;800&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");

:root {
	--black-1: #000;
	--black-2: #1a1a1a;
	--black-3: #424242;
	--gray-1: #c7c7cc;
	--white-1: #fff;
	--white-2: #e5e5ea;
}

.container {
	width: 1400px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}

body {
	color: var(--black-1);
	font-family: Inter;
	font-size: 12px;
	font-weight: 300;
	line-height: 130%;
	letter-spacing: 0.24px;
	overscroll-behavior: none;
}

html {
	overscroll-behavior: none;
}

.subtitle {
	color: var(--black-3);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: 0.32px;
	text-transform: uppercase;
}

.btn {
	width: 100%;
	background-color: var(--black-2);
	padding: 15px;
	color: var(--white-1);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0.32px;
}

.slider-navigation {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: flex-end;
	pointer-events: none;
}

.slider-prev,
.slider-next {
	display: flex;
	width: 15px;
	height: 20px;
	background-image: url(../img/icons/arrow.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: all;
	cursor: pointer;
}

.slider-prev {
	transform: scaleX(-1);
	display: none;
}

.fancybox__backdrop {
	background-color: var(--white-1);
}

.f-button {
	background-color: transparent;
	color: var(--black-3);
	& svg {
		filter: none;
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background-color: var(--white-1);
	&__wrapper {
		padding: 10px 0 16px;
	}
	&__logo {
		display: flex;
		max-width: 86px;
		max-height: 23px;
		margin: 0 auto;
	}
	margin-bottom: 10px;
	transition: all ease-in-out 0.5s;
}

.menu {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--white-1);
	border: solid var(--white-2);
	border-width: 1px 0 1px 0;
	z-index: 10;
	&__wrapper {
		padding: 10px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.main {
	padding-top: 50px;
}

.detail-card {
	&__slider-container {
		margin-bottom: 31px;
		position: relative;
		height: calc(100svh - 400px) !important;
		transition: all ease-in-out 0.5s;
	}
	&__slider {
		position: fixed;
		top: 50px;
		width: calc(100% - 60px);
		height: calc(100svh - 400px) !important;
		min-height: 200px;
		transition: all ease-in-out 0.5s;
	}
	&__slide {
		& img {
			object-fit: contain;
		}
	}
	&__sticker {
		font-size: 10px;
		font-weight: 500;
		line-height: 130%;
		letter-spacing: 1.3px;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		left: 0;
		transform: rotate(-90deg) translateY(-50%);
		z-index: 3;
	}
	&__navigation {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 3;
		width: 100%;
	}
	&__name {
		margin-bottom: 10px;
	}
	&__desc {
		margin-bottom: 15px;
	}
	&__size {
		display: flex;
		align-items: center;
		gap: 15px;
	}
	&__price {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		&-old {
			color: var(--gray-1);
			font-size: 10px;
			font-weight: 500;
			line-height: 130%;
			letter-spacing: 0.2px;
			text-decoration: line-through;
			text-transform: uppercase;
		}
	}
	&__body-info {
		margin-bottom: 15px;
		max-height: 200px;
		transition: all ease-in-out 0.5s;
		overflow: hidden;
	}
	&__body-container {
		position: fixed;
		left: 0;
		bottom: 0;
		height: auto;
		width: 100%;
		z-index: 4;
	}
	&__body {
		border-radius: 40px 40px 0px 0px;
		background: var(--white-1);
		box-shadow: 0px 0px 17px 0px rgba(190, 190, 190, 0.45);
		padding: 20px 30px;
		padding-bottom: 70px;
		// margin: 0 -30px;
		// width: calc(100% + 60px);
		z-index: 2;
		position: relative;

		max-height: calc(100% - 5px);
		overflow-y: auto;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__text {
		margin-top: 45px;
		padding-bottom: 20px;
		border-bottom: 1px solid var(--white-2);
		margin-bottom: 25px;
	}
	&__text-title {
		margin-bottom: 10px;
	}
	&__desc-container {
		transition: all ease-in-out 0.5s;
		max-height: 0;
		overflow: hidden;
	}
	& .accordion {
		display: flex;
		flex-direction: column;
		gap: 25px;
		&__btn {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			transition: all ease-in-out 0.5s;
			&::after {
				display: inline-block;
				content: "";
				background-image: url(../img/icons/arrow.svg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				width: 8px;
				height: 15px;
			}
		}
		&__body {
			overflow: hidden;
			transition: all ease-in-out 0.5s;
		}
		&__item_open {
			& .accordion {
				&__btn {
					margin-bottom: 10px;
				}
			}
		}
	}
	&[data-position="hide"] {
		.detail-card {
			&__body-info {
				max-height: 0;
				margin-bottom: 5px;
			}
			&__slider {
				height: calc(100svh - 213px) !important;
			}
			&__slider-container {
				height: calc(100svh - 213px) !important;
			}
		}
	}
	&[data-position="show"] {
		.detail-card {
			&__desc-container {
				max-height: none;
			}
			&__body-container {
				margin: 0 -30px;
				width: calc(100% + 60px);
				position: relative;
			}
		}
	}
}

.size {
	padding: 10px 15px;
	--color: var(--gray-1);
	border: 1px solid var(--color);
	color: var(--color);
	transition: all ease-in-out 0.5s;
	&_active {
		--color: var(--black-2);
	}
}
