@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	background-color: #f8f9fa;
	color: #333333;
}

.page-title {
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
}

.title {
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 130%;
}

.small-text {
	font-size: 12px;
	line-height: 15px;
}

b {
	font-weight: 500;
}

.content {
	& h3 {
		font-weight: 600;
		font-size: 24px;
		line-height: 130%;
		margin-bottom: 40px;
	}
}

@media (max-width: 570px) {
	body {
		font-size: 14px;
		line-height: 130%;
	}

	.page-title {
		font-size: 28px;
		line-height: 34px;
	}

	.title {
		font-size: 22px;
		line-height: 27px;
		margin-bottom: 30px;
	}

	.subtitle {
		font-size: 18px;
		line-height: 130%;
	}

	.small-text {
		font-size: 10px;
		line-height: 12px;
	}
	.content {
		& h3 {
			font-size: 18px;
			line-height: 130%;
			margin-bottom: 20px;
		}
	}
}

// colors

.white-text {
	color: #fff;
}

.dark-gray-text {
	color: #333333;
}

.gray-text {
	color: #7d7d7d;
}

.bg-white {
	background-color: #fff;
}

// ui components

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 20px;
	border-radius: 10px;
	background-color: #0559d6;
	cursor: pointer;
	transition: all ease 0.5s;
	color: #fff;
	height: fit-content;
	position: relative;
	overflow: hidden;
	z-index: 1;
	user-select: none;
	&:hover {
		background-color: rgba(5, 89, 214, 0.8);
	}
	& input {
		background-color: transparent;
		pointer-events: none;
	}
	&_transparent {
		background-color: transparent;
		border: 2px solid #ffffff;
		&:hover {
			border-color: #0559d6;
			background-color: #0559d6;
		}
	}
	&_link {
		padding: 10px 15px;
		padding-right: 40px;
		border-radius: 20px;
		background-image: url(../img/icon/btn-link-arrow.svg);
		background-repeat: no-repeat;
		background-position: center right 15px;
		background-size: 15px;
	}
	&_big {
		padding: 25px 0;
		border-radius: 15px;
	}
	&_hash {
		padding: 10px 15px;
		border-radius: 20px;
		border-color: #0559d6;
		color: #0559d6;
		&:hover {
			color: #fff;
		}
	}
	&__bg {
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		border-radius: 50%;
		transition: all ease-in-out 0.5s;
		background-color: #014ab6;
		pointer-events: none;
		transform-origin: center;
		transform: translate(-50%, -50%);
		z-index: 2;
	}
	&__content {
		position: relative;
		z-index: 3;
	}
}

.input {
	background: #ffffff;
	border-radius: 15px;
	padding: 25px 20px;
	width: 100%;
	border: 1px solid transparent;
	&:focus {
		border: 1px solid #7d7d7d;
		&::placeholder {
			font-size: 0;
		}
	}
}

@media (max-width: 570px) {
	.btn {
		&_big {
			padding: 15px 0;
		}
	}
	.input {
		padding: 15px 20px;
	}
}

// styles

.container {
	width: 1570px;
	max-width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.section {
	padding: 55px 0;
	& p {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	& ul {
		display: flex;
		flex-direction: column;
		gap: 10px;
		& li {
			position: relative;
			padding-left: 17px;
			&::after {
				display: block;
				content: "";
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: #0559d6;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	& ol {
		padding-left: 20px;
		margin: 20px 0;
		display: flex;
		flex-direction: column;
		gap: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.body-wrapper {
	overflow-x: clip;
}

.mt-0 {
	margin-top: 0 !important;
}

.slider-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: calc(100% + 120px);
	left: -60px;
	top: 50%;
	transform: translateY(-50%);
}

.slider-prev,
.slider-next {
	width: 30px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../img/icon/slider-arrow.svg);
	cursor: pointer;
	&.swiper-button-disabled {
		opacity: 0.5;
		cursor: default;
	}
}

.slider-prev {
	transform: scaleX(-1);
}

.header {
	position: relative;
	z-index: 10;
	background-color: #fff;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		padding: 23px 0;
	}
	&__logo {
		display: flex;
		align-content: center;
		gap: 30px;
		width: 100%;
		max-width: 383px;
		&-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&-title {
			font-weight: 600;
			font-size: 22px;
			line-height: 27px;
		}
		&-subtitle {
			font-size: 18px;
			line-height: 22px;
		}
		&-img {
			max-width: 86px;
			max-height: 86px;
		}
	}
	&__link {
		cursor: pointer;
		height: 20px;
		display: flex;
		align-items: center;
		gap: 10px;
		& span {
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: center;
			display: block;
			width: 20px;
			height: 20px;
			background-color: #0559d6;
		}
	}
	&__links {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&__social {
		display: flex;
		align-items: center;
		gap: 15px;
	}
	&__info {
		display: flex;
		align-items: center;
		gap: 30px;
		justify-content: flex-end;
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__menu-btn {
		position: relative;
		height: 16px;
		width: 21px;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
		& span {
			display: block;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background-color: #0559d6;
			transition: all ease 0.5s;
		}
		&::after {
			display: block;
			content: "";
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background-color: #0559d6;
			position: absolute;
			bottom: 0;
			right: 0;
			transition: all ease 0.5s;
		}
		&::before {
			display: block;
			content: "";
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background-color: #0559d6;
			position: absolute;
			top: 0;
			right: 0;
			transition: all ease 0.5s;
		}
	}
	&-open {
		overflow: hidden;
		& .header {
			&__menu-btn::after {
				width: 70%;
			}
			&__nav-panel {
				transform: translate(0);
			}
		}
	}
	&__nav-info {
		flex-direction: column;
		gap: 10px;
		display: none;
	}
	&__nav-info-link {
		padding-left: 30px;
		position: relative;
		& span {
			background-color: #0559d6;
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: center;
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	& .nav {
		&__item {
			position: relative;
			&_has-children .nav__link_lvl1 {
				position: relative;
				padding-right: 25px;
				z-index: 10;
				&::after {
					display: block;
					content: "";
					width: 20px;
					height: 20px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					background-image: url(../img/icon/dropdown-arrow.svg);
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					transition: all ease 0.5s;
				}
			}
			&_open {
				& .nav {
					&__link_lvl1::after {
						transform: translateY(-50%) rotate(180deg);
					}
					&__submenu {
						margin-top: 10px;
					}
				}
			}
		}
		&__link {
			&_lvl1 {
				font-weight: 600;
				font-size: 18px;
				line-height: 22px;
			}
			&_lvl2 {
				color: #7d7d7d;
			}
		}
		&__submenu {
			display: flex;
			flex-direction: column;
			gap: 10px;
			transition: all ease 0.5s;
			overflow: hidden;
		}
		&__list {
			display: flex;
			gap: 50px;
			align-items: center;
		}
	}
}

.home-block {
	margin-bottom: -115px;
	&__slide {
		height: 800px;
		position: relative;
		z-index: 1;
		padding-bottom: 130px;
		display: flex;
	}
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
	}
	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 656px;
	}
	&__content-wrapper {
		width: 100%;
		margin-top: auto;
	}
	&__title {
		margin-bottom: 20px;
		padding-right: 50px;
		& a {
			position: relative;
			&::after {
				display: block;
				content: "";
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: #0559d6;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url(../img/icon/btn-link-arrow.svg);
				position: absolute;
				right: -50px;
				bottom: 10px;
			}
		}
	}
	&__navigation {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		display: flex;
		justify-content: space-between;
		z-index: 2;
		padding: 0 30px;
	}
	&__prev,
	&__next {
		cursor: pointer;
		width: 60px;
		height: 60px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../img/icon/btn-link-arrow.svg);
	}
	&__prev {
		transform: scaleX(-1);
	}
}

.line-form {
	position: relative;
	z-index: 11;
	pointer-events: none;
	&__title {
		color: #fff;
		background-color: #0559d6;
		padding: 60px 50px;
		border-radius: 30px;
		width: 100%;
		max-width: 490px;
		display: flex;
		align-items: center;
	}
	&__wrapper {
		display: flex;
		gap: 30px;
		pointer-events: all;
	}
	&__form {
		padding: 70px 50px 40px;
		width: 100%;
		background: #d6e3f2;
		border-radius: 30px;
	}
	&__inputs {
		display: flex;
		gap: 20px;
	}
	&__acceptance {
		margin-top: 15px;
	}
	&__btn {
		border-radius: 15px;
		padding: 25px 65px;
	}
}

.footer {
	background: #333333;
	color: #fff;
	margin-top: 55px;
	&__wrapper {
		padding: 48px 0 73px;
		display: flex;
		gap: 52px;
	}
	&__logo {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;
		max-width: 208px;
		&-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&-title {
			font-weight: 600;
			font-size: 22px;
			line-height: 27px;
		}
		&-subtitle {
			font-size: 14px;
			line-height: 17px;
		}
		&-img {
			max-width: 120px;
			max-height: 120px;
		}
	}
	&__contacts {
		width: 100%;
		max-width: 315px;
	}
	&__contact-item {
		width: fit-content;
		display: flex;
		align-items: center;
		gap: 10px;
		& span {
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: center;
			display: block;
			width: 20px;
			height: 20px;
			background-color: #fff;
		}
	}
	&__body {
		display: flex;
		justify-content: space-between;
		gap: 75px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 20px;
		color: #cecece;
	}
	& .nav {
		&__list {
			display: flex;
			gap: 30px;
		}
		&__submenu {
			min-width: 230px;
			column-gap: 30px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-top: 20px;
			color: #cecece;
		}
		&__item {
			&_2col .nav {
				&__submenu {
					display: block;
					column-count: 2;
				}
				&__item {
					margin-bottom: 10px;
				}
			}
		}
		&__link_lvl1 {
			font-weight: 500;
		}
	}
	&__dev {
		display: flex;
		justify-content: space-between;
		color: #cecece;
		padding: 17px 0;
		flex-wrap: wrap;
		gap: 20px;
	}
	&__dev-wrapper {
		background-color: #000;
	}
}

.wpcf7-spinner {
	display: none !important;
}
.wpcf7-response-output {
	display: none !important;
}
.wpcf7-not-valid-tip {
	color: #ff0000;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #fff;
	border-radius: 15px;
	pointer-events: none;

	border: 1px solid #ff0000;
	background-repeat: no-repeat;
	background-position: center right 20px;
	background-size: 20px;
	background-image: url(../img/icon/alert-triangle.svg);

	display: flex;
	align-items: center;
	padding-left: 20px;
}
.wpcf7-not-valid:focus + .wpcf7-not-valid-tip {
	display: none;
}
.wpcf7-not-valid {
	border: 1px solid #ff0000 !important;
	background-repeat: no-repeat;
	background-position: center right 20px;
	background-size: 20px;
	background-image: url(../img/icon/alert-triangle.svg);
}

.types {
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}
	&__item {
		border-radius: 30px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 30px;
		overflow: hidden;
		height: 400px;
		padding: 40px;
		z-index: 1;
	}
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		&::after {
			display: block;
			content: "";
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__name {
		max-width: 360px;
	}
	&__link {
		width: fit-content;
	}
}

.about-company {
	&__wrapper {
		position: relative;
		padding: 150px 0 80px;
		z-index: 1;
	}
	&__wave {
		margin-bottom: -50px;
		position: relative;
		z-index: 2;
		&_reverse {
			margin-bottom: 0;
			margin-top: -50px;
			transform: scaleX(-1);
		}
	}
	&__body {
		max-width: 50%;
	}
	&__img {
		width: 685px;
		max-width: 50%;
		height: 100%;
		position: absolute;
		z-index: -1;
		right: 0;
		top: 0;
	}
	&__title {
		margin-bottom: 30px;
	}
	&__list {
		margin-top: 70px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 32px;
		column-gap: 40px;
	}
	&__logo {
		transition: all ease 0.5s;
		opacity: 0.5;
		width: 140px;
		height: 70px;
		& img {
			object-fit: contain;
		}
		&:hover {
			opacity: 1;
		}
	}
}

.advantages {
	counter-reset: num;
	&__wrapper {
		display: flex;
		gap: 30px;
	}
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
		width: 100%;
		&_has-form {
			grid-template-columns: 1fr 1fr;
		}
	}
	&__item {
		background: #ffffff;
		border-radius: 30px;
		padding: 40px;
		padding-top: 85px;
		position: relative;
		counter-increment: num;
		border-top-left-radius: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&::after {
			display: block;
			content: counter(num);
			width: 68px;
			height: 68px;
			background-color: #0559d6;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			border: 9px solid #f8f9fa;
		}
	}
	&__desc {
		margin-top: 25px;
	}
	&__form {
		width: 100%;
		max-width: 630px;
		padding: 70px 40px;
		background: #d6e3f2;
		border-radius: 30px;
	}
	&__form-title {
		margin-bottom: 70px;
	}
	&__form-inputs {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__form-btn {
		width: 100%;
	}
	&__form-acceptance {
		text-align: center;
		margin-top: 40px;
	}
}

.gallery {
	&__slider {
		height: 360px;
	}
	&__slide {
		height: auto;
	}
	&__slider-container {
		position: relative;
	}
}

.faq {
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}
	&__item {
		background: #f8f9fa;
		border-radius: 30px;
		transition: all ease 0.5s;
		position: relative;
		&.a-container_open {
			background: #d6e3f2;
			border-radius: 30px 30px 0 0;
			& .faq {
				&__question {
					&::after {
						background-color: #fff;
						transform: translateY(-50%) rotate(180deg);
					}
				}
				&__answer {
					padding-bottom: 40px;
					background: #d6e3f2;
				}
			}
		}
	}
	&__question {
		padding: 30px 40px;
		padding-right: 110px;
		position: relative;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-weight: 500;
		&::after {
			display: block;
			content: "";
			width: 40px;
			height: 40px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 20px;
			background-image: url(../img/icon/accordion-arrow.svg);
			position: absolute;
			right: 40px;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			transition: all ease 0.5s;
		}
	}
	&__answer {
		height: 0;
		overflow: hidden;
		transition: all ease 0.5s;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		border-radius: 0 0 30px 30px;
		z-index: 2;
		padding: 0 40px;
		background: #f8f9fa;
	}
}

.not-found {
	background-image: url(../img/404.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&__btn {
		width: fit-content;
		padding-left: 40px;
		padding-right: 40px;
		margin-top: 70px;
	}
	&__code {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 128px;
		line-height: 156px;
		color: #0559d6;
	}
	&__title {
		text-align: left;
	}
	&__wrapper {
		max-width: 624px;
		padding: 67px 0;
		min-height: 550px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.service-page {
	&__wrapper {
		display: grid;
		grid-template-columns: 360px auto;
		gap: 30px;
		position: relative;
	}
	&__entrance {
		display: flex;
		gap: 30px;
		padding-bottom: 30px;
	}
	&__img {
		width: 100%;
		height: 390px;
	}
	&__description {
		width: 100%;
	}
	&__title {
		text-align: left;
	}
	&__sidebar {
		position: sticky;
		top: 30px;
	}
	&__block {
		padding: 30px 0;
		&:last-child {
			padding-bottom: 0;
		}
	}
	&__content {
		& ul {
			margin-top: 20px;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__block-title {
		margin-bottom: 40px;
	}
}

.sidebar {
	height: fit-content;
	&__title {
		padding: 15px 20px;
		background: #d6e3f2;
	}
	&__list {
		gap: 0 !important;
	}
	&__item {
		padding: 0 !important;
		&::after {
			display: none !important;
		}
	}
	&__link {
		display: block;
		padding: 15px 20px;
		background-color: #fff;
		transition: all ease 0.5s;
		border: 1px solid #d6e3f2;
		border-top-width: 0;
		&_active {
			background: #0559d6;
			color: #ffffff;
		}
	}
	&__nav {
		max-height: 80vh;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 3px;
			background-color: #fff;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #0559d6;
			border-radius: 2px;
		}
	}
}

.content-img {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 30px;
	& + .content-img {
		padding-top: 0;
	}
	& img {
		object-fit: contain;
	}
}

.blue-block-img {
	display: grid;
	grid-template-columns: 5fr 4fr;
	&__subtitle {
		margin-top: 30px;
	}
	&__text {
		background-color: #0559d6;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 50px;
	}
}

.default-table {
	background: #ffffff;
	border-radius: 30px;
	padding: 60px 30px;
	overflow-x: auto;
	& table {
		border-collapse: collapse;
		width: 100%;
		text-align: left;
	}
	& b {
		font-weight: 600;
	}
	& tr th:last-child,
	& tr td:last-child {
		text-align: right;
	}
	& th {
		color: #0559d6;
		font-weight: 500;
		padding-bottom: 15px;
		min-width: 80px;
	}
	& td {
		padding: 15px 0;
	}
	& tbody tr {
		border-top: 1px solid #cecece;
	}
	& caption {
		caption-side: bottom;
		font-size: 12px;
		line-height: 15px;
		color: #7d7d7d;
		margin-top: 40px;
		text-align: left;
	}
}

.block-video {
	display: grid;
	grid-template-columns: auto 360px;
	grid-auto-rows: 210px;
	gap: 30px;
	&__item {
		position: relative;
	}
	&__item:first-child {
		grid-row: span 2;
	}
	&__btn {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 355px;
		height: 70px;
		max-width: 70%;
		& img {
			object-fit: contain;
		}
	}
}

.read-more {
	&__text {
		overflow: hidden;
		transition: all ease 0.5s;
	}
	&__btn {
		padding-left: 20px;
		padding-right: 20px;
		width: fit-content;
		margin: 0 auto;
		margin-top: 20px;
	}
	&__btn-content {
		pointer-events: none;
	}
}

.breadcrumb {
	margin-top: 20px;
	&__item {
		padding: 5px;
		background-color: #fff;
		border-radius: 2px;
		&:first-child {
			padding: 0;
			& a {
				padding: 5px;
				display: block;
				font-size: 0;
				background-size: 15px;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url(../img/icon/home.svg);
				width: 25px;
			}
		}
	}
	&__wrapper {
		display: flex;
		gap: 5px;
	}
}

@keyframes circle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 0 30px;
	&__circle {
		transform-origin: center;
		animation: circle 2s infinite linear;
	}
}

.main-title {
	text-align: left;
	margin-top: 60px;
	& + .section {
		padding-top: 0;
	}
}

.map {
	&__wrapper {
		width: 100%;
		height: 400px;
	}
	& .ymaps-2-1-79-copyrights-pane {
		display: none;
	}
}

.contacts {
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}
	&__text {
		margin-bottom: 20px;
	}
	&__cert-list {
		display: flex;
		gap: 30px;
		height: 330px;
	}
	&__map-region {
		transition: all ease 0.5s;
		&:hover {
			opacity: 0.5;
		}
	}
}

.review {
	&__slider {
		height: 332px;
	}
	&__slider-container {
		position: relative;
	}
	&__slide {
		position: relative;
		border-radius: 30px;
		overflow: hidden;
		&::after {
			display: block;
			content: "";
			width: 50px;
			height: 50px;
			border-radius: 50%;
			position: absolute;
			bottom: 15px;
			left: 15px;
			background-color: #d6e3f2;
			background-image: url(../img/icon/zoom-in.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 30px;
			transition: all ease 0.5s;
		}
		&:hover::after {
			transform: scale(1.2);
		}
	}
}

.tile {
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-auto-rows: 360px;
		gap: 30px;
	}
	& .read-more__text {
		max-height: 1140px;
	}
}

.vacancy-form {
	&__desc {
		max-width: 750px;
		margin-bottom: 60px;
	}
	&__wrapper {
		display: grid;
		grid-template-columns: 490px auto;
		gap: 30px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__img {
		border-radius: 20px;
		overflow: hidden;
	}
	&__name {
		background: #0559d6;
		border-radius: 20px;
		padding: 30px 50px;
		color: #fff;
		height: auto;
		display: flex;
		align-items: center;
	}
	&__form {
		background: #d6e3f2;
		border-radius: 20px;
		padding: 50px;
	}
	&__inputs {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		margin-bottom: 20px;
	}
	&__btns {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&__btn {
	}
	&__acceptance {
		max-width: 250px;
	}
}

.upload-btn {
	&__title {
		margin-bottom: 10px;
	}
	&__btn {
		background: #bed1e8;
		border-radius: 10px;
		padding: 10px 15px;
		padding-right: 40px;
		background-repeat: no-repeat;
		background-size: 15px;
		background-position: center right 15px;
		background-image: url(../img/icon/download.svg);
		display: inline-block;
		cursor: pointer;
		margin-right: 20px;
	}
	&__text {
		display: inline-flex;
		align-items: center;
	}
	& input {
		display: none;
		width: 0;
		height: 0;
		position: absolute;
		overflow: hidden;
	}
}

.price-list {
	&__desc {
		max-width: 750px;
		margin-bottom: 30px;
	}
	&__subtitle {
		margin-bottom: 40px;
		text-align: center;
	}
}

.tab {
	&__item {
		display: none;
		&-active {
			display: block;
		}
	}
	&__link {
		&-active {
			background-color: #0559d6;
			border-color: #0559d6;
			color: #fff;
		}
	}
	&__header {
		display: flex;
		flex-wrap: wrap;
		row-gap: 15px;
		column-gap: 20px;
		margin-bottom: 60px;
	}
}

.img-label {
	&__img {
		border-radius: 5px;
		overflow: hidden;
	}
	&__item {
		max-width: 360px;
		width: 100%;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
	&__label {
		background: #ffffff;
		border-radius: 5px;
		padding: 10px;
		min-height: 83px;
		display: flex;
		align-items: center;
		margin-top: 10px;
		font-weight: 500;
		color: #0559d6;
		text-align: center;
	}
}

// min media
@media (min-width: 1400px) {
	.header {
		& .nav {
			&__submenu {
				background: #ffffff;
				border-radius: 15px;
				padding: 30px 20px;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0;
				pointer-events: none;
				width: 390px;
			}
			&__item {
				&_has-children {
					&:hover {
						& .nav__submenu {
							opacity: 1;
							pointer-events: all;
						}
						&::after {
							transform: translateY(-50%) rotate(180deg);
						}
					}
				}
			}
		}
	}
}

// max media
@media (max-width: 1700px) {
	.slider-navigation {
		width: 100%;
		left: 0;
	}
	.review,
	.gallery {
		&__slider {
			margin: 0 60px;
		}
	}
}

@media (max-width: 1600px) {
	.footer {
		&__wrapper {
			flex-direction: column;
		}
		&__body {
			justify-content: flex-start;
		}
		&__logo {
			flex-direction: row;
			max-width: 400px;
		}
	}
}

@media (max-width: 1400px) {
	.header {
		&__menu-btn {
			display: flex;
		}
		&__body {
			justify-content: center;
		}
		&__wrapper {
			padding: 15px 0;
		}
		&__nav-panel {
			position: absolute;
			z-index: -1;
			width: 320px;
			height: 100vh;
			right: 0;
			top: 100%;
			background-color: #fff;
			padding: 20px;
			padding-bottom: 130px;
			transition: all ease 0.5s;
			transform: translateX(100%);
			overflow-y: auto;
		}
		&__nav-info {
			display: flex;
			margin-top: 40px;
		}
		& .nav {
			&__list {
				flex-direction: column;
				align-items: flex-start;
				gap: 30px;
			}
			&__submenu {
				height: 0;
			}
		}
	}
	.line-form {
		&__inputs {
			flex-direction: column;
			gap: 10px;
		}
		&__input,
		&__btn {
			padding: 15px 20px;
		}
	}
	.tile {
		&__wrapper {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

@media (max-width: 1200px) {
	.header {
		&__link {
			font-size: 0;
		}
		&__links {
			gap: 15px;
		}
	}
	.advantages {
		&__list {
			grid-template-columns: 1fr 1fr;
			&_has-form {
				display: flex;
				flex-direction: column;
			}
		}
	}
	.service-page {
		&__sidebar {
			display: none;
		}
		&__wrapper {
			display: block;
		}
	}
	.footer {
		& .nav__item_2col {
			& .nav__submenu {
				column-count: 1;
			}
		}
	}
	.vacancy-form {
		&__inputs {
			display: flex;
			flex-direction: column;
		}
	}
}

@media (max-width: 1024px) {
	.footer {
		&__body {
			flex-direction: column;
		}
	}
	.home-block {
		&__slide {
			height: 100%;
			padding-top: 130px;
		}
		&__navigation {
			transform: none;
			top: unset;
			bottom: 80px;
			padding: 0 20px;
			left: 0;
			gap: 20px;
			justify-content: flex-start;
		}
		&__prev,
		&__next {
			width: 20px;
			height: 20px;
		}
	}
	.about-company {
		&__body {
			max-width: 100%;
		}
		&__img {
			width: 100%;
			max-width: 100%;
			position: static;
			height: 350px;
			transform: translateX(20px);
			& img {
				object-fit: contain;
				object-position: right;
			}
		}
		&__wrapper {
			padding: 0;
		}
		&__wave {
			margin: 0;
			margin-bottom: 20px;
			&_reverse {
				margin: 0;
				margin-top: 20px;
			}
		}
	}
	.faq {
		&__answer {
			position: static;
			top: unset;
			padding: 0 20px;
		}
		&__question {
			padding: 20px;
			padding-right: 70px;
			&::after {
				right: 20px;
			}
		}
		&__wrapper {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		&__item {
			border-radius: 15px;
			&.a-container_open {
				border-radius: 15px;
				& .faq {
					&__answer {
						padding-bottom: 20px;
					}
				}
			}
		}
	}
	.contacts {
		&__map {
			display: none;
		}
		&__wrapper {
			display: block;
		}
	}
	.tile {
		&__wrapper {
			grid-template-columns: 1fr 1fr;
		}
	}
	.vacancy-form {
		&__wrapper {
			flex-direction: column;
			display: flex;
		}
		&__info {
			flex-direction: column-reverse;
		}
	}
}

@media (max-width: 900px) {
	.header {
		&__btn {
			display: none;
		}
		&__info {
			gap: 15px;
		}
	}
}

@media (max-width: 768px) {
	.line-form {
		&__wrapper {
			flex-direction: column;
			gap: 20px;
		}
		&__title {
			padding: 30px;
			max-width: none;
			border-radius: 15px;
		}
		&__form {
			padding: 30px 20px;
			border-radius: 15px;
		}
	}
	.types {
		&__wrapper {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}
	.advantages {
		&__list {
			display: flex;
			flex-direction: column;
		}
		&__wrapper {
			flex-direction: column;
		}
	}
	.service-page {
		&__entrance {
			flex-direction: column;
		}
	}
	.block-video {
		display: flex;
		flex-direction: column;
	}
	.tile {
		&__wrapper {
			display: flex;
			flex-direction: column;
		}
		&__item {
			height: 360px;
		}
	}
}

@media (max-width: 570px) {
	.section {
		padding: 30px 0;
	}
	.slider-prev,
	.slider-next {
		width: 20px;
		height: 20px;
	}
	.header {
		&__logo {
			gap: 10px;
			&-img {
				width: 40px;
				height: 40px;
				min-width: 40px;
				min-height: 40px;
			}
			&-title {
				font-size: 10px;
				line-height: 12px;
			}
			&-subtitle {
				font-size: 8px;
				line-height: 10px;
			}
		}
		&__link_mobile-dn {
			display: none;
		}
		&__nav-panel {
			width: 100%;
		}
	}
	.footer {
		margin-top: 30px;
		&__wrapper {
			gap: 40px;
			padding: 40px 0;
		}
		&__body {
			gap: 30px;
		}
		&__logo {
			max-width: 268px;
		}
		&__list {
			margin-top: 10px;
		}
		&__logo-title {
			font-size: 16px;
			line-height: 19px;
		}
		&__logo-subtitle {
			font-size: 12px;
			line-height: 14px;
		}
		&__logo-img {
			max-width: 70px;
			max-height: 70px;
		}
		& .nav {
			&__list {
				flex-direction: column;
			}
			&__submenu {
				margin-top: 10px;
			}
		}
	}
	.home-block {
		margin-bottom: -50px;
		&__slide {
			padding-bottom: 100px;
		}
		&__navigation {
			bottom: 50px;
		}
		&__title {
			margin-bottom: 10px;
			& a {
				&::after {
					width: 20px;
					height: 20px;
					right: -30px;
					bottom: 6px;
				}
			}
		}
	}
	.types {
		&__item {
			padding: 20px;
			height: 200px;
			border-radius: 15px;
		}
	}
	.about-company {
		&__title {
			margin-bottom: 20px;
		}
		&__list {
			margin-top: 30px;
			column-gap: 30px;
			row-gap: 20px;
		}
		&__logo {
			width: 120px;
			height: 45px;
		}
	}
	.advantages {
		&__form {
			padding: 30px 20px;
			border-radius: 15px;
		}
		&__form-title {
			margin-bottom: 30px;
		}
		&__form-inputs {
			gap: 10px;
		}
		&__form-acceptance {
			margin-top: 10px;
		}
		&__wrapper {
			gap: 20px;
		}
		&__list {
			gap: 20px;
		}
		&__desc {
			margin-top: 10px;
		}
		&__item {
			padding: 20px;
			padding-top: 56px;
			border-radius: 15px;
			border-top-left-radius: 20px;
			&::after {
				width: 38px;
				height: 38px;
				font-size: 16px;
				line-height: 20px;
				border-width: 4px;
			}
		}
	}
	.gallery {
		&__slider {
			margin: 0 30px;
			height: 220px;
		}
	}
	.not-found {
		&__wrapper {
			min-height: 0;
			height: auto;
		}
		&__code {
			margin-bottom: 10px;
			font-size: 96px;
			line-height: 117px;
		}
		&__btn {
			margin-top: 0px;
		}
	}
	.service-page {
		&__img {
			height: 200px;
		}
		&__block-title {
			margin-bottom: 30px;
		}
	}
	.content-img {
		gap: 25px;
		display: flex;
		flex-direction: column;
	}
	.blue-block-img {
		display: flex;
		flex-direction: column;
		&__text {
			padding: 30px;
		}
		&__subtitle {
			margin-top: 20px;
		}
	}
	.default-table {
		padding: 30px 20px;
		border-radius: 20px;
		& th {
			min-width: 55px;
		}
	}
	.block-video {
		gap: 20px;
	}
	.contacts {
		&__cert-list {
			gap: 20px;
			height: auto;
		}
	}
	.main-title {
		margin-top: 30px;
	}
	.breadcrumb {
		margin-top: 10px;
	}
	.review {
		&__slider {
			margin: 0 30px;
			height: auto;
		}
		&__slide {
			border-radius: 15px;
			&::after {
				width: 30px;
				height: 30px;
				left: 10px;
				bottom: 10px;
				background-size: 15px;
			}
		}
	}
	.tile {
		&__wrapper {
			gap: 20px;
		}
		&__item {
			height: 200px;
		}
		& .read-more__text {
			max-height: 1080px;
		}
	}
	.vacancy-form {
		&__form {
			border-radius: 15px;
			padding: 30px 20px;
		}
		&__inputs {
			gap: 10px;
		}
		&__btns {
			flex-direction: column;
			align-items: flex-start;
		}
		&__btn {
			margin: 0 auto;
			width: 100%;
		}
		& .upload-btn {
			display: flex;
			flex-direction: column;
			align-items: center;
			&__btn {
				margin: 0;
				margin-bottom: 5px;
			}
		}
	}
	.img-label {
		&__item {
			max-width: none;
		}
		&__label {
			min-height: 0;
		}
	}
}
