.text-img {
    &__wrapper {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    &__body {
        width: 100%;
        max-width: 490px;
        margin-left: 70px;
        &_wide {
            margin-left: 0;
            max-width: 750px;
        }
        &_gray {
            padding: 30px;
            border-radius: 5px;
            background: #f7f8fb;
        }
    }
    &__title {
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 20px;
    }
    &__btns {
        display: flex;
        gap: 30px;
    }
    &__img {
        width: 100%;
        max-width: 750px;
    }
}

@media (max-width: 1024px) {
    .text-img {
        &__wrapper {
            flex-direction: column;
        }
        &__body {
            margin: 0;
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            &_left {
                display: block;
                text-align: left;
            }
            &_gray {
                padding: 15px;
            }
        }
        &__btns {
            justify-content: center;
        }
        &__img {
            width: 100%;
            & img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width: 570px) {
    .text-img {
        &__btns {
            flex-direction: column;
            gap: 20px;
        }
    }
}
