<div class="home-slider">
    <div class="title">@@title</div>
    <div class="home-slider__container swiper">
        <div class="home-slider__wrapper swiper-wrapper">
            <a href="#" class="home-slider__slide swiper-slide">
                <div class="home-slider__text">
                    <div class="home-slider__title home-slider__title_leaf orange-text page-title">Скидка
                        10%
                    </div>
                    <div class="home-slider__desc title">На минитракторы Shifeng SF-240B</div>
                </div>
                <div class="home-slider__img">
                    <picture>
                        <source media="(max-width: 570px)"
                            srcset="./images/home-slider/mob-banner.png">
                        <source media="(max-width: 768px)"
                            srcset="./images/home-slider/tab-banner.png">
                        <img src="./images/home-slider/web-banner.png" alt="img">
                    </picture>
                </div>
            </a>
            <a href="#" class="home-slider__slide swiper-slide">
                <div class="home-slider__text">
                    <div class="home-slider__title home-slider__title_leaf orange-text page-title">Скидка
                        10%
                    </div>
                    <div class="home-slider__desc title">На минитракторы Shifeng SF-240B</div>
                </div>
                <div class="home-slider__img">
                    <picture>
                        <source media="(max-width: 570px)"
                            srcset="./images/home-slider/mob-banner.png">
                        <source media="(max-width: 768px)"
                            srcset="./images/home-slider/tab-banner.png">
                        <img src="./images/home-slider/web-banner.png" alt="img">
                    </picture>
                </div>
            </a>
            <a href="#" class="home-slider__slide swiper-slide">
                <div class="home-slider__text">
                    <div class="home-slider__title home-slider__title_leaf orange-text page-title">Скидка
                        10%
                    </div>
                    <div class="home-slider__desc title">На минитракторы Shifeng SF-240B</div>
                </div>
                <div class="home-slider__img">
                    <picture>
                        <source media="(max-width: 570px)"
                            srcset="./images/home-slider/mob-banner.png">
                        <source media="(max-width: 768px)"
                            srcset="./images/home-slider/tab-banner.png">
                        <img src="./images/home-slider/web-banner.png" alt="img">
                    </picture>
                </div>
            </a>
        </div>
        <div class="home-slider__navigation slider-navigation ">
            <div class="home-slider__prev slider-prev"></div>
            <div class="home-slider__next slider-next"></div>
        </div>
    </div>
    <div class="home-slider__pagination slider-pagination"></div>
</div>