<section class="section form-with-tile">
    <div class="container">
        <div class="form-with-tile__title title">Получите консультацию по франчайзингу - заполните форму обратной связи,
            и с вами свяжется представитель компании GARDENSHOP.</div>
        <div class="form-with-tile__wrapper">
            <form class="form-with-tile__form">
                <div class="input mb-10">
                    <input type="text" class="input__field" placeholder="Имя">
                </div>
                <div class="input mb-10">
                    <input type="text" class="input__field" placeholder="Юридическое лицо">
                </div>
                <div class="input mb-10">
                    <input type="tel" class="input__field" placeholder="+7 (___) ___-__-__">
                </div>
                <div class="input mb-10">
                    <input type="email" class="input__field" placeholder="mail@mail.ru">
                </div>
                <div class="form-with-tile__form-btns">
                    <div class="form-with-tile__form-btn btn">Отправить заявку</div>
                    <div class="gray-text caption">Нажимая «Отправить», вы принимаете политику обработки персональных
                        данных</div>
                </div>
            </form>
            <div class="form-with-tile__tile caption">
                <div class="form-with-tile__tile-item">
                    Мы — крупнейший поставщик малогабаритной сельхозтехники в России благодаря не только низким ценами,
                    но и лучшему сервису в отрасли.
                </div>
                <div class="form-with-tile__tile-item">
                    Наша компания прилагает все усилия, чтобы наш гарантийный и послегарантийный сервис год от года
                    становился лучше.
                </div>
                <div class="form-with-tile__tile-item">
                    Мы честно выполняем свои гарантийные обязательства и в спорных ситуациях всегда становимся на
                    сторону покупателя.
                </div>
                <div class="form-with-tile__tile-item">
                    Поэтому больше 90% покупателей высоко оценивают уровень своей удовлетворённости нашим сервисным
                    отделом и нас рекомендуют.
                </div>
            </div>
        </div>
    </div>
</section>