* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #696969;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  padding: 30px 0;
}

.container {
  width: 1290px;
  margin: 0 auto;
}

:root {
  --fsz-16: 16px;
  --lh-120: 120%;
  --color-main: rgb(255, 255, 255);
  --color-secondary: rgb(0, 0, 0);
}

/*---------------------------------------------------*/
.cls-1 {
  fill: #bfa380;
}

.cls-2 {
  fill: #502d13;
}

.cls-3 {
  fill: #dbd6d2;
}

.cls-4 {
  fill: #e7eced;
}

.cls-5 {
  fill: #6c797a;
}

.cls-6 {
  fill: rgba(255, 255, 255, 0.6);
}

.door__img {
  width: 100%;
  height: 80px;
  position: relative;
}

.door__img svg {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.door__img g {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.door__type {
  text-align: center;
}

.door__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.door__border {
  position: relative;
  z-index: 2;
}

.door__body {
  position: relative;
  z-index: -1;
}

.door__body_right {
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.door__body_left {
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.door__img-1:hover .door__body {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(15deg) rotateY(30deg) translateY(-5px) translateX(2.5px);
          transform: skewY(15deg) rotateY(30deg) translateY(-5px) translateX(2.5px);
}

.door__img-2:hover .door__body {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(0.3, 1) translateX(45px);
          transform: scale(0.3, 1) translateX(45px);
}

.door__img-3:hover .door__body_left {
  -webkit-transform: skewY(10deg) rotateY(30deg) translateY(-3px) translateX(2.5px);
          transform: skewY(10deg) rotateY(30deg) translateY(-3px) translateX(2.5px);
}

.door__img-3:hover .door__body_right {
  -webkit-transform: skewY(-10deg) rotateY(30deg) translateY(-3px) translateX(-2.5px);
          transform: skewY(-10deg) rotateY(30deg) translateY(-3px) translateX(-2.5px);
}

.door__img-4:hover .door__body {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.door__img-5:hover .door__body {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  position: relative;
}

.door__img-6:hover .door__body {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  position: relative;
}

.door__img-7:hover .door__body {
  -webkit-transform: scale(0.5, 1.1) translateX(47px) translateY(-5px);
          transform: scale(0.5, 1.1) translateX(47px) translateY(-5px);
}

.door__img-7 .door__body {
  -webkit-clip-path: polygon(0 8px, 100% 0, 100% 100%, 0 calc(100% - 8px));
          clip-path: polygon(0 8px, 100% 0, 100% 100%, 0 calc(100% - 8px));
  -webkit-transform: scale(0.8, 1.1) translateX(10px) translateY(-5px);
          transform: scale(0.8, 1.1) translateX(10px) translateY(-5px);
}
