.partners {
    &__slide {
        background: #f7f8fb;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }
    &__slider {
        position: static;
    }
    &__slider-container {
        position: relative;
    }
}
