<section class="section compare">
    <div class="container">
        <div class="compare__header">
            <div class="dropdown compare__dropdown">
                <div class="dropdown__title">
                    <div class="dropdown__title-text gray-text">Мотоблоки (1)</div>
                    <div class="dropdown__caret">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.3327 8.33331L9.99935 11.6666L6.66602 8.33331" stroke="#3F3F3F"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <div class="dropdown__list">
                    <div class="dropdown__item">Мотоблоки (1)</div>
                    <div class="dropdown__item">Мотоблоки (2)</div>
                    <div class="dropdown__item">Мотоблоки (3)</div>
                </div>
            </div>
            <label class="compare__checkbox checkbox">Только различия
                <input class="checkbox__input" type="checkbox" name="compare" value="Только различия">
                <span class="checkbox__checkmark"></span>
            </label>
            <a href="" class="compare__remove-btn orange-text caption-large">Удалить все</a>
        </div>
        <div class="compare__body">
            <div class="compare__slider-holder">
                <div class="compare__slider swiper">
                    <div class="compare__slider-wrapper swiper-wrapper">
                        <div class="compare__slide swiper-slide card">
                            <div class="card__compare-fix icon"></div>
                            <div class="card__close">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 18L6 6M18 6L6 18" stroke="#8A8894" stroke-width="1"
                                        stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <a href="" class="card__img">
                                <img src="./images/card.png" alt="card">
                            </a>
                            <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В 1</a>
                            <div class="card__mid">
                                <div class="card__rating">
                                    <div class="card__rating-stars rating-stars">
                                        <div class="rating-stars__current" style="width:100%"></div>
                                    </div>
                                    <div class="card__rating-num caption">8</div>
                                </div>
                                <div class="card__state card-state card-state_order caption-large">Под заказ</div>
                            </div>
                            <div class="card__mobile-elem gray-text caption mb-10">Код товара: GS-326</div>
                            <div class="card__bot">
                                <div class="card__price-wrapper">
                                    <div class="card__price">
                                        <div class="card__current-price demibold subtitle">
                                            349 900 ₽
                                        </div>
                                        <div class="card__price-difference caption">-20 000 </div>
                                    </div>
                                    <div class="card__old-price caption">369 900 ₽</div>
                                </div>
                                <div class="card__basket card-basket"></div>
                            </div>
                            <div class="card__mobile-elem btn btn_fill btn_transparent">Купить</div>
                        </div>
                        <div class="compare__slide swiper-slide card">
                            <div class="card__compare-fix icon"></div>
                            <div class="card__close">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 18L6 6M18 6L6 18" stroke="#8A8894" stroke-width="1"
                                        stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <a href="" class="card__img">
                                <img src="./images/card.png" alt="card">
                            </a>
                            <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В 2</a>
                            <div class="card__mid">
                                <div class="card__rating">
                                    <div class="card__rating-stars rating-stars">
                                        <div class="rating-stars__current" style="width:100%"></div>
                                    </div>
                                    <div class="card__rating-num caption">8</div>
                                </div>
                                <div class="card__state card-state card-state_order caption-large">Под заказ</div>
                            </div>
                            <div class="card__mobile-elem gray-text caption mb-10">Код товара: GS-326</div>
                            <div class="card__bot">
                                <div class="card__price-wrapper">
                                    <div class="card__price">
                                        <div class="card__current-price demibold subtitle">
                                            349 900 ₽
                                        </div>
                                        <div class="card__price-difference caption">-20 000 </div>
                                    </div>
                                    <div class="card__old-price caption">369 900 ₽</div>
                                </div>
                                <div class="card__basket card-basket"></div>
                            </div>
                            <div class="card__mobile-elem btn btn_fill btn_transparent">Купить</div>
                        </div>
                        <div class="compare__slide swiper-slide card">
                            <div class="card__compare-fix icon"></div>
                            <div class="card__close">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 18L6 6M18 6L6 18" stroke="#8A8894" stroke-width="1"
                                        stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <a href="" class="card__img">
                                <img src="./images/card.png" alt="card">
                            </a>
                            <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В 3</a>
                            <div class="card__mid">
                                <div class="card__rating">
                                    <div class="card__rating-stars rating-stars">
                                        <div class="rating-stars__current" style="width:100%"></div>
                                    </div>
                                    <div class="card__rating-num caption">8</div>
                                </div>
                                <div class="card__state card-state card-state_order caption-large">Под заказ</div>
                            </div>
                            <div class="card__mobile-elem gray-text caption mb-10">Код товара: GS-326</div>
                            <div class="card__bot">
                                <div class="card__price-wrapper">
                                    <div class="card__price">
                                        <div class="card__current-price demibold subtitle">
                                            349 900 ₽
                                        </div>
                                        <div class="card__price-difference caption">-20 000 </div>
                                    </div>
                                    <div class="card__old-price caption">369 900 ₽</div>
                                </div>
                                <div class="card__basket card-basket"></div>
                            </div>
                            <div class="card__mobile-elem btn btn_fill btn_transparent">Купить</div>
                        </div>
                        <div class="compare__slide swiper-slide card">
                            <div class="card__compare-fix icon"></div>
                            <div class="card__close">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 18L6 6M18 6L6 18" stroke="#8A8894" stroke-width="1"
                                        stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <a href="" class="card__img">
                                <img src="./images/card.png" alt="card">
                            </a>
                            <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В 4</a>
                            <div class="card__mid">
                                <div class="card__rating">
                                    <div class="card__rating-stars rating-stars">
                                        <div class="rating-stars__current" style="width:100%"></div>
                                    </div>
                                    <div class="card__rating-num caption">8</div>
                                </div>
                                <div class="card__state card-state card-state_order caption-large">Под заказ</div>
                            </div>
                            <div class="card__mobile-elem gray-text caption mb-10">Код товара: GS-326</div>
                            <div class="card__bot">
                                <div class="card__price-wrapper">
                                    <div class="card__price">
                                        <div class="card__current-price demibold subtitle">
                                            349 900 ₽
                                        </div>
                                        <div class="card__price-difference caption">-20 000 </div>
                                    </div>
                                    <div class="card__old-price caption">369 900 ₽</div>
                                </div>
                                <div class="card__basket card-basket"></div>
                            </div>
                            <div class="card__mobile-elem btn btn_fill btn_transparent">Купить</div>
                        </div>

                        <a href="" class="compare__slide swiper-slide compare__add-card">
                            <div class="compare__add-card-icon">
                                <svg width="50" height="50" viewBox="0 0 50 50" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.6667 24C16.1144 24 15.6667 24.4477 15.6667 25C15.6667 25.5523 16.1144 26 16.6667 26V24ZM33.3333 26C33.8856 26 34.3333 25.5523 34.3333 25C34.3333 24.4477 33.8856 24 33.3333 24V26ZM24 33.3333C24 33.8856 24.4477 34.3333 25 34.3333C25.5523 34.3333 26 33.8856 26 33.3333H24ZM26 16.6667C26 16.1144 25.5523 15.6667 25 15.6667C24.4477 15.6667 24 16.1144 24 16.6667H26ZM25 42.75C15.1969 42.75 7.25 34.8031 7.25 25H5.25C5.25 35.9076 14.0924 44.75 25 44.75V42.75ZM7.25 25C7.25 15.1969 15.1969 7.25 25 7.25V5.25C14.0924 5.25 5.25 14.0924 5.25 25H7.25ZM25 7.25C34.8031 7.25 42.75 15.1969 42.75 25H44.75C44.75 14.0924 35.9076 5.25 25 5.25V7.25ZM42.75 25C42.75 34.8031 34.8031 42.75 25 42.75V44.75C35.9076 44.75 44.75 35.9076 44.75 25H42.75ZM16.6667 26H33.3333V24H16.6667V26ZM26 33.3333V16.6667H24V33.3333H26Z"
                                        fill="#E25B26" />
                                </svg>
                            </div>
                            <div class="compare__add-card-text subtitle">
                                Добавить товар к сравнению
                            </div>
                        </a>
                    </div>
                    <div class="compare__navigation slider-navigation slider-navigation_outside slider-navigation_gray">
                        <div class="compare__prev slider-prev"></div>
                        <div class="compare__next slider-next"></div>
                    </div>
                    <div class="compare__scrollbar slider-scrollbar"></div>
                </div>
            </div>
            <div class="compare__table">
                <div class="compare__row">
                    <div class="compare__subtitle gray-text">Страна происхождения</div>
                    <div class="compare__subslider-holder">
                        <div class="compare__subslider swiper">
                            <div class="compare__subslider-wrapper swiper-wrapper">
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Китай 1
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Китай 2
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Китай 3
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Китай 4
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="compare__row">
                    <div class="compare__subtitle gray-text">Страна сборки</div>
                    <div class="compare__subslider-holder">
                        <div class="compare__subslider swiper">
                            <div class="compare__subslider-wrapper swiper-wrapper">
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Россия
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Россия
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Россия
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Россия
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="compare__row">
                    <div class="compare__subtitle gray-text">Размер пальца нижней тяги</div>
                    <div class="compare__subslider-holder">
                        <div class="compare__subslider swiper">
                            <div class="compare__subslider-wrapper swiper-wrapper">
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        28,7 мм (1 1 ⁄ 8")
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        28,7 мм (1 1 ⁄ 8")
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        28,7 мм (1 1 ⁄ 8")
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        28,7 мм (1 1 ⁄ 8")
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="compare__row">
                    <div class="compare__subtitle gray-text">Блокировка дифференциала</div>
                    <div class="compare__subslider-holder">
                        <div class="compare__subslider swiper">
                            <div class="compare__subslider-wrapper swiper-wrapper">
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Штатный распределитель для трехточечного подвеса и дополнительный
                                        двухмагистральный
                                        распределитель
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Штатный распределитель для трехточечного подвеса и дополнительный
                                        двухмагистральный
                                        распределитель
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Штатный распределитель для трехточечного подвеса и дополнительный
                                        двухмагистральный
                                        распределитель
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                    <div class="compare__subslide-text">
                                        Штатный распределитель для трехточечного подвеса и дополнительный
                                        двухмагистральный
                                        распределитель
                                    </div>
                                </div>
                                <div class="compare__subslide swiper-slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>