.default-slider {
  width: 100%;
}

.default-slider__slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.default-slider__holder {
  position: relative;
}

.default-slider__container {
  position: static;
}

@media (max-width: 570px) {
  .default-slider .card {
    height: auto;
  }
}
