.default-slider {
    width: 100%;
    &__slide {
        width: fit-content;
    }
    &__holder {
        position: relative;
    }
    &__container {
        position: static;
    }
}

@media (max-width: 570px) {
    .default-slider {
        & .card {
            height: auto;
        }
    }
}
