.table-info__header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}
.table-info__btn {
  padding-left: 24px;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 16px;
  background-image: url(../images/icons/product_card\ -\ compare.svg);
  cursor: pointer;
}
.table-info__title {
  margin-bottom: 0;
}
.table-info__subtitle {
  margin-bottom: 20px;
}
.table-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.table-info__list {
  column-count: 2;
  gap: 60px;
}
.table-info__row {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .table-info__list {
    column-count: 1;
  }
}
@media (max-width: 768px) {
  .table-info__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}