<section class="section table-info">
    <div class="container">
        <div class="table-info__header">
            <div class="table-info__title title">@@title</div>
            <div class="table-info__btn orange-text">Добавить к сравнению </div>
        </div>
        <div class="table-info__wrapper">
            <div class="table-info__item">
                <div class="table-info__subtitle subtitle demibold">Заголовок раздела</div>
                <div class="table-info__list">
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 2 строки, на случай если не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 2 строки, на случай если не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 2 строки, на случай если не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-info__item">
                <div class="table-info__subtitle subtitle demibold">Заголовок раздела</div>
                <div class="table-info__list">
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 2 строки, на случай если не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 2 строки, на случай если не поместится
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-info__item">
                <div class="table-info__subtitle subtitle demibold">Заголовок раздела</div>
                <div class="table-info__list">
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 2 строки, на случай если не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 2 строки, на случай если не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 2 строки, на случай если не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 2 строки, на случай если не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 2 строки, на случай если не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 2 строки, на всякий случай
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 3 строки, на случай если что-то вдруг сюда совсем не поместится
                        </div>
                    </div>
                    <div class="table-info__row">
                        <div class="table-info__key gray-text">
                            <div class="table-info__key-text">
                                Заголовок характеристики в 3 строки, на случай если не поместится
                            </div>
                        </div>
                        <div class="table-info__value">
                            Характеристика в 2 строки, на случай если не поместится
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>