.sale-block__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.sale-block__load-btn {
  width: 100%;
  margin-top: 30px;
}

.sale-item__img {
  height: 300px;
  background-color: #e25b26;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
.sale-item__date {
  margin-bottom: 5px;
}
.sale-item__text {
  margin-top: 5px;
}
.sale-item:nth-child(even) .sale-item__img {
  background-color: #124144;
}

@media (max-width: 1024px) {
  .sale-block__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 570px) {
  .sale-block__list {
    display: flex;
    flex-direction: column;
  }
}