<div class="components-list">
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
    <div class="components-item">
        <div class="components-item__img">
            <img src="./images/component.png" alt="img">
        </div>
        <div class="components-item__name">
            Запасные фильтры
        </div>
    </div>
</div>