<div class="header__overlay"></div>
<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="logo">
        <img src="img/logo.png" alt="Картинка" />
      </div>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#">О методе</a>
          </li>
          <li class="nav__item">
            <a href="#">Клиники</a>
          </li>
          <li class="nav__item">
            <a href="#">Статьи</a>
          </li>
          <li class="nav__item">
            <a href="#">Вопрос-ответ</a>
          </li>
          <li class="has-children nav__item">
            <a href="#">Для врачей</a>
            <ul class="nav__hidden-list">
              <li>
                <a href="#">О методе</a>
              </li>
              <li>
                <a href="#">Наши мероприятия</a>
              </li>
              <li>
                <a href="#">Видео мастерклассов</a>
              </li>
              <li>
                <a href="#">Вопрос-ответ</a>
              </li>
              <li>
                <a href="#">Статьи</a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a href="#">Контакты</a>
          </li>
        </ul>
        <div class="phone">
          <a href="tel:79142938797">+7 914 293-87-97</a>
        </div>
        <a href="#" class="nav__policy --mobile">Политика конфиденциальности</a>
        <small class="nav__copyright --mobile">© Базис-медикал. Все права защищены</small>
      </nav>

      <div class="nav__btn --mobile">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
