.breadcrumb {
  padding-top: 130px;
  margin-bottom: 60px;
}

.breadcrumb__wrapper {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #a4a4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 29px;
          column-gap: 29px;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumb__item {
  position: relative;
}

.breadcrumb__item::after {
  display: block;
  content: "";
  width: 7px;
  height: 13px;
  background-image: url(../);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: -19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.breadcrumb__item:last-child {
  color: #f28057;
  pointer-events: none;
}

.breadcrumb__item:last-child::after {
  display: none;
}
