@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
html,
body {
	height: 100%;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #696969;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
nav,
footer,
header,
aside {
	display: block;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a:focus,
a:active {
	outline: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a {
	color: inherit;
}
ul li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
img {
	vertical-align: top;
	user-select: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container {
	width: 1290px;
	margin: 0 auto;
}

:root {
	--blue: #7eb3ff;
	--green: #8cc93d;
	--yellow: #ffd93d;
	--red: #ff6b6b;
	--grey: #f5f5f5;
}
/*---------------------------------------------------*/

@font-face {
	font-family: "Quinoa-Bold";
	src: url(../fonts/Quinoa-Bold.ttf);
}

.fancybox-active {
	padding-right: 17px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 50px;
	border-radius: 40px;
	transition: all ease 0.3s;
	cursor: pointer;
	&_white {
		background-color: #fff;
		&:hover {
			box-shadow: -4px 4px 0px #64a215;
			transform: translate(4px, -4px);
			transition: all ease 0.3s;
		}
	}
	&_border {
		border: 1px solid #222222;
		background-color: #fff;

		&:hover {
			text-decoration: underline;
		}
	}
	&_green {
		background: linear-gradient(#8cc93d);
		color: #fff;
		&:hover {
			transition: all ease 0.3s;
			background: linear-gradient(180deg, #8cc93d 0%, #64a115 100%);
		}
	}
	&_yellow {
		background: linear-gradient(#ffd93d);

		&:hover {
			transition: all ease 0.3s;
			background: linear-gradient(180deg, #ffd93d 0%, #ffa800 100%);
		}
	}
}

.body__wrapper {
	position: relative;
	overflow: hidden;
	input,
	textarea {
		background: #ffffff;
		border-radius: 50px;
		padding: 18px 30px;
		resize: none;
		height: 60px;
		font-weight: 300;
		width: 100%;
		resize: none;
		&:focus::placeholder {
			color: transparent;
		}
	}
	p {
		margin-bottom: 20px;
	}
}

.ul {
	ul {
		display: flex;
		flex-direction: column;
		gap: 7px;
		margin-bottom: 20px;
		& li {
			padding-left: 25px;
			position: relative;
			&::after {
				display: block;
				content: "";
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: var(--green);
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
}

.popup {
	input,
	textarea {
		width: 100%;
		background: #ffffff;
		border-radius: 0px;
		padding: 0;
		padding-bottom: 10px;
		resize: none;
		height: 30px;
		font-weight: 300;
		font-size: 14px;
		border-bottom: 1px solid #9d9d9d;
		resize: none;
		&:focus::placeholder {
			color: transparent;
		}
	}
	p {
		margin-bottom: 20px;
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 7px;
		margin-bottom: 20px;
		& li {
			padding-left: 25px;
			position: relative;
			&::after {
				display: block;
				content: "";
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: var(--green);
				position: absolute;
				top: 7px;
				left: 0;
			}
		}
	}
}

body {
	font-family: "Nunito Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #222222;
}

.h1 {
	font-family: "Quinoa-Bold";
	font-size: 64px;
	line-height: 120%;
	margin-bottom: 40px;
}

.h2 {
	font-family: Quinoa-Bold;
	font-size: 48px;
	line-height: 120%;
	margin-bottom: 40px;
	& span {
		color: var(--blue);
	}
}

.section {
	padding: 65px 0;
}

.pt0 {
	padding-top: 0;
}

.pb0 {
	padding-bottom: 0;
}

.pl {
	padding-left: calc((100vw - 1290px) / 2);
}

.social-link {
	position: relative;
	z-index: 2;
	height: fit-content;
	display: flex;
	& svg:last-of-type {
		transition: all ease 0.3s;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		& path {
			fill: #64a215;
		}
	}
	&:hover svg:last-of-type {
		left: 0px;
		top: 4px;
	}
}

@keyframes dino {
	0% {
		transform: rotate(-7deg);
	}
	50% {
		transform: rotate(7deg);
	}
	100% {
		transform: rotate(-7deg);
	}
}

.dino {
	max-width: 160px;
	max-height: 140px;
	position: absolute;
	z-index: 3;
	animation: dino 0.8s infinite;
	pointer-events: none;
}

.header {
	&__logo-mobile {
		display: none;
	}
	&__mobile-reglament {
		display: none;
	}
	&__mobile-tel {
		display: none;
	}
	&__logo {
		width: 281px;
		height: 68px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		padding: 23px 0;
		align-items: center;
	}
	&__body {
		border-top: 1px solid #bcbcbc;
	}
	&__info {
		height: 100%;
		max-width: 230px;
		font-size: 14px;
		margin-bottom: auto;
		& span {
			font-weight: 700;
			display: block;
			margin-bottom: 10px;
		}
	}
	&__menu-btn {
		display: none;
	}
}

.nav-panel {
	&__mobile-links {
		display: none;
		white-space: nowrap;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 66px;
	}
	&__item {
		width: fit-content;
		position: relative;
		transition: all ease 0.3s;
		&::after {
			display: block;
			content: "";
			width: 100%;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: -5px;
			background-color: var(--green);
			transition: all ease 0.3s;
			opacity: 0;
		}
		&:hover::after {
			opacity: 1;
		}
	}
}

.main-page {
	&__subtitle {
		margin-bottom: 70px;
	}
	&__wrapper {
		height: 100%;
		gap: 50px;
		display: flex;
	}
	&__wrapper-1 {
		background-color: #f5f5f5;
		gap: 75px;
		& img {
			object-position: left;
		}
	}
	&__wrapper-2 {
		background-image: url(../img/main-page/main2-bg.png);
		background-position: right;
		background-size: cover;
		background-repeat: no-repeat;
		& .main-page__subtitle {
			margin-bottom: 90px;
		}
	}
	&__body {
		padding-top: 100px;
		display: flex;
		flex-direction: column;
		max-width: 695px;
	}
	&__img {
		height: auto;
	}
	&__social {
		display: flex;
		gap: 30px;
		margin-top: 100px;
		margin-bottom: 40px;
	}
	&__slide {
		height: auto;
	}
}

.offer {
	padding-top: 25px;
	&__slider {
		height: 450px;
		padding-bottom: 50px;
	}
	&__title {
		font-size: 48px;
		line-height: 120%;
		margin-bottom: 30px;
		font-family: "Quinoa-Bold";
	}
	&__subtitle {
		font-size: 16px;
		line-height: 130%;
		margin-bottom: 18px;
	}
	&__wrapper {
		height: 100%;
		display: flex;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__wrapper-1 {
		background-image: url(../img/offer/offer1.png);
		& .offer__body {
			background: rgba(255, 255, 255, 0.9);
			clip-path: polygon(0 0, 100% 0%, 90% 101%, 0 101%);
			padding-right: 40px;
		}
	}
	&__wrapper-2 {
		background-color: var(--green);
		& img {
			object-position: left;
		}
	}
	&__wrapper-3 {
		justify-content: space-between;
		background: #f5f5f5;
		& .offer__img img {
			object-position: left;
		}
	}
	&__wrapper-4 {
		background-image: url(../img/offer/offer4-bg.png);
		gap: 264px;
	}
	&__body {
		max-width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&__btn {
		margin-top: auto;
		height: 40px;
	}
	&__btns {
		margin-top: auto;
		display: flex;
		gap: 30px;
	}
	&__price-count {
		font-weight: 800;
		font-size: 32px;
		line-height: 130%;
		color: var(--red);
		& span {
			font-weight: 400;
			font-size: 20px;
			color: #a9a9a9;
			text-decoration: line-through;
		}
		display: flex;
		gap: 11px;
	}
	&__price-title {
		font-size: 16px;
		margin-bottom: 12px;
		line-height: 130%;
	}
	&__img {
		position: relative;
	}
	&__price {
		width: 368px;
		background: #ffffff;
		border-radius: 20px;
		position: absolute;
		left: -235px;
		top: 50%;
		transform: translateY(-50%);
		padding: 20px 30px 10px 30px;
	}
	&__discount {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: var(--red);
		font-weight: 700;
		font-size: 20px;
		line-height: 130%;
		color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: -35px;
		right: 30px;
	}
}

.slider-pagination {
	width: fit-content;
	height: 10px;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 0 auto;
	margin-top: 40px;
}

.swiper-pagination-bullet {
	background-color: var(--green);
	opacity: 1;
	margin: 0 !important;
	transition: all ease 0.3s;
	border-radius: 5px;
}

.swiper-pagination-bullet-active {
	width: 30px;
	transition: all ease 0.3s;
}

.service {
	&__row {
		display: flex;
		gap: 30px;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
	}
	&__elem {
		border-radius: 20px;
		background-color: var(--blue);
		padding: 30px;
		position: relative;
		overflow: hidden;
		padding-right: 136px;
		max-width: 410px;
		width: 100%;
		&::after {
			display: block;
			content: "";
			width: 128px;
			height: 128px;
			background-color: #fff;
			position: absolute;
			right: -15px;
			bottom: -19px;
			border-radius: 50%;
		}
		&::before {
			display: block;
			content: "";
			width: 140px;
			height: 150px;
			right: 36px;
			bottom: -21px;
			position: absolute;
			background-image: url(../img/service/service1.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			z-index: 2;
		}
	}
	&__item {
		border-radius: 20px;
		padding: 18px 30px;
		padding-right: 150px;
		position: relative;
		overflow: hidden;
		min-height: 90px;
		align-items: center;
		display: flex;
		background-repeat: no-repeat;
		// background-size: minmax(80px, 85px) 65px;
		background-position: right 20px bottom;
		box-shadow: 0px 0px 20px rgba(39, 66, 4, 0.1);

		&::after {
			display: block;
			content: "";
			width: 85px;
			height: 85px;
			position: absolute;
			right: -10px;
			bottom: -15px;
			border-radius: 50%;
			transition: all ease 0.3s;
			z-index: -1;
			background-color: var(--green);
		}
		&::before {
			display: block;
			content: "";
			width: 100%;
			height: 100%;
			right: 0px;
			top: 0px;
			position: absolute;
			z-index: -2;
			background: #ffffff;
			border-radius: 20px;
		}
		&:hover::after {
			transform: scale(2.5);
		}
		&:nth-child(5n + 1) {
			&::after {
				background-color: var(--green);
			}
		}
		&:nth-child(5n + 2) {
			&::after {
				background-color: var(--yellow);
			}
		}
		&:nth-child(5n + 3) {
			&::after {
				background-color: var(--red);
			}
		}
		&:nth-child(5n + 4) {
			&::after {
				background-color: var(--blue);
			}
		}
		&:nth-child(5n + 5) {
			&::after {
				background-color: var(--red);
			}
		}
		&:nth-child(5n + 6) {
			&::after {
				background-color: var(--green);
			}
		}
	}
	&__text {
		max-width: 770px;
	}
}

.advantage {
	&__img {
		width: 100%;
		position: relative;
		&::before {
			display: block;
			content: "";
			width: 400px;
			height: 100%;
			position: absolute;
			left: -334px;
			top: 0;
			background-image: url(../img/color.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: right;
		}
	}
	&__body {
		width: 100%;
	}
	&__item {
		padding: 23px 30px;
		background: #ffffff;
		box-shadow: 0px 0px 30px rgba(39, 66, 4, 0.1);
		border-radius: 20px;
		padding-right: 110px;
		position: relative;
	}
	&__dino {
		right: -30px;
		bottom: -20px;
	}
	&__text-with-img {
		margin-bottom: 60px;
		display: flex;
		gap: 56px;
	}
	&__slider {
		margin-bottom: 30px;
		overflow: visible;
	}
	&-pagination {
		display: none;
	}
	&__tile-item {
		background: #ffffff;
		box-shadow: 0px 0px 30px rgba(39, 66, 4, 0.1);
		border-radius: 20px;
		min-height: 146px;
		display: flex;
		align-items: center;
		padding: 30px;
		width: 100%;
		height: auto;
		& svg {
			margin-right: 20px;
			width: fit-content;
		}
	}
}

.text-with-video {
	display: grid;
	gap: 36px;
	grid-template-columns: 5fr 7fr;
	&__video {
		background: #000;
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		& img {
			opacity: 0.4;
		}
		&::after {
			display: block;
			content: "";
			width: 62px;
			height: 70px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background-image: url(../img/icon/play.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}
	& span {
		color: var(--green);
		font-weight: 600;
		line-height: 150%;
		font-size: 24px;
		margin-bottom: 20px;
		display: block;
	}
}

.tour {
	& .text-with-video__video {
		height: 270px;
	}
}

.stage {
	&__img {
		border-radius: 20px;
		overflow: hidden;
		height: 300px;
		position: relative;
		&:hover img {
			transform: scale(1.2);
			transition: all ease 0.3s;
		}
		& img {
			transition: all ease 0.3s;
		}
		&::after {
			display: block;
			content: "";
			width: 220px;
			height: 220px;
			border-radius: 50%;
			position: absolute;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		}
	}
	&__slider-wrapper {
		display: grid;
		grid-template-columns: 3fr 4fr 3fr;
		gap: 140px;
	}
	&__title {
		font-weight: 700;
		margin-bottom: 20px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		gap: 40px;
		position: relative;
		&::after {
			display: block;
			content: "";
			width: 20px;
			height: 20px;
			border-radius: 50%;
			position: absolute;
		}
		&:nth-child(1) {
			& .stage__title {
				color: var(--green);
			}
			&::after {
				bottom: -10px;
				right: 150px;
				background-color: var(--green);
			}
			& .stage__img::after {
				bottom: -122px;
				right: -91px;
				background-color: var(--green);
			}
		}
		&:nth-child(2) {
			flex-direction: column-reverse;
			& .stage__title {
				color: var(--red);
			}
			&::after {
				top: -10px;
				right: 150px;
				background-color: var(--red);
			}
			& .stage__img::after {
				top: -110px;
				right: -82px;
				background-color: var(--red);
			}
		}
		&:nth-child(3) {
			& .stage__title {
				color: var(--blue);
			}
			&::after {
				bottom: 120px;
				right: -10px;
				background-color: var(--blue);
			}
			& .stage__img::after {
				bottom: -122px;
				right: -85px;
				background-color: var(--blue);
			}
		}
	}
	&__text {
		position: relative;
	}
	& .dino {
		right: -60px;
		bottom: -120px;
	}
}

.expert {
	&__name {
		font-family: "Quinoa-Bold";
		font-size: 36px;
		line-height: 120%;
		margin-bottom: 15px;
	}

	&__position {
		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		color: #797979;
		margin-bottom: 40px;
	}
	&__experience {
		font-weight: 600;
		font-size: 20px;
		line-height: 27px;
		color: var(--green);
		margin-top: auto;
	}
	&__slide {
		overflow: hidden;

		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 30px;
		padding-left: 65px;
		background: #f5f5f5;
		border-radius: 20px;
		position: relative;
		&::after {
			display: block;
			content: "";
			width: 220px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			background-image: url(../img/doctor/doc-bg.png);
		}
		&::before {
			display: block;
			content: "";
			width: 320px;
			height: 320px;
			position: absolute;
			left: 50px;
			bottom: 0;
			border-radius: 50%;
		}
		&:nth-child(4n + 1)::before {
			background-color: var(--blue);
		}
		&:nth-child(4n + 2)::before {
			background-color: var(--green);
		}
		&:nth-child(4n + 3)::before {
			background-color: var(--yellow);
		}
		&:nth-child(4n + 4)::before {
			background-color: var(--red);
		}
	}
	&__body {
		padding: 60px;
		padding-right: 230px;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__slider {
		height: 440px;
	}
	&__img {
		position: relative;
		z-index: 2;
		max-height: 440px;
		& img {
			object-fit: contain;
			object-position: bottom;
		}
	}
	&__subposition {
		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		color: #797979;
	}
	&__subname {
		font-weight: 600;
		margin-bottom: 5px;
	}
	&__subimg {
		margin-bottom: 20px;
		height: 300px;
		overflow: hidden;
		position: relative;
		border-radius: 20px;
		background: #f5f5f5;

		& img {
			object-fit: contain;
			object-position: bottom;
			position: relative;
			z-index: 2;
		}
		&::before {
			display: block;
			content: "";
			width: 254px;
			height: 254px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -35px;
			border-radius: 50%;
			transition: all ease 0.3s;
		}
		&-left img {
			object-position: left;
		}
	}
	&__subslider {
		margin-top: 30px;
	}
	&__subslide {
		cursor: pointer;
		&:hover .expert__subimg::before {
			transition: all ease 0.3s;
			width: 100%;
			height: 150%;
			border-radius: 0;
		}
		&:nth-child(4n + 1) .expert__subimg::before {
			background-color: var(--blue);
		}
		&:nth-child(4n + 2) .expert__subimg::before {
			background-color: var(--green);
		}
		&:nth-child(4n + 3) .expert__subimg::before {
			background-color: var(--yellow);
		}
		&:nth-child(4n + 4) .expert__subimg::before {
			background-color: var(--red);
		}
	}
	& .swiper-slide-thumb-active .expert__subimg::before {
		transition: all ease 0.3s;
		width: 100%;
		height: 150%;
		border-radius: 0;
	}
}

.wide-block {
	&__wrapper {
		background-image: url(../img/wide-block-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #ecf0ff;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	&__img {
		width: 276px;
		height: 400px;
		position: relative;
		& img {
			position: relative;
			z-index: 2;
		}
		&::before {
			display: block;
			content: "";
			width: 203px;
			height: 203px;
			position: absolute;
			right: -36px;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			background-color: var(--blue);
		}
	}
	&__title {
		margin-bottom: 30px;
		font-family: "Quinoa-Bold";
		font-size: 48px;
		line-height: 120%;
	}
	&__text {
		margin-bottom: 46px;
		font-size: 16px;
		line-height: 130%;
	}
	&__body {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.patient {
	&__wrapper {
		position: relative;
		&::before {
			display: block;
			content: "";
			width: 141px;
			height: 141px;
			position: absolute;
			right: -55px;
			top: -48px;
			border-radius: 50%;
			background-color: var(--yellow);
		}
	}
	&__dino {
		position: absolute;
		right: -72px;
		top: -76px;
	}
	&__dino2 {
		position: absolute;
		bottom: 0;
		left: 288px;
	}
	&__slide {
		border-radius: 20px;
		overflow: hidden;
		& img {
			transition: all ease 0.3s;
		}
		&:hover img {
			transform: scale(1.3);
			transition: all ease 0.3s;
		}
	}
	&__slider {
		height: 290px;
	}
}

.kids {
	&__text {
		margin-bottom: 30px;
	}
	&__wrapper {
		display: flex;
		gap: 60px;
	}
	&__img {
		width: 100%;
		height: 100%;
		max-width: 520px;
	}
	&__body {
		width: 100%;
	}
}

.publish {
	&__subtitle {
		margin-bottom: 30px;
	}
	&__item {
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		&::before {
			display: block;
			content: "";
			width: 41px;
			height: 48px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			background-image: url(../img/icon/play.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			opacity: 0;
			transition: all ease 0.3s;
			z-index: 2;
		}
		&::after {
			display: block;
			content: "";
			width: 100%;
			height: 100%;
			left: 0;
			top: 0%;
			position: absolute;
			background-color: rgb(0, 0, 0);
			opacity: 0;
			transition: all ease 0.3s;
		}
		&:hover::after {
			opacity: 0.4;
			transition: all ease 0.3s;
		}
		&:hover::before {
			opacity: 1;
			transition: all ease 0.3s;
		}
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
		margin-bottom: 40px;
	}
	&__btn {
		margin: 0 auto;
	}
}

.review {
	&__rating {
		&-body {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 30px;
			margin-bottom: 40px;
		}
		&-stars {
			height: 30px;
			position: relative;
			&::before {
				display: block;
				content: "";
				width: 100%;
				height: 30px;
				background: url(../img/review/stars-hollow.png);
				background-repeat: no-repeat;
			}
		}
		&-stars-active {
			width: 70%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			&::before {
				display: block;
				content: "";
				width: 100%;
				height: 30px;
				background: url(../img/review/stars-fill.png);
				background-repeat: no-repeat;
			}
		}
		&-item {
			background: #ffffff;
			box-shadow: 0px 0px 20px rgba(39, 66, 4, 0.1);
			border-radius: 20px;
			padding: 20px;
			max-width: 300px;
			width: 100%;
			position: relative;
		}
		&-logo {
			max-width: 150px;
			max-height: 45px;
			margin-bottom: 20px;
		}
		&-count {
			position: absolute;
			top: 18px;
			right: 29px;
			font-family: "Quinoa-Bold";
			font-size: 32px;
			line-height: 38px;
		}
	}
	&__photo {
		width: 100%;
		height: 100%;
		max-width: 50px;
		max-height: 50px;
		min-width: 50px;
		min-height: 50px;
	}
	&__info {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-bottom: 20px;
	}
	&__rating {
		background: #ffffff;
		border-radius: 30px;
		display: flex;
		gap: 10px;
		align-items: center;
		padding: 0px 13px;
		height: 40px;
		margin-left: auto;
	}
	&__number {
		font-family: "Quinoa-Bold";
		font-size: 24px;
		line-height: 100%;
		color: #da8300;
		margin-top: -12px;
	}
	&__slide {
		border-radius: 20px;
		padding: 30px;
		position: relative;
		margin-bottom: 40px;
		height: auto;
		&:nth-child(4n + 1) {
			background-color: var(--yellow);
			& .review__comment path {
				fill: var(--yellow);
			}
		}
		&:nth-child(4n + 2) {
			background-color: var(--green);
			& .review__comment path {
				fill: var(--green);
			}
		}
		&:nth-child(4n + 3) {
			background-color: var(--blue);
			& .review__comment path {
				fill: var(--blue);
			}
		}
		&:nth-child(4n + 4) {
			background-color: var(--red);
			& .review__comment path {
				fill: var(--red);
			}
		}
	}
	&__comment {
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: -40px;
		height: 100px;
		width: 100%;
		display: flex;
		align-items: flex-end;
		overflow: hidden;
	}
	&__text {
		font-size: 16px;
		line-height: 130%;
	}
}

.license {
	&__wrapper {
		display: grid;
		gap: 30px;
		grid-template-columns: 1fr 2fr;
	}
	&__slider {
		max-width: 100%;
		height: 250px;
	}
	& img {
		object-fit: contain;
	}
}

.form {
	background: #e3edfc;
	padding: 50px 0;
	margin-top: 65px;
	&__title {
		font-family: "Quinoa-Bold";
		font-size: 48px;
		line-height: 120%;
		margin-bottom: 30px;
	}
	& form {
		display: flex;
		gap: 30px;
		position: relative;
	}
	&__btn {
		width: 270px;
		height: 60px;
		width: 100%;
	}
	&__dino {
		position: absolute;
		right: -30px;
		top: -70px;
	}
}

.map {
	height: 505px;
}

.footer {
	background: #f1f1f1;
	&__wrapper {
		padding: 60px 0;
	}

	&__logo {
		background: #ffffff;
		border-radius: 40px;
		display: flex;
		align-items: center;
		gap: 15px;
		width: 250px;
		height: 70px;
		padding-left: 20px;
		font-weight: 300;
		font-size: 16px;
		line-height: 130%;
		transition: all ease 0.3s;
		& span {
			font-weight: 600;
			color: var(--green);
		}
		&:first-child span {
			color: #01599d;
		}
	}
	&__logo-img {
		max-width: 56px;
		max-height: 50px;
	}
	&__logo-name {
		display: flex;
		flex-direction: column;
	}
	&__links {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__top {
		display: flex;
		gap: 50px;
		margin-bottom: 30px;
		& path {
			fill: #7eb3ff;
		}
	}
	&__info {
		max-width: 278px;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&__social {
		margin-top: 30px;
		display: flex;
		gap: 20px;
	}
	&__phone {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		margin-left: auto;
	}
	&__phone-number {
		font-family: "Quinoa-Bold";
		font-size: 36px;
		line-height: 42px;
		font-feature-settings: "pnum" on, "lnum" on;
		color: #7eb3ff;
		margin-bottom: 20px;
	}

	&__bottom {
		font-weight: 400;
		font-size: 12px;
		line-height: 140%;
		display: flex;
		justify-content: space-between;
	}
	&__copyright {
		display: flex;
		gap: 23px;
	}
	&__copyright a {
		color: var(--blue);
	}
	&__development {
		display: flex;
		gap: 7px;
		align-items: center;
	}
	& .social-link {
		& svg:last-of-type {
			& path {
				fill: rgba(0, 0, 0, 0.25);
			}
		}
	}
	&__btn-mobile {
		display: none;
	}
}

.popup {
	width: 100%;
	height: auto;
	max-width: 1070px;
	padding: 0;
	display: none;
	&__title {
		font-family: "Quinoa-Bold";
		font-size: 48px;
		line-height: 120%;
		color: #222222;
		margin-bottom: 20px;
	}
	&-call {
		&__wrapper {
			padding: 0px 100px;
			display: flex;
			justify-content: space-between;
			background-image: url(../img/doctor/doc-bg.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: right;
		}
		&__title {
			margin-bottom: 60px;
		}
		&__inputs {
			display: flex;
			flex-direction: column;
			gap: 35px;
		}
		&__btn {
			margin-top: 60px;
		}
		&__body {
			padding: 60px 0;
		}
	}
	&-success {
		max-height: 540px;
		&__wrapper {
			background-image: url(../img/doctor/doc-bg.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: right;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			justify-content: center;
			align-items: center;
		}
		&__subtitle {
			max-width: 410px;
			text-align: center;
		}
	}
	&-offer-1 {
		&__img {
			height: 100%;
			width: 100%;
			max-width: 470px;
			max-height: 312px;
			margin-top: 30px;
		}
		&__body {
			display: flex;
			gap: 30px;
			margin-bottom: 30px;
		}
		&__column {
			width: 100%;
		}
		&__videos {
			display: flex;
			gap: 30px;
			margin-bottom: 30px;
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__info {
		font-size: 14px;
		line-height: 130%;
		color: #9d9d9d;
	}
	&__wrapper {
		padding: 50px;
	}
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
		margin-bottom: 20px;
	}
	&__column {
		width: 100%;
	}
	&__pricelist {
		margin: 0 -20px;
	}
	&__pricelist-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		padding: 15px 20px;
		&:nth-child(even) {
			background-color: #edf5e1;
			padding: 12px 20px;
		}
	}
	&__pricelist-price {
		font-weight: 700;
		color: var(--green);
		text-align: right;
		white-space: nowrap;
	}
}

.fancybox-button.fancybox-close-small {
	width: 30px;
	height: 30px;
	top: 30px;
	right: 30px;
	background-image: url(../img/icon/x-circle.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	& svg {
		display: none;
	}
}

.read-more {
	&__btn {
		color: var(--green);
		padding-right: 16px;
		position: relative;
		width: fit-content;
		margin-top: 5px;
		display: none;
		&::after {
			display: block;
			content: "";
			width: 9px;
			height: 5px;
			position: absolute;
			top: 8px;
			right: 0;
			background-image: url(../img/icon/arrow.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

//------------custom checkbox-------------------

.label__container input:checked ~ .checkmark {
	background-color: var(--green);
}

.label__container .checkmark:after {
	left: 7px;
	top: 1px;
	width: 9px;
	height: 16px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 1px;
}

/* Customize the label (the container) */
.label__container {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	user-select: none;
	margin-top: 30px;

	font-weight: 300;
	font-size: 15px;
	line-height: 130%;
}

/* Hide the browser's default checkbox */
.label__container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	height: 24px;
	width: 24px;
	background-color: rgba(225, 225, 225, 0);
	border: 1px solid #8cc93d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.label__container input:checked ~ .checkmark:after {
	display: block;
}

//---------media------------------------------

@media screen and (max-width: 1920px) {
	.wide-block {
		&__body {
			max-width: 835px;
		}
	}
}
@media screen and (max-width: 1400px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.pl {
		padding-left: 15px;
	}
	.main-page {
		&__wrapper-1 {
			gap: 0;
		}
	}
	.stage {
		&__slider-wrapper {
			gap: 50px;
		}
	}
	.patient {
		&__wrapper {
			&::before {
				right: -30px;
			}
		}
		&__dino {
			right: -15px;
		}
	}
	.expert {
		&__slide {
			padding-left: 0;
		}
	}
}
@media screen and (max-width: 1200px) {
	.offer {
		&__wrapper-4 img {
			display: none;
		}
	}
	.advantage {
		&-pagination {
			display: flex;
		}
	}
	.expert {
		&__slide::before {
			left: 0;
		}
		&__body {
			padding-left: 0;
		}
		&__about {
			margin-bottom: 15px;
		}
	}
	.footer {
		&__top {
			// display: grid;
			// grid-template-columns: 1fr 1fr;
			flex-wrap: wrap;
		}
		&__phone {
			margin: 0;
			align-items: flex-start;
		}
		// &__info {
		// 	order: 2;
		// }
		// &__links {
		// 	order: 4;
		// }
	}
}
@media screen and (max-width: 1024px) {
	.header {
		&__info {
			display: none;
		}
	}
	.main-page {
		&__wrapper-1 {
			background-image: url(../img/colors.svg);
			background-repeat: no-repeat;
			background-position: top right;
			background-size: contain;
		}
		&__wrapper-2 {
			background-image: url(../img/main-page/main2-bg-mobile.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			padding-bottom: 30px;
			& .main-page__btn {
				margin-top: auto;
			}
		}
		&__img {
			display: none;
		}
	}
	.offer {
		&__body {
			max-width: none;
			padding-right: 15px;
		}
		&__img {
			display: none;
		}
		&__wrapper-1 {
			& .offer__body {
				max-width: 65%;
			}
		}
		&__wrapper-2 {
			position: relative;
			overflow: hidden;
			&::after {
				display: block;
				content: "";
				width: 100px;
				height: 100px;
				background-color: var(--blue);
				border-radius: 50%;
				right: -20px;
				bottom: -20px;
				position: absolute;
			}
		}
		&__wrapper-3 {
			background-image: url(../img/colors2.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: right;
		}
	}
	.service {
		&__elem {
			max-width: 50%;
		}
		&__row {
			flex-direction: column;
		}
		&__text {
			max-width: none;
		}
		&__body {
			grid-template-columns: 1fr 1fr;
		}
	}
	.advantage {
		&__text-with-img {
			flex-direction: column;
		}
		&__dino {
			bottom: unset;
			right: -4px;
			top: -40px;
		}
		&__tile-item {
			padding: 20px 15px;
		}
	}
	.text-with-video {
		display: flex;
		gap: 20px;
		flex-direction: column;
		&__video {
			height: 100%;
			max-height: 400px;
		}
	}
	.tour {
		& .text-with-video {
			flex-direction: column-reverse;
			&__video {
				height: 100%;
			}
		}
	}
	.stage {
		&__text {
			// height: 100%;
		}
		&__slider-wrapper {
			display: flex;
			gap: 0;
		}
		&__item {
			// height: auto;
			justify-content: space-between;
			gap: 20px;
			&::after {
				display: none;
			}
			&:nth-child(1),
			&:nth-child(3) {
				& .stage__img::after {
					right: -14px;
					bottom: -35px;
				}
			}
			&:nth-child(2) {
				flex-direction: column;
				& .stage__img::after {
					right: -24px;
					top: -47px;
				}
			}
		}
		&__img {
			max-height: 300px;
			// min-height: 300px;
			height: 100%;
			&::after {
				width: 130px;
				height: 130px;
			}
		}
		& .dino {
			right: 0px;
			bottom: -80px;
		}
	}
	.expert {
		&__subslider {
			display: none;
		}
		&__slider {
			margin: 0 -15px;
		}
		&__slide {
			border-radius: 0;
			padding: 0;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			height: auto;
			&::before {
				left: unset;
				right: -15px;
				bottom: -60px;
			}
			&::after {
				display: none;
			}
		}
		&__body {
			padding: 30px 20px;
			position: relative;
			width: 50%;
		}
		&__name {
			width: 70%;
		}
		&__experience {
			position: absolute;
			top: 45px;
			right: 0;
			margin: 0;
		}
	}
	.patient {
		&__dino2 {
			display: none;
		}
	}
	.kids {
		&__wrapper {
			flex-direction: column;
			gap: 20px;
		}
		&__img {
			max-width: none;
		}
		&__text {
			margin-bottom: 20px;
		}
	}
	.publish {
		&__body {
			grid-template-columns: 1fr 1fr;
			row-gap: 20px;
			column-gap: 14px;
			margin-bottom: 20px;
		}
	}
	.license {
		&__wrapper {
			flex-direction: column;
			display: flex;
		}
	}
	.form {
		& form {
			flex-direction: column;
			gap: 20px;
		}
		&__btn {
			width: 220px;
		}
		&__dino {
			right: unset;
			top: unset;
			bottom: -12px;
			left: 170px;
		}
	}
	.footer {
		&__copyright {
			flex-direction: column;
			gap: 5px;
		}
	}
	.popup {
		&-call {
			&__wrapper {
				padding: 0 40px;
				padding-right: 20px;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	@keyframes tel {
		0% {
			transform: scale(1);
			opacity: 1;
		}
		50% {
			transform: scale(0.3);
			opacity: 0;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
	.header {
		position: relative;
		&__top {
			z-index: 11;
			position: relative;
		}
		&__btn {
			display: none;
		}
		&__menu-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			background-color: var(--green);
			border-radius: 50%;
			position: relative;
			& span {
				display: block;
				width: 22px;
				height: 2px;
				background-color: #fff;
				border-radius: 2px;
			}
			&::after {
				display: block;
				content: "";
				width: 22px;
				height: 2px;
				position: absolute;
				left: 50%;
				top: 13px;
				transform: translateX(-50%);
				background-color: #fff;
				border-radius: 2px;
			}
			&::before {
				display: block;
				content: "";
				width: 22px;
				height: 2px;
				position: absolute;
				right: 9px;
				bottom: 13px;
				background-color: #fff;
				border-radius: 2px;
				transition: all ease 0.3s;
			}
		}
		&__mobile-reglament {
			display: flex;
		}
		&__mobile-tel {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 48px;
			height: 48px;
			position: relative;
			& svg {
				position: relative;
				z-index: 2;
			}
			&::after {
				display: block;
				content: "";
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: #d9f6b2;
				position: absolute;
				top: 0;
				left: 0;
				animation: tel 0.8s infinite;
			}
		}
		&__body {
			padding: 15px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	.nav-panel {
		&__wrapper {
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100vh;
			background-color: #fff;
			z-index: 10;
			padding: 20px;
			padding-top: 150px;
			display: flex;
			flex-direction: column;
			transition: all ease 0.3s;
		}
		&__mobile-links {
			display: flex;
			margin-top: auto;
			font-family: "Quinoa-Bold";
			font-size: 24px;
			line-height: 28px;
			color: var(--blue);
			font-feature-settings: "pnum" on, "lnum" on;
			gap: 20px;
			justify-content: space-between;
		}
		&__list {
			flex-direction: column;
			align-items: flex-start;
			height: auto;
			gap: 20px;
		}
		&__social svg:last-of-type path {
			fill: rgba(0, 0, 0, 0.25);
		}
		&__social {
			display: flex;
			gap: 22px;
			align-items: center;
		}
	}
	.nav-opened {
		& .header__menu-btn {
			&::before {
				width: 30%;
				transition: all ease 0.3s;
			}
		}
		& .nav-panel__wrapper {
			left: 0;
			transition: all ease 0.3s;
		}
	}
	.offer {
		&__body {
			max-width: none;
			padding-top: 0;
			padding-bottom: 30px;
		}
		&__wrapper {
			padding-top: 30px;
		}
		&__wrapper-1 {
			background-position: right;
			padding-top: 0;
			& .offer__body {
				padding-top: 50px;
				background: rgba(255, 255, 255, 0.7);
				padding-right: 15px;
				clip-path: none;
				max-width: none;
			}
		}
		&__wrapper-2 .offer__title {
			color: #ffffff;
		}
		&__wrapper-4 {
			background-image: url(../img/offer/offer4-bg-mobile.png);
			background-position: bottom;
		}
	}
	.service {
		&__elem {
			max-width: none;
			min-height: 120px;
			padding: 20px 15px;
			padding-right: 80px;
			&::before {
				width: 108px;
				height: 115px;
				right: 19px;
				bottom: -10px;
			}
			&::after {
				width: 100px;
				height: 100px;
			}
		}
		&__item {
			padding: 15px;
			padding-right: 100px;
		}
		&__body {
			display: flex;
			flex-direction: column;
		}
	}
	.advantage {
		&__text-with-img {
			gap: 20px;
		}
		&__img {
			&::before {
				display: none;
			}
		}
		&__item {
			padding: 20px 13px;
			padding-right: 56px;
		}
	}
	.dino {
		max-width: 120px;
		max-height: 100px;
	}
	.expert {
		&__slider {
			height: auto;
		}
		&__slide {
			flex-direction: column-reverse;
			justify-content: flex-end;
			gap: 0;
			height: 100%;
		}
		&__body {
			width: 100%;
			padding-bottom: 0;
			height: fit-content;
		}
		&__about {
			margin-bottom: 0;
		}
		&__experience {
			right: 22px;
		}
		&__img {
			height: 300px;
			width: 300px;
			margin-left: auto;
			margin-right: 20px;
		}
	}
	.wide-block {
		&__wrapper {
			display: flex;
			flex-direction: column;
			background-position: -570px;
			overflow: hidden;
		}
		&__img {
			margin-left: auto;
			height: 250px;
			width: 250px;
			overflow: hidden;
			margin-bottom: -40px;
			&::before {
				width: 230px;
				height: 230px;
				right: -30px;
				bottom: 0px;
				top: unset;
				transform: none;
			}
		}
		&__body {
			padding-bottom: 0;
		}
	}
	.popup {
		&-call {
			&__wrapper {
				padding: 0 20px;
				background: none;
			}
			&__body {
				width: 100%;
				padding: 40px 0;
			}
			&__img {
				display: none;
			}
		}
		&-success {
			max-height: 462px;
			&__wrapper {
				background-image: url(../img/popup/colors.svg);
				background-repeat: repeat;
				background-size: 310px 100%;
				background-position: 0 616px;
				padding-bottom: 150px;
				gap: 0;
			}
		}
		&-offer-1 {
			&__body {
				flex-direction: column;
				gap: 0;
				margin-bottom: 0;
			}
			&__img {
				display: none;
			}
			&__videos {
				flex-direction: column;
			}
		}
		&__wrapper {
			padding: 40px 20px;
		}
		&__bottom {
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
		}
		&__row {
			display: flex;
			flex-direction: column;
			gap: 0px;
		}
	}
}

@media screen and (max-width: 660px) {
	.review {
		&__rating-body {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 15px;
		}
		&__rating-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 10px;
		}
		&__rating-stars {
			display: none;
		}
		&__rating-count {
			position: relative;
			top: unset;
			right: unset;
			font-size: 24px;
			line-height: 28px;
			color: #3d3d3d;
			background-image: url(../img/icon/rating-star.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 62px;
			height: 62px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__rating-logo {
			margin-bottom: 10px;
		}
	}
	.footer {
		&__top {
			gap: 20px;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media screen and (max-width: 570px) {
	.header {
		&__logo {
			display: none;
		}
		&__logo-mobile {
			width: 200px;
			display: flex;
			gap: 12px;
			color: var(--green);
		}
		&__logo-img {
			max-width: 53px;
			max-height: 36px;
		}
	}
	.btn {
		height: 40px;
		width: 190px;
	}
	.section {
		padding: 30px 0;
	}
	body {
		font-size: 14px;
	}
	.body__wrapper {
		& input,
		textarea {
			padding: 15px 30px;
			height: 50px;
		}
	}
	.h1 {
		font-size: 30px;
		line-height: 120%;
		margin-bottom: 30px;
	}
	.h2 {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.main-page {
		&__wrapper-1 {
			padding-top: 30px;
			background-size: 200px 300px;
		}
		&__body {
			padding-top: 30px;
		}
		&__subtitle {
			margin-bottom: 44px;
		}
		&__social {
			margin-bottom: 30px;
			margin-top: 40px;
		}
		&__wrapper {
			padding-right: 15px;
		}
	}
	.offer {
		&__title {
			font-size: 24px;
			line-height: 120%;
		}
		&__subtitle {
			font-size: 14px;
		}
		&__wrapper-2 {
			& .offer__title {
				margin-bottom: 15px;
			}
		}
		&__wrapper-3 {
			background-size: 143px 262px;
			& .offer__btns {
				gap: 10px;
				display: grid;
				grid-template-columns: 3fr 2fr;
			}
			.offer__btn {
				width: 100%;
			}
		}
	}
	.pt0 {
		padding-top: 0;
	}
	.expert {
		&__name {
			font-size: 24px;
			margin-bottom: 7px;
		}
		&__position {
			margin-bottom: 20px;
		}
		&__experience {
			font-size: 14px;
			top: 37px;
		}
		& img {
			object-position: right bottom;
		}
	}
	.text-with-video {
		& span {
			font-size: 20px;
		}
	}
	.wide-block {
		&__title {
			font-size: 30px;
			margin-bottom: 20px;
		}
		&__text {
			margin-bottom: 30px;
		}
	}
	.review {
		&__text {
			font-size: 14px;
		}
		&__name {
			font-weight: 700;
		}
		&__photo {
			min-height: 30px;
			min-width: 30px;
			max-width: 30px;
			max-height: 30px;
		}
		&__slide {
			padding: 20px;
		}
		&__number {
			font-size: 16px;
			margin-top: -7px;
		}
		&__rating {
			height: 30px;
			& svg {
				width: 15px;
				height: 15px;
			}
		}
	}
	.license {
		&__slider {
			height: 100%;
			max-height: 250px;
		}
	}
	.form {
		&__btn {
			height: 50px;
		}
	}
	.label__container {
		font-size: 12px;
	}
	.checkmark {
		width: 20px;
		height: 20px;
	}
	.label__container .checkmark:after {
		left: 6px;
		top: 0px;
		width: 7px;
		height: 14px;
	}
	.footer {
		&__top {
			display: flex;
			gap: 0;
			flex-direction: column;
		}
		&__phone {
			order: 1;
		}
		&__info:nth-of-type(3) {
			order: 2;
			flex-direction: row;
			gap: 30px;
			max-width: none;
			align-items: center;
			margin-bottom: 30px;
		}
		&__info:nth-of-type(2) {
			order: 3;
			gap: 10px;
			margin-bottom: 27px;
		}
		&__links {
			order: 4;
		}
		&__btn {
			display: none;
		}
		&__social {
			margin: 0;
		}
		&__logo {
			width: 100%;
			justify-content: center;
			font-size: 14px;
			display: grid;
			grid-template-columns: 1fr 5fr;
			padding: 0 20px;
		}
		&__logo-name {
			display: flex;
			gap: 5px;
			flex-direction: row;
			flex-wrap: wrap;
		}
		&__bottom {
			flex-direction: column;
			gap: 20px;
		}
		&__wrapper {
			padding-top: 40px;
			padding-bottom: 30px;
		}
		&__btn-mobile {
			display: flex;
			order: 2;
			margin-bottom: 30px;
		}
	}
	.popup {
		& ul {
			& li {
				padding-left: 18px;
				&::after {
					width: 8px;
					height: 8px;
				}
			}
		}
		&__title {
			font-size: 24px;
			width: 80%;
		}
		&-call {
			&__btn {
				margin-top: 40px;
			}
		}
		&__info {
			font-size: 12px;
		}
		&__pricelist-row {
			flex-direction: column;
			align-items: flex-start;
			gap: 5px;
		}
	}
	.read-more {
		&__btn {
			display: flex;
		}
		&__text {
			max-height: 40px;
			overflow: hidden;
		}
		& .read-more__text {
			max-height: none;
		}
		& .read-more__btn {
			display: none;
		}
	}
}

@media screen and (max-width: 400px) {
	.expert {
		&__slide {
			&::before {
				width: 250px;
				height: 250px;
			}
		}
		&__img {
			height: 235px;
			width: 193px;
		}
	}
}
