<div class="tags">
    <div class="container">
        <div class="tags__wrapper gray-text">
            <a href="" class="tags__item"> Китайские</a>
            <a href="" class="tags__item"> Корейские</a>
            <a href="" class="tags__item"> Недорогие минитракторы</a>
            <a href="" class="tags__item"> Минитрактор Xingtai с кабиной</a>
            <a href="" class="tags__item"> Минитракторы 15 лошадиных сил</a>
            <a href="" class="tags__item"> Минитракторы 20 лошадиных сил</a>
            <a href="" class="tags__item"> Минитракторы 20 лошадиных сил</a>
            <a href="" class="tags__item"> Минитракторы 20 лошадиных сил</a>
            <a href="" class="tags__item"> Минитракторы 20 лошадиных сил</a>
            <a href="" class="tags__item"> Минитракторы 20 лошадиных сил</a>
            <a href="" class="tags__item"> Минитракторы 20 лошадиных сил</a>
            <a href="" class="tags__item"> Минитракторы 20 лошадиных сил</a>
            <div class="tags__item tags__btn" data-toggle-text="Скрыть">Еще категории</div>
        </div>
    </div>
</div>