.tags {
  margin-bottom: 40px;
}
.tags__wrapper {
  display: flex;
  gap: 10px;
  position: relative;
  max-height: 33px;
  overflow: hidden;
}
.tags__item {
  background: #f7f8fb;
  border-radius: 5px;
  padding: 5px 10px;
  white-space: nowrap;
}
.tags__btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 30px;
}
.tags__btn::before {
  display: block;
  content: "";
  height: 100%;
  width: 80px;
  position: absolute;
  right: 100%;
  top: 0;
  background: linear-gradient(270deg, #ffffff 20%, rgba(255, 255, 255, 0) 100%);
}
.tags__btn::after {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/icons/Chevron_Right.svg);
}
.tags_open .tags__btn {
  position: relative;
}
.tags_open .tags__btn::before {
  display: none;
}
.tags_open .tags__btn::after {
  transform: translateY(-50%) rotate(-90deg);
}
.tags_open .tags__wrapper {
  max-height: none;
  flex-wrap: wrap;
}

@media (max-width: 1150px) {
  .tags__btn {
    display: none;
  }
  .tags__wrapper {
    overflow-x: auto;
  }
  .tags__wrapper::-webkit-scrollbar {
    display: none;
  }
}