<nav class="sidebar">
    <ul class="sidebar__list">
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon"
                    style="-webkit-mask-image:url('./images/icons/sidebar-1.svg')"></span>
                Минитракторы
            </a>
            <div class="sidebar__sublist">
                <ul class="sidebar__filter-list">
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По бренду</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По назначению</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По типу</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">Страна производства</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar__brand-list">
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-1.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-2.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-3.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-4.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-5.png" alt="logo">
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon"
                    style="-webkit-mask-image:url('./images/icons/sidebar-2.svg')"></span>
                Тракторы
            </a>
            <div class="sidebar__sublist">
                <ul class="sidebar__filter-list">
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По бренду</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По назначению</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По типу</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">Страна производства</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar__brand-list">
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-1.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-2.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-3.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-4.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-5.png" alt="logo">
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon"
                    style="-webkit-mask-image:url('./images/icons/sidebar-3.svg')"></span>
                Мотоблоки
            </a>
            <div class="sidebar__sublist">
                <ul class="sidebar__filter-list">
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По бренду</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По назначению</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По типу</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">Страна производства</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar__brand-list">
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-1.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-2.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-3.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-4.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-5.png" alt="logo">
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon"
                    style="-webkit-mask-image:url('./images/icons/sidebar-4.svg')"></span>
                Навесное оборудование
            </a>
            <div class="sidebar__sublist">
                <ul class="sidebar__filter-list">
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По бренду</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По назначению</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По типу</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">Страна производства</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar__brand-list">
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-1.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-2.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-3.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-4.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-5.png" alt="logo">
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon"
                    style="-webkit-mask-image:url('./images/icons/sidebar-5.svg')"></span>
                Двигатели
            </a>
            <div class="sidebar__sublist">
                <ul class="sidebar__filter-list">
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По бренду</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По назначению</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По типу</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">Страна производства</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar__brand-list">
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-1.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-2.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-3.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-4.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-5.png" alt="logo">
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon"
                    style="-webkit-mask-image:url('./images/icons/sidebar-6.svg')"></span>
                Запасные части
            </a>
            <div class="sidebar__sublist">
                <ul class="sidebar__filter-list">
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По бренду</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                            <li><a href="">СКАУТ | SCOUT</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По назначению</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                            <li><a href="">Для дачи и огорода</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">По типу</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                            <li><a href="">Полный привод 4х4 | ГУР</a></li>
                        </ul>
                    </li>
                    <li class="sidebar__filter-item">
                        <span class="sidebar__filter-title demibold">Страна производства</span>
                        <ul class="sidebar__filter-sublist">
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                            <li><a href="">Китайские</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar__brand-list">
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-1.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-2.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-3.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-4.png" alt="logo">
                        </a>
                    </li>
                    <li class="sidebar__brand-item">
                        <a href="" class="sidebar__brand-link">
                            <img src="./images/partners/partner-5.png" alt="logo">
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>