.advantages {
    &__item {
        background: #ffffff;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        height: 90px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        gap: 15px;
        &:hover {
            & .advantages__icon {
                &-bg {
                    fill: #ebebeb;
                }
                &-pin {
                    fill: #e25b26;
                }
                &-leafs {
                    transform: none;
                }
            }
        }
    }
    &__slider {
        height: 210px;
    }
    &__slide {
        height: calc((100% - 30px) / 2) !important;
    }
    &__icon {
        & path,
        & circle {
            transition: all ease 0.5s;
        }
        &-leafs {
            transition: all ease 0.5s;
            transform: rotate(90deg) translate(-10px, 5px) scale(0.5);
            transform-origin: center;
        }
    }
}
