@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*---------------------------------------------------*/

section {
	margin-top: 50px;
	font-family: "Montserrat", sans-serif;
}

.container {
	width: 1290px;
	padding: 0;
	margin: 0 auto;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}

.tab {
	&__title {
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		color: #8799a3;
		padding: 12px 18px;
		border: 1px solid #f0f4f7;
		border-radius: 40px;
		transition: all ease 0.3s;
		cursor: pointer;
	}
	&__header {
		display: flex;
		gap: 10px;
		margin-bottom: 30px;
		flex-wrap: wrap;
		user-select: none;
	}
	&__item {
		// display: none;
		opacity: 0;
		height: 0;
	}
	&-active {
		display: block;
		opacity: 1;
		height: auto;
	}
}

.title-active {
	transition: all ease 0.3s;
	border: 1px solid #0055aa;
	color: #0055aa;
}

.team {
	&__person {
		background: rgba(0, 0, 0, 0.6);
		padding: 30px;
		position: absolute;
		transition: all ease 0.3s;
		height: 100%;
		width: 100%;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: end;
		transform: translateY(200%);
	}
	&__name {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: #ffffff;
		margin-bottom: 5px;
		text-align: right;
	}
	&__position {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #ffffff;
		text-align: right;
	}
	&__slide {
		position: relative;
		overflow: hidden;
		&:hover .team__person {
			transform: translateY(0);
		}
	}
	& .img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0 0;
	}
	&__img {
		max-height: 255px;
	}
	&__controls {
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
	}
	&__btns {
		position: relative;
		height: 10px;
		width: 70px;
	}
	&-pagination {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #8799a3;
	}
}

.vacation-about {
	color: #344556;
	& h3 {
		font-weight: 600;
		color: #0055aa;
		margin-bottom: 15px;
	}
	& p {
		margin-bottom: 50px;
	}
	& ul {
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		& li {
			padding-left: 23px;
			position: relative;
			&::before {
				display: block;
				content: "";
				width: 8px;
				height: 8px;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: #98cbff;
				border-radius: 50%;
			}
		}
	}
}

.vacation-wide-img {
	background-image: url(../img/vacation.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	height: 500px;
	padding: 30px 0;
	display: flex;
	align-items: flex-end;
	font-weight: 600;
}

.vacation {
	display: flex;
	flex-direction: column;
	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 37px;
		text-transform: uppercase;
		color: #0055aa;
		margin-bottom: 30px;
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}
	&__item {
		margin-bottom: 0px;
		background-color: rgb(255, 255, 255);
	}
	&__tile {
		background: #ffffff;
		box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		padding: 30px;
	}
	&__name {
		font-weight: 600;
		color: #344556;
		margin-bottom: 15px;
	}
	&__info {
		color: #8799a3;
		font-size: 16px;
		line-height: 20px;
		display: flex;
		flex-wrap: wrap;
		gap: 23px;
		row-gap: 5px;
	}
	&__info-elem {
		position: relative;
		&::after {
			display: block;
			content: "";
			width: 3px;
			height: 3px;
			background: #8799a3;
			border-radius: 50%;
			right: -11px;
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
		}
		&:last-child::after {
			display: none;
		}
	}
	& .tab-active {
		margin-bottom: 50px;
	}
}

.vacation-none {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #0055aa;
	width: 100%;
	padding: 30px 15px;
	text-align: center;
	background: #ffffff;
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.swiper-pagination-current {
	color: #0055aa;
}
.swiper-button-prev {
	transform: scale(-1, 1);
	left: 0;
	&::after {
		display: none;
	}
}
.swiper-button-next {
	right: 0;
	&::after {
		display: none;
	}
}
.swiper-button-disabled {
	filter: grayscale(100%);
	opacity: 0.6 !important;
}
.line-text {
	background: #f0f2f5;
	margin-top: 0;
	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: #0055aa;
	}
	&__wrapper {
		padding: 50px 0;
		display: flex;
		justify-content: space-between;
	}
	&__btn {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #060606;
		background: #fde428;
		border-radius: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 240px;
		height: 50px;
		transition: all ease 0.3s;
	}
}

@media screen and (max-width: 1400px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
}

@media screen and (max-width: 768px) {
	.team {
		&__btns {
			display: none;
		}
	}
	.vacation {
		&__body {
			display: flex;
			flex-direction: column;
		}
	}
}
@media screen and (max-width: 570px) {
	.team {
		&__tab-header {
			flex-direction: column;
			align-items: center;
			margin-bottom: 50px;
		}
		&__slide {
			display: flex;
			flex-direction: column-reverse;
		}
		&__person {
			position: relative;
			transform: translate(0);
			background-color: #fff;
			justify-content: start;
			align-items: flex-start;
			padding: 0;
			margin-bottom: 15px;
		}
		&__name {
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			color: #0055aa;
			text-align: left;
		}
		&__position {
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: #344556;
			text-align: left;
		}
		&-pagination {
			font-size: 16px;
			line-height: 20px;
		}
	}
	.line-text {
		&__wrapper {
			flex-direction: column;
			gap: 30px;
			padding: 30px 0;
		}
		&__btn {
			margin: 0 auto;
		}
	}
	.vacation {
		&__tile {
			padding: 15px;
		}
		&__title {
			font-size: 25px;
			line-height: 30px;
		}
		&__body {
			gap: 15px;
		}
	}
	.vacation-about {
		& p,
		ul {
			margin-bottom: 30px;
		}
	}
	.tab {
		&__header {
			flex-direction: column;
			align-items: center;
		}
		&__title {
			width: fit-content;
		}
	}
	.vacation-none {
		text-align: left;
	}
}
