.catalog-list__title {
  padding-left: 50px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px;
}
.catalog-list__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.catalog-list__filter {
  padding: 30px;
  background: #f7f8fb;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  height: fit-content;
}
.catalog-list__filter_open .catalog-list__filter-title::after {
  transform: translateY(-50%) rotate(180deg);
}
.catalog-list__filter_open .catalog-list__filter-list {
  margin-top: 15px;
}
.catalog-list__filter-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

@media (max-width: 1300px) {
  .catalog-list__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .catalog-list__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
@media (max-width: 570px) {
  .catalog-list__filter {
    padding: 16px 15px;
    border: none;
  }
  .catalog-list__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .catalog-list__filter-title {
    position: relative;
    padding-right: 30px;
  }
  .catalog-list__filter-title::after {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all ease 0.5s;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/icons/Caret_Down_MD.svg);
  }
  .catalog-list__filter-list {
    height: 0;
    overflow: hidden;
    transition: all ease 0.5s;
    margin: 0;
  }
}