.additional__wrapper {
  display: flex;
  gap: 30px;
}
.additional__types {
  width: 100%;
  max-width: 1040px;
}
.additional__price {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}
.additional__price-num {
  margin-bottom: 0;
}
.additional__current-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  row-gap: 5px;
}
.additional__btn {
  width: 100%;
  margin-top: 10px;
}
.additional__service-item-desc {
  margin-top: 10px;
}
.additional__service-item {
  background: #ffffff;
  border: 1.5px solid #ebebeb;
  border-radius: 5px;
  padding: 20px;
  display: block;
  cursor: pointer;
}
.additional__service-list {
  max-height: 375px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
}
.additional__service-list::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  background: #c9c8d3;
}
.additional__service-list::-webkit-scrollbar-thumb {
  background: #8a8894;
  border-radius: 5px;
  width: 5px;
}
.additional__service {
  width: 100%;
  max-width: 460px;
}
.additional__profit {
  min-width: 94px;
}
.additional .tab__header {
  display: flex;
  gap: 30px;
  width: 100%;
}
.additional .tab__link {
  padding: 10px;
  border: 0;
  border-radius: 0;
  color: #000000;
  position: relative;
  width: 100%;
  max-width: 326px;
}
.additional .tab__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all ease 0.5s;
}
.additional .tab__link-active::after {
  height: 3px;
  background-color: #e25b26;
}
.additional .card {
  width: 326px;
}

@media (max-width: 1400px) {
  .additional__wrapper {
    flex-direction: column;
  }
  .additional__types {
    max-width: none;
  }
  .additional__service {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .additional .card {
    width: 100%;
  }
}