.footer {
    background: #f7f8fb;
    &__dev-wrapper {
        display: flex;
        gap: 60px;
        justify-content: space-between;
        align-items: center;
        color: #c9c8d3;
        padding: 20px 0;
    }
    &__dev {
        border-top: 1px solid #c9c8d3;
    }
    &__dev-author {
        display: flex;
        gap: 7px;
    }
    &__dev-links {
        display: flex;
        gap: 30px;
    }
    &__wrapper {
        padding: 60px 0;
    }
    &__nav {
        width: 100%;
        max-width: 1010px;
    }
    &__nav-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
    &__subnav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #8a8894;
        margin-top: 15px;
    }
    &__nav-link {
        &_lvl1 {
            color: #3f3f3f;
            font-weight: 500;
        }
    }
    &__wrapper {
        display: flex;
    }
    &__info-tel {
        text-align: right;
    }
    &__info-tel-label {
        margin-top: 5px;
        color: #c9c8d3;
    }
    &__info-top {
        display: flex;
        justify-content: flex-end;
        gap: 70px;
        margin-bottom: 40px;
    }
    &__info-title {
        color: #8a8894;
        margin-bottom: 10px;
        text-align: right;
    }
    &__info-payment {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        & img {
            width: 45px;
            height: 30px;
        }
    }
    &__info-btm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    &__info {
        max-width: 490px;
        width: 100%;
    }
    &__info-social {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
    }
}

@media (max-width: 1150px) {
    .footer {
        &__wrapper {
            flex-direction: column;
        }
        &__info {
            display: flex;
            gap: 15px;
            max-width: none;
            margin-top: 30px;
        }
        &__info-top {
            flex-direction: column;
            gap: 15px;
            margin-bottom: 0;
        }
        &__info-title {
            text-align: left;
        }
        &__info-payment {
            justify-content: flex-start;
        }
        &__info-btm {
            width: 100%;
        }
        &__info-item {
            width: 100%;
        }
        &__info-social {
            justify-content: flex-start;
        }
        &__info-tel {
            text-align: left;
            width: 230px;
            max-width: 100%;
        }
        &__dev-wrapper {
            flex-direction: column;
            gap: 30px;
            padding-top: 40px;
            padding-bottom: 30px;
        }
        &__dev-links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            text-align: center;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__nav-list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 700px;
        }
        &__nav-item {
            max-width: 50%;
        }
    }
}

@media (max-width: 570px) {
    .footer {
        &__info {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        &__info-social {
            gap: 10px;
        }
        &__info-btm {
            display: flex;
            gap: 20px;
        }
        &__nav-link {
            display: inline-block;
        }
        &__info-payment {
            min-width: 156px;
        }
        &__nav-list {
            max-height: none;
            gap: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__subnav {
            gap: 5px;
            margin: 0;
            height: 0;
            overflow: hidden;
            transition: all ease 0.5s;
        }
        &__nav-item {
            max-width: 100%;
            &_has-children {
                & .footer__nav-link_lvl1 {
                    position: relative;
                    padding-right: 30px;
                    &::after {
                        display: block;
                        content: "";
                        width: 24px;
                        height: 24px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url(../images/icons/Caret_Down_MD.svg);
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all ease 0.5s;
                    }
                }
            }
        }
        &__dev-links {
            display: flex;
            flex-direction: column;
        }
    }
    .accordion_v1 .a-container_open {
        & .footer__subnav {
            margin-top: 10px;
        }
        & .footer__nav-link_lvl1 {
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}
