.footer {
  background: #f7f8fb;
}

.footer__dev-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c9c8d3;
  padding: 20px 0;
}

.footer__dev {
  border-top: 1px solid #c9c8d3;
}

.footer__dev-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.footer__dev-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer__wrapper {
  padding: 60px 0;
}

.footer__nav {
  width: 100%;
  max-width: 1010px;
}

.footer__nav-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.footer__subnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  color: #8a8894;
  margin-top: 15px;
}

.footer__nav-link_lvl1 {
  color: #3f3f3f;
  font-weight: 500;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info-tel {
  text-align: right;
}

.footer__info-tel-label {
  margin-top: 5px;
  color: #c9c8d3;
}

.footer__info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 70px;
  margin-bottom: 40px;
}

.footer__info-title {
  color: #8a8894;
  margin-bottom: 10px;
  text-align: right;
}

.footer__info-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.footer__info-payment img {
  width: 45px;
  height: 30px;
}

.footer__info-btm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.footer__info {
  max-width: 490px;
  width: 100%;
}

.footer__info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
