:root {
	--purple: #8024c0;
	--dark-purple: #6f16aa;
	--blue: #0077ff;
	--dark-blue: #005eff;
	--white: #ffffff;
	--gray: #f5f5f5;
	--black: #000000;
}

.container {
	max-width: 100%;
	width: 1380px;
	padding: 0 10px;
	margin: 0 auto;
}

.section {
	margin-bottom: 100px;
}

body {
	font-family: "VK Sans Display", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	color: var(--black);
}

.page-title {
	font-size: 53px;
	font-weight: 500;
	font-weight: 400;
	line-height: 100%;
}

.info-title {
	font-size: 40px;
	line-height: 120%;
}

.main-title {
	font-size: 45px;
	line-height: 120%;
	font-weight: 500;
}

.title {
	font-size: 36px;
	line-height: 120%;
}

.subtitle {
	font-size: 28px;
	line-height: 120%;
}

.large-text {
	font-size: 20px;
	font-weight: 500;
	line-height: 125%;
}

@media screen and (max-width: 570px) {
	.subtitle {
		font-size: 18px;
		line-height: 120%;
	}

	.main-title {
		font-size: 28px;
		line-height: 120%;
	}
}

.bold {
	font-weight: 500;
}

.dark-purple-text {
	color: var(--dark-purple);
}

.blue-text {
	color: var(--blue);
}

.gray-text {
	color: rgba(0, 0, 0, 0.6);
}

.white-text {
	color: var(--white);
}

.pl-20 {
	padding-left: 20px;
}

.content b {
	font-weight: 500;
}

.content p:not(:last-child) {
	margin-bottom: 10px;
}

.content ol {
	counter-reset: ol-counter;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 10px;
	padding-left: 20px;
}

.content ol>li {
	list-style: none;
	counter-increment: ol-counter;
	position: relative;
}

.content ol>li::before {
	display: inline-block;
	content: counter(ol-counter) ")";
	margin-right: 5px;
}

.content ol:not(:last-child) {
	margin-bottom: 10px;
}

.content ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 10px 0;
}

.content ul>li {
	position: relative;
}

.content ul>li::before {
	display: inline-block;
	content: '-';
	margin-right: 5px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: fit-content;
	padding: 21px 30px;
	border-radius: 20px;
	border: 1px solid var(--black);
	white-space: nowrap;
}

.btn_purple {
	background-color: var(--purple);
	color: var(--white);
	border: none;
}

@media (max-width: 570px) {
	.page-title {
		font-size: 36px;
		line-height: 100%;
	}

	.title {
		font-size: 16px;
		line-height: 130%;
	}

	.info-title {
		font-size: 16px;
		line-height: 130%;
	}

	.large-text {
		font-size: 18px;
		line-height: 130%;
	}
}

.header {
	background-color: var(--purple);
	margin-bottom: 80px;
	background-image: url(../img/header-bg-1.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom right;
}

.header svg {
	width: 100%;
	height: auto;
}

.header svg path {
	fill: var(--dark-purple);
}

.header__title {
	max-width: 540px;
	width: 100%;
}

.header__wrapper-text {
	display: flex;
	gap: 160px;
}

.header__wrapper {
	min-height: 410px;
	display: flex;
	align-items: center;
	position: relative;
}

.header__status {
	color: var(--white);
	opacity: 0.6;
}

.faq__title {
	max-width: 852px;
	width: 100%;
	margin-bottom: 112px;
}

.faq__title p:not(:last-child) {
	margin-bottom: 20px;
}

.faq__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
}

.faq__col {
	width: 100%;
}

.info {
	display: none;
	padding: 0;
	width: 1360px;
	max-width: 100%;
	padding: 70px 155px 80px 50px;
	background-color: var(--gray);
	background-image: url(../img/info-bg-1.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.info__link {
	color: var(--purple);
	border-bottom: 2px solid var(--purple);
}

.info .f-button.is-close-btn {
	background-image: url(../img/icons/close-btn.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 35px;
	height: 35px;
	top: 20px !important;
	right: 20px !important;
}

.info .f-button.is-close-btn svg {
	display: none;
}

.fancybox__backdrop {
	background-color: rgba(4, 48, 99, 0.4);
}

.footer {
	padding: 30px 0 105px;
	background-color: var(--purple);
}

.footer__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 26px;
	row-gap: 20px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.footer__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.footer__link {
	border-bottom: 1px solid var(--white);
}

.accordion {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
}

.accordion__body {
	overflow: hidden;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	cursor: auto;
}

.accordion__btn {
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 55px;
}

.accordion__caret {
	position: relative;
	display: block;
	width: 100%;
	max-width: 30px;
	height: 30px;
}

.accordion__caret::after {
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: var(--black);
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.accordion__caret::before {
	display: block;
	content: "";
	height: 100%;
	width: 2px;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: var(--black);
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.accordion__item {
	border: 1px solid transparent;
	padding: 30px;
	background-color: var(--gray);
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	cursor: pointer;
}

.accordion__item_open {
	background-color: var(--white);
	border-color: var(--black);
}

.accordion__item_open .accordion__body {
	margin-top: 20px;
}

.accordion__item_open .accordion__caret::before {
	-webkit-transform: translateX(-50%) rotate(90deg);
	transform: translateX(-50%) rotate(90deg);
}

.reg__btns {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}

.reg__title {
	margin-bottom: 40px;
}

.reg__subtitle {
	margin-bottom: 60px;
}

.reg__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 797px;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0 20px;
}

.detail__subtitle {
	margin-bottom: 20px;
}

.detail__title {
	margin-bottom: 60px;
}

.detail__row {
	display: flex;
	gap: 30px;
}

.detail__row:not(:last-child) {
	margin-bottom: 20px;
}

.detail__col {
	width: 100%;
	max-width: 403px;
}

.detail__col_wide {
	max-width: 500px;
}

.detail__item-body {
	background-color: var(--gray);
	padding: 30px;
}

.detail__item {
	display: grid;
	grid-template-columns: 202px auto;
	gap: 30px;
}

.detail__wrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.detail__item-title {
	color: var(--white);
	background-color: var(--dark-purple);
	padding: 30px;
	padding-right: 12px;

	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom;
}

.detail__item_pattern-1 .detail__item-title {
	background-image: url(../img/detail-pattern/pattern-1.svg);
}

.detail__item_pattern-2 .detail__item-title {
	background-image: url(../img/detail-pattern/pattern-2.svg);
}

.detail__item_pattern-3 .detail__item-title {
	background-image: url(../img/detail-pattern/pattern-3.svg);
}

.detail__btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap;
	margin-top: 60px;
}

.application__wrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.application__item {
	display: grid;
	grid-template-columns: 193px auto;
	gap: 125px;
	align-items: center;
	padding: 30px;
	background-color: var(--gray);
}

.application__header {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.application__body {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
}

.application__name {
	max-width: 549px;
	width: 100%;
}

.application__controls {
	display: flex;
	gap: 20px;
}

.application__status {
	font-weight: 400;
}

.application__btn {
	margin-left: auto;
	margin-top: 60px;
}

@media screen and (max-width: 1300px) {
	.header__wrapper-text {
		flex-direction: column;
		gap: 30px;
	}
}

@media screen and (max-width: 1200px) {
	.application__item {
		flex-direction: column;
		display: flex;
		align-items: flex-start;
		gap: 20px;
	}

	.application__header {
		gap: 10px;
	}
}

@media (max-width: 1024px) {
	.header {
		background-image: url(../img/header-bg-2.svg);
		/* background-size: auto 204px; */
	}

	.header__wrapper {
		/* width: calc(100% - 200px); */
		padding: 80px 0;
	}

	.detail__item {
		display: flex;
		gap: 0;
		flex-direction: column;

	}

	.detail__item-title {
		background-image: url(../img/detail-pattern/pattern-mobile.svg) !important;
		background-size: auto;
		background-position: bottom right;
		padding-bottom: 100px;
	}

	.detail__wrapper {
		gap: 20px;
	}

	.application__body {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	.application__controls {
		flex-wrap: wrap;
		width: 100%;
	}
}

@media (max-width: 768px) {
	.header {
		margin-bottom: 40px;
	}

	.header__wrapper {
		width: 80%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		padding: 50px 0;
		min-height: 206px;
	}

	.header__subtitle {
		max-width: 140px;
	}

	.faq__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 20px;
	}

	.faq__title {
		margin-bottom: 40px;
	}

	.accordion__item {
		padding: 15px;
	}

	.info {
		padding: 20px 85px 30px 20px;
	}

	.info .f-button.is-close-btn {
		width: 25px;
		height: 25px;
	}

	.detail {
		padding-top: 40px;
	}
}

@media (max-width: 570px) {
	.header__wrapper {
		width: 100%;
		max-width: 220px;
	}

	.section {
		margin-bottom: 80px;
	}

	.info__link {
		border-width: 1px;
	}

	.footer {
		padding: 20px 0 74px;
	}

	.accordion__caret {
		max-width: 20px;
		height: 20px;
	}

	.accordion__btn {
		gap: 28px;
	}

	.reg__title {
		margin-bottom: 20px;
	}

	.reg__subtitle {
		margin-bottom: 30px;
	}

	.reg__wrapper {
		text-align: left;
		align-items: flex-start;
		padding-bottom: 0;
	}

	.reg__btns {
		gap: 10px;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.detail__row {
		flex-direction: column;
		gap: 10px;
	}

	.detail__item-body {
		padding: 20px;
	}

	.detail__item-title {
		padding: 20px;
		padding-bottom: 100px;
	}

	.btn {
		width: 100%;
	}

	.detail__btns {
		gap: 10px;
		margin-top: 40px;
	}

	.detail__title {
		margin-bottom: 40px;
	}

	.application__title {
		font-size: 20px;
		line-height: 120%;
	}

	.application__status,
	.application__name {
		font-size: 16px;
		line-height: 120%;
	}

	.application__item {
		padding: 20px;
	}

	.application__btn {
		margin-top: 40px;
	}
}