.review__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__rating-stars {
  height: 32px;
  width: 192px;
}

.review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.review__slider {
  position: static;
}

.review__slider-container {
  position: relative;
}

.review__slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.review-card {
  padding: 20px;
  border: 1.5px solid #ebebeb;
  border-radius: 5px;
  width: 400px;
  min-height: 420px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-card__header {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.review-card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.review-card__info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  max-height: 275px;
  overflow-y: auto;
  padding-bottom: 1px;
}

.review-card__info-text::-webkit-scrollbar {
  width: 5px;
  background: #c9c8d3;
  border-radius: 5px;
}

.review-card__info-text::-webkit-scrollbar-thumb {
  background: #8a8894;
  border-radius: 5px;
}

.review-card__info-text::after {
  display: none;
}

.review-card__desc-title {
  margin-bottom: 5px;
}

.review-card__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

@media (max-width: 570px) {
  .review__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .review__btn {
    width: 100%;
  }
  .review__rating-stars {
    width: 96px;
    height: 16px;
  }
  .review-card {
    width: 100%;
    min-height: 0;
  }
}
