<section class="section review">
    <div class="container">
        <div class="review__title title">Отзывы</div>
        <div class="review__header">
            <div class="review__rating">
                <div class="review__rating-stars rating-stars">
                    <div class="rating-stars__current" style="width:100%"></div>
                </div>
                <div class="review__rating-text subtitle gray-text">8 отзывов</div>
            </div>
            <a href="" class="review__btn btn">Оставить отзыв</a>
        </div>
        <div class="review__slider-container">
            <div class="review__slider swiper">
                <div class="review__slider-wrapper swiper-wrapper">
                    <div class="review__slide swiper-slide">
                        <div class="review-card">
                            <div class="review-card__header demibold caption">
                                <div class="review-card__name  ">Константин К.</div>
                                <div class="review-card__date gray-text">20.04.2023</div>
                            </div>
                            <div class="review-card__rating">
                                <div class="review-card__rating-stars rating-stars">
                                    <div class="rating-stars__current" style="width:100%"></div>
                                </div>
                                <div class="review-card__rating-text  gray-text">4,5</div>
                            </div>
                            <div class="review-card__info  caption">
                                <div class=" review-card__info-text">
                                    <div class="review-card__desc ">
                                        <div class="review-card__desc-title demibold">Плюсы</div>
                                        <div class="review-card__desc-text ">
                                            Текст рыба, текст рыба, это тоже текст рыба, а это дополнение к тексту
                                            рыбе
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Минусы</div>
                                        <div class="review-card__desc-text ">
                                            А это котик-текст, а это отличие собака-текст
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Комментарий</div>
                                        <div class="review-card__desc-text ">
                                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                            несколько абзацев более менее осмысленного текста рыбы на русском языке, а
                                            начинающему оратору отточить навык публичных выступлений в домашних
                                            условиях. При создании генератора мы использовали небезизвестный
                                            универсальный код речей. Текст генерируется абзацами случайным образом от
                                            двух до десяти предложений в абзаце, что позволяет сделать текст более
                                            привлекательным и живым для визуально-слухового восприятия.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="review__slide swiper-slide">
                        <div class="review-card">
                            <div class="review-card__header demibold caption">
                                <div class="review-card__name  ">Константин К.</div>
                                <div class="review-card__date gray-text">20.04.2023</div>
                            </div>
                            <div class="review-card__rating">
                                <div class="review-card__rating-stars rating-stars">
                                    <div class="rating-stars__current" style="width:100%"></div>
                                </div>
                                <div class="review-card__rating-text  gray-text">4,5</div>
                            </div>
                            <div class="review-card__info  caption">
                                <div class=" review-card__info-text">
                                    <div class="review-card__desc ">
                                        <div class="review-card__desc-title demibold">Плюсы</div>
                                        <div class="review-card__desc-text ">
                                            Текст рыба, текст рыба, это тоже текст рыба, а это дополнение к тексту
                                            рыбе
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Минусы</div>
                                        <div class="review-card__desc-text ">
                                            А это котик-текст, а это отличие собака-текст
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review__slide swiper-slide">
                        <div class="review-card">
                            <div class="review-card__header demibold caption">
                                <div class="review-card__name  ">Константин К.</div>
                                <div class="review-card__date gray-text">20.04.2023</div>
                            </div>
                            <div class="review-card__rating">
                                <div class="review-card__rating-stars rating-stars">
                                    <div class="rating-stars__current" style="width:100%"></div>
                                </div>
                                <div class="review-card__rating-text  gray-text">4,5</div>
                            </div>
                            <div class="review-card__info  caption">
                                <div class=" review-card__info-text">
                                    <div class="review-card__desc ">
                                        <div class="review-card__desc-title demibold">Плюсы</div>
                                        <div class="review-card__desc-text ">
                                            Текст рыба, текст рыба, это тоже текст рыба, а это дополнение к тексту
                                            рыбе
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Минусы</div>
                                        <div class="review-card__desc-text ">
                                            А это котик-текст, а это отличие собака-текст
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Комментарий</div>
                                        <div class="review-card__desc-text ">
                                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                            несколько абзацев более менее осмысленного текста рыбы на русском языке, а
                                            начинающему оратору отточить навык публичных выступлений в домашних
                                            условиях. При создании генератора мы использовали небезизвестный
                                            универсальный код речей. Текст генерируется абзацами случайным образом от
                                            двух до десяти предложений в абзаце, что позволяет сделать текст более
                                            привлекательным и живым для визуально-слухового восприятия.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="review__slide swiper-slide">
                        <div class="review-card">
                            <div class="review-card__header demibold caption">
                                <div class="review-card__name  ">Константин К.</div>
                                <div class="review-card__date gray-text">20.04.2023</div>
                            </div>
                            <div class="review-card__rating">
                                <div class="review-card__rating-stars rating-stars">
                                    <div class="rating-stars__current" style="width:100%"></div>
                                </div>
                                <div class="review-card__rating-text  gray-text">4,5</div>
                            </div>
                            <div class="review-card__info  caption">
                                <div class=" review-card__info-text">
                                    <div class="review-card__desc ">
                                        <div class="review-card__desc-title demibold">Плюсы</div>
                                        <div class="review-card__desc-text ">
                                            Текст рыба, текст рыба, это тоже текст рыба, а это дополнение к тексту
                                            рыбе
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Минусы</div>
                                        <div class="review-card__desc-text ">
                                            А это котик-текст, а это отличие собака-текст
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review__slide swiper-slide">
                        <div class="review-card">
                            <div class="review-card__header demibold caption">
                                <div class="review-card__name  ">Константин К.</div>
                                <div class="review-card__date gray-text">20.04.2023</div>
                            </div>
                            <div class="review-card__rating">
                                <div class="review-card__rating-stars rating-stars">
                                    <div class="rating-stars__current" style="width:100%"></div>
                                </div>
                                <div class="review-card__rating-text  gray-text">4,5</div>
                            </div>
                            <div class="review-card__info  caption">
                                <div class=" review-card__info-text">
                                    <div class="review-card__desc ">
                                        <div class="review-card__desc-title demibold">Плюсы</div>
                                        <div class="review-card__desc-text ">
                                            Текст рыба, текст рыба, это тоже текст рыба, а это дополнение к тексту
                                            рыбе
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Минусы</div>
                                        <div class="review-card__desc-text ">
                                            А это котик-текст, а это отличие собака-текст
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Комментарий</div>
                                        <div class="review-card__desc-text ">
                                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                            несколько абзацев более менее осмысленного текста рыбы на русском языке, а
                                            начинающему оратору отточить навык публичных выступлений в домашних
                                            условиях. При создании генератора мы использовали небезизвестный
                                            универсальный код речей. Текст генерируется абзацами случайным образом от
                                            двух до десяти предложений в абзаце, что позволяет сделать текст более
                                            привлекательным и живым для визуально-слухового восприятия.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="review__slide swiper-slide">
                        <div class="review-card">
                            <div class="review-card__header demibold caption">
                                <div class="review-card__name  ">Константин К.</div>
                                <div class="review-card__date gray-text">20.04.2023</div>
                            </div>
                            <div class="review-card__rating">
                                <div class="review-card__rating-stars rating-stars">
                                    <div class="rating-stars__current" style="width:100%"></div>
                                </div>
                                <div class="review-card__rating-text  gray-text">4,5</div>
                            </div>
                            <div class="review-card__info  caption">
                                <div class=" review-card__info-text">
                                    <div class="review-card__desc ">
                                        <div class="review-card__desc-title demibold">Плюсы</div>
                                        <div class="review-card__desc-text ">
                                            Текст рыба, текст рыба, это тоже текст рыба, а это дополнение к тексту
                                            рыбе
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Минусы</div>
                                        <div class="review-card__desc-text ">
                                            А это котик-текст, а это отличие собака-текст
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review__slide swiper-slide">
                        <div class="review-card">
                            <div class="review-card__header demibold caption">
                                <div class="review-card__name  ">Константин К.</div>
                                <div class="review-card__date gray-text">20.04.2023</div>
                            </div>
                            <div class="review-card__rating">
                                <div class="review-card__rating-stars rating-stars">
                                    <div class="rating-stars__current" style="width:100%"></div>
                                </div>
                                <div class="review-card__rating-text  gray-text">4,5</div>
                            </div>
                            <div class="review-card__info  caption">
                                <div class=" review-card__info-text">
                                    <div class="review-card__desc ">
                                        <div class="review-card__desc-title demibold">Плюсы</div>
                                        <div class="review-card__desc-text ">
                                            Текст рыба, текст рыба, это тоже текст рыба, а это дополнение к тексту
                                            рыбе
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Минусы</div>
                                        <div class="review-card__desc-text ">
                                            А это котик-текст, а это отличие собака-текст
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Комментарий</div>
                                        <div class="review-card__desc-text ">
                                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                            несколько абзацев более менее осмысленного текста рыбы на русском языке, а
                                            начинающему оратору отточить навык публичных выступлений в домашних
                                            условиях. При создании генератора мы использовали небезизвестный
                                            универсальный код речей. Текст генерируется абзацами случайным образом от
                                            двух до десяти предложений в абзаце, что позволяет сделать текст более
                                            привлекательным и живым для визуально-слухового восприятия.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="review__slide swiper-slide">
                        <div class="review-card">
                            <div class="review-card__header demibold caption">
                                <div class="review-card__name  ">Константин К.</div>
                                <div class="review-card__date gray-text">20.04.2023</div>
                            </div>
                            <div class="review-card__rating">
                                <div class="review-card__rating-stars rating-stars">
                                    <div class="rating-stars__current" style="width:100%"></div>
                                </div>
                                <div class="review-card__rating-text  gray-text">4,5</div>
                            </div>
                            <div class="review-card__info  caption">
                                <div class=" review-card__info-text">
                                    <div class="review-card__desc ">
                                        <div class="review-card__desc-title demibold">Плюсы</div>
                                        <div class="review-card__desc-text ">
                                            Текст рыба, текст рыба, это тоже текст рыба, а это дополнение к тексту
                                            рыбе
                                        </div>
                                    </div>
                                    <div class="review-card__desc caption">
                                        <div class="review-card__desc-title demibold">Минусы</div>
                                        <div class="review-card__desc-text ">
                                            А это котик-текст, а это отличие собака-текст
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="review__navigation slider-navigation slider-navigation_outside slider-navigation_gray">
                    <div class="review__prev slider-prev"></div>
                    <div class="review__next slider-next"></div>
                </div>
                <div class="review__scrollbar slider-scrollbar"></div>
            </div>
        </div>
    </div>
</section>