// fonts
body {
	font-family: "TTWELLINGTONS";
	font-feature-settings: "pnum" on, "lnum" on;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #212121;
}

.content h1,
.page-title {
	font-weight: 700;
	font-size: 48px;
	line-height: 67px;
}

.content h2,
.title {
	font-weight: 600;
	font-size: 28px;
	line-height: 40px;
	color: #212121;
	margin-bottom: 30px;
}

.content h3,
.subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
}

.caption {
	font-size: 12px;
	line-height: 125%;
}

.caption-large {
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
}

.caption-small {
	font-size: 10px;
	line-height: 14px;
}

.bold {
	font-weight: 500 !important;
}

.demibold {
	font-weight: 600 !important;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.pl-40 {
	padding-left: 40px !important;
}

@media (max-width: 570px) {
	.content h2,
	.title {
		font-size: 20px;
		line-height: 28px;
	}
}

// ui
.btn {
	font-size: 16px;
	line-height: 1;
	padding: 0.875em 1.5625em;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: fit-content;
	border-radius: 5px;
	transition: all ease 0.5s;
	color: #fff;
	--color: #e25b26;
	background: var(--color);
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	font-feature-settings: "pnum" on, "lnum" on;

	&:hover {
		--color: #cc5222;
	}
	&:active {
		--color: #b5491e;
	}
	&_green {
		--color: #124144;
		&:hover {
			--color: #103b3d;
		}
		&:active {
			--color: #0d2e30;
		}
	}
	&_gray {
		color: #212121;
		background-color: #f7f8fb;
		border: 1px solid #ebebeb;
	}
	&_transparent {
		background-color: transparent;
		border: 1px solid var(--color);
		color: var(--color);
	}
	&_large {
		font-size: 24px;
	}
	&_medium {
		font-size: 16px;
	}
	&_small {
		font-size: 14px;
	}
	&_xsmall {
		font-size: 10px;
	}
	& span {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&_fill {
		width: 100% !important;
	}
	&_disable {
		border-color: transparent;
		color: #8a8894;
		cursor: default;
		pointer-events: none;
	}
	&_center {
		margin-left: auto;
		margin-right: auto;
	}
}

.input {
	position: relative;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	width: 100%;
	font-feature-settings: "pnum" on, "lnum" on;
	display: flex;
	align-items: center;
	padding: 14px 15px;
	background-color: #fff;
	&__field {
		width: 100%;
		font-feature-settings: "pnum" on, "lnum" on;
	}
	&__submit {
		width: 24px;
		height: 24px;
		background-image: url(../images/icons/Chevron_Right.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-color: transparent;
	}
	&_with-arrow {
		& .input {
			&__submit {
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translateY(-50%);
				cursor: pointer;
			}
			&__field {
				padding-right: 50px;
			}
		}
	}
	&_with-calendar {
		cursor: pointer;
		z-index: 2;
		& .input {
			user-select: none;
			&__field {
				pointer-events: none;
				&::-webkit-calendar-picker-indicator {
					background-image: url(../images/icons/calendar.svg);
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					width: 24px;
					height: 24px;
					display: block;
				}
			}
			&__calendar {
				position: absolute;
				top: calc(100%);
				left: 0;
				background-color: #fff;
				opacity: 0;
				transition: all ease 0.5s;
				pointer-events: none;
				z-index: 9;
			}
		}
	}
	&_calendar-open {
		& .input {
			&__calendar {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
	&__pass-toggle {
		width: 24px;
		height: 24px;
		background-image: url(../images/icons/Eye_off.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		cursor: pointer;
		&_show {
			background-image: url(../images/icons/Eye.svg);
		}
	}
}

.textarea {
	padding: 14px 15px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	width: 100%;
	resize: vertical;
	min-height: 80px;
	max-height: 150px;
}

.checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	user-select: none;
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:checked ~ .checkbox__checkmark {
			background-image: url(../images/icons/Check.svg);
		}
	}
	&__checkmark {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		border: 1px solid #e25b26;
		border-radius: 4px;

		background-image: none;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.radio {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	user-select: none;
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:checked ~ .radio__checkmark::after {
			opacity: 1;
		}
	}
	&__checkmark {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		border: 1px solid #e25b26;
		border-radius: 50%;
		background-color: #fff;
		&::after {
			display: block;
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			background-color: #212121;
		}
	}
	&__img {
		margin-bottom: 12px;
		border-radius: 5px;
		overflow: hidden;
		height: 150px;
		background-color: #d9d9d9;
		& img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&_img {
		width: 100%;
		padding: 0;
		& .radio {
			&__checkmark {
				left: 15px;
				top: 15px;
			}
		}
	}
}

.toggle {
	position: relative;
	padding-right: 60px;
	cursor: pointer;
	user-select: none;
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:checked {
			& ~ .toggle__checkmark {
				background-color: #e25b26;
				&::after {
					background-color: #fff;
					transform: translateY(-50%) translateX(-100%);
					left: calc(100% - 4px);
				}
			}
		}
	}
	&__checkmark {
		display: block;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 20px;
		border: 1px solid #e25b26;
		border-radius: 16px;
		background-color: #fff;
		transition: all ease 0.5s;
		&::after {
			display: block;
			content: "";
			width: 12px;
			height: 12px;
			border-radius: 50%;
			transition: all ease 0.5s;
			position: absolute;
			top: 50%;
			left: 4px;
			transform: translateY(-50%);

			background-color: #e25b26;
		}
	}
}

.range-slider {
	&__limits {
		display: flex;
		gap: 20px;
		margin-bottom: 20px;
	}
	&__wrapper {
		padding: 0 15px;
	}
	&__input {
		padding: 10px;
	}
	& .rs-bg {
		background: rgba(226, 91, 38, 0.2);
		height: 4px;
		top: 50%;
		left: -15px;
		width: calc(100% + 30px);
		transform: translateY(-50%);
		border: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	& .rs-bg-point {
		display: none;
	}
	& .rs-container {
		height: 30px;
	}
	& .rs-selected {
		height: 4px;
		background: #e25b26;
		top: 50%;
		transform: translateY(-50%);
		border: none !important;
	}
	& .rs-pointer {
		border: none;
		box-shadow: none;
		background: #e25b26;
		border-radius: 50%;
		width: 30px;
		height: 30px;

		background-image: url(../images/icons/Unfold_More.svg);
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: center;
		&::after,
		&::before {
			display: none;
		}
	}
	& .rs-scale {
		& span::before {
			display: none !important;
		}
	}
}

.vanilla-calendar {
	&-arrow {
		display: block;
		width: 30px;
		height: 30px;
		&:before {
			height: 100%;
			width: 100%;
			mask-image: url(../images/icons/Caret_Left_SM.svg);
			mask-position: center;
			mask-size: contain;
			background-color: #8a8894;
		}
		&_prev:before {
			transform: none !important;
		}
		&_next:before {
			transform: scaleX(-1) !important;
		}
	}
	&-years__year,
	&-year {
		font-feature-settings: "pnum" on, "lnum" on;
	}
	&-day {
		border-radius: 5px;
		&__btn {
			font-feature-settings: "pnum" on, "lnum" on;
			background: none;
			&_prev,
			&_next {
				opacity: 0.5;
			}
		}
		&_selected {
			color: #fff;
			background: #e25b26;
		}
	}
}

.select {
	position: relative;
	&__input {
		display: none;
	}
	&__title {
		border-radius: 4px;
		border: 1px solid #ebebeb;
		background: #fff;
		padding: 14px 15px;
		padding-right: 49px;
	}
	&__caret {
		right: 15px !important;
	}
}

// colors

.orange-text {
	color: #e25b26 !important;
}
.gray-text {
	color: #8a8894;
}
.white-text {
	color: #ffffff;
}
.green-text {
	color: #124144;
}

.orange-bg {
	background-color: #e25b26;
}
.gray-bg {
	background-color: #f7f8fb;
	&.section {
		padding: 70px 0;
	}
}
.green-bg {
	background-color: #124144;
}

@media (max-width: 768px) {
	.gray-bg {
		&.section {
			padding: 40px 0;
		}
	}
}

// styles

.body-wrapper {
	overflow-x: clip;
}

.container {
	width: 1560px;
	max-width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	&_fit {
		width: 1010px;
	}
}

.section {
	margin-bottom: 70px;
}

.dropdown {
	position: relative;
	z-index: 3;
	&__list {
		transition: all ease 0.5s;
		opacity: 0;
		position: absolute;
		pointer-events: none;
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 5px;
		z-index: 1;
		border-radius: 10px;
		background-color: #fff;
		width: 100%;
	}
	&__title {
		position: relative;
		padding-right: 30px;
		cursor: pointer;
	}
	&__caret {
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: all ease 0.5s;
		& svg {
			transition: all ease 0.5s;
		}
	}
	&__title-text {
		user-select: none;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	&__item {
		background: #f7f8fb;
		border-radius: 5px;
		padding: 4px 5px;
		cursor: pointer;
	}
	&_active .dropdown {
		&__list {
			opacity: 1;
			pointer-events: all;
		}
		&__caret svg {
			transform: rotate(180deg);
		}
	}
	&_gray {
		color: #8a8894;
		& .dropdown {
			&__title {
				padding-right: 35px;
			}
			&__caret {
				background-color: #f7f8fb;
				padding: 5px;
				width: 30px;
				height: 30px;
				border-radius: 5px;
			}
			&__title-text {
				background: #f7f8fb;
				border-radius: 5px;
				padding: 7px 5px;
			}
		}
	}
	&_sidebar {
		& .dropdown {
			&__title {
				padding: 14px 15px;
				border: 1px solid #ebebeb;
				border-radius: 4px;
			}
			&__caret {
				right: 15px;
			}
		}
	}
}

@media (min-width: 1024px) {
	.dropdown {
		&_sidebar {
			& .dropdown {
				&__title {
					display: none;
				}
				&__list {
					position: static;
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}
}

.main {
	padding-top: 276px;
	transition: all ease 0.5s;
}

.header-stick {
	& .main {
		padding-top: 156px;
	}
}

.home-block {
	&__wrapper {
		display: grid;
		grid-template-columns: 230px calc(100% - (230px + 360px + 60px)) 360px;
		gap: 30px;
		width: 100%;
	}
}

.slider-pagination {
	margin-top: 20px;
	min-height: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	& .swiper-pagination-bullet {
		width: 5px;
		height: 5px;
		opacity: 1;
		transition: all ease 0.5s;
		background: #c9c8d3;
		transform: none;
	}
	& .swiper-pagination-bullet-active {
		width: 7px;
		height: 7px;
		background: #8a8894;
	}
}

.slider-prev,
.slider-next {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	overflow: hidden;
	background-image: url(../images/icons/slider-arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: all ease 0.5s;
	cursor: pointer;
	pointer-events: all;
}

.slider-next {
	transform: scale(-1);
}

.slider-navigation {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: 3;
	pointer-events: none;
	&_gray {
		& .slider-prev,
		& .slider-next {
			background-color: #f7f8fb;
		}
	}
	&_outside {
		left: -50px;
		width: calc(100% + 100px);
	}
	& .swiper-button-disabled {
		opacity: 0.5;
		cursor: default;
	}
}

.rating-stars {
	background-image: url(../images/icons/rating-empty.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	width: 96px;
	height: 16px;
	position: relative;
	&__current {
		background-image: url(../images/icons/rating-full.svg);
		background-repeat: no-repeat;
		background-position: center left;
		background-size: auto 100%;

		position: absolute;
		height: 100%;
	}
}

.icon {
	display: flex;
	align-items: center;
	height: 100%;
	cursor: pointer;
	&:hover svg {
		fill: #c9c8d3;
	}
	&_active {
		&.icon {
			&_like {
				& svg {
					fill: #f93232;
				}
				& path {
					stroke: #f93232;
				}
			}
			&_compare {
				& svg {
					fill: #e25b26;
				}
				& path {
					stroke: transparent;
				}
			}
		}
	}
}

.tab {
	&__header-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
	&__header {
		display: flex;
		gap: 10px;
		height: 100%;
		overflow-x: auto;
		&::-webkit-scrollbar {
			display: none;
		}
		&_black-border {
			& .tab {
				&__link {
					background-color: transparent;
					border-color: #212121;
					color: #212121;
				}
			}
		}
	}
	&__link {
		background: #f7f8fb;
		border: 1px solid transparent;
		border-radius: 5px;
		padding: 5px 10px;
		color: #8a8894;
		transition: all ease 0.5s;
		user-select: none;
		cursor: pointer;
		white-space: nowrap;
		&-active {
			color: #212121;
			border-color: #ebebeb;
		}
	}
	&__item {
		display: none;
		&-active {
			display: block;
		}
	}
	&__title {
		margin-bottom: 0;
	}
	&__header-wrapper {
		margin-bottom: 30px;
	}
}

.popup-info {
	padding: 30px;
	padding-right: 84px;
	border-radius: 5px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 650px;
	max-width: calc(100% - 30px);
	z-index: 99;
	transition: all ease 0.5s;
	&_hide {
		transform: translateY(100%);
		bottom: 0 !important;
	}
	&__close {
		width: 24px;
		height: 24px;
		position: absolute;
		right: 30px;
		top: 30px;
		cursor: pointer;
		background-image: url(../images/icons/Close_MD.svg);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.accordion_v2 {
	& .a-btn {
		cursor: pointer;
	}
	& .a-panel {
		height: 0;
		overflow: hidden;
		transition: all ease 0.5s;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	& .a-container {
		&_open .a-panel {
			margin-top: 20px;
		}
	}
}

.pagination {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	&__item {
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		min-width: 30px;
		cursor: pointer;
		&_active {
			background: #f7f8fb;
			color: #e25b26;
		}
	}
	&__prev,
	&__next {
		width: 24px;
		height: 24px;
		mask-image: url(../images/icons/Caret_Down_MD.svg);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;
		background-color: #e25b26;
		transform: rotate(90deg);
		cursor: pointer;
	}
	&__next {
		transform: rotate(-90deg);
	}
}

.read-more {
	&__btn {
		margin-top: 20px;
		position: relative;
		width: fit-content;
		cursor: pointer;
		user-select: none;
	}
	&__text {
		transition: all ease 0.3s;
		overflow: hidden;
		position: relative;
		&::after {
			display: block;
			content: "";
			width: 100%;
			height: 44px;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, #ffffff 100%);
			position: absolute;
			bottom: 0;
			left: 0;
			pointer-events: none;
			transition: all ease 0.5s;
			opacity: 1;
		}
	}
	&_open {
		& .read-more__text::after {
			opacity: 0;
		}
	}
}

.content {
	& h2 {
		margin-top: 40px;
		&:first-child {
			margin-top: 0;
		}
	}
	& h3 {
		margin: 20px 0;
		margin-top: 30px;
		&:first-child {
			margin-top: 0;
		}
	}
	& p {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	& ul {
		margin: 20px 0;
		display: flex;
		flex-direction: column;
		gap: 10px;
		& li {
			position: relative;
			padding-left: 25px;
			&::before {
				display: block;
				content: "";
				width: 15px;
				height: 2px;
				position: absolute;
				left: 0;
				top: 9px;
				background-color: #e25b26;
			}
		}
	}
	& .video-link {
		height: auto;
	}
}

.slider-scrollbar {
	width: 100%;
	height: 5px;
	background: #f7f8fb;
	border-radius: 5px;
	margin-top: 20px;
	& .swiper-scrollbar-drag {
		background: #c9c8d3;
	}
}

.gray-bg .slider-scrollbar {
	background: #c9c8d3;
	& .swiper-scrollbar-drag {
		background: #8a8894;
	}
}

.video-test-link {
	cursor: pointer;
	padding-right: 20px;
	background-image: url(../images/icons/video.svg);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 15px;
}

.info-item {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	position: relative;
	padding-left: 34px;
	&__btn {
		width: 24px;
		height: 24px;
		mask-image: url(../images/icons/Info.svg);
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		background-color: #c9c8d3;
		cursor: pointer;
		&_close {
			mask-image: url(../images/icons/Close_MD.svg);
			background-color: #303030;
			position: absolute;
			top: 15px;
			right: 15px;
		}
	}
	&__icon {
		position: absolute;
		left: 0;
		top: 0;
		width: 24px;
		height: 24px;
	}
	&__popup {
		position: absolute;
		bottom: 100%;
		right: 0;
		width: 100%;
		max-width: 400px;
		padding: 15px;
		background: #ffffff;
		border: 1px solid #ebebeb;
		border-radius: 5px;
		transition: all ease 0.5s;
		opacity: 0;
		pointer-events: none;
	}
	&__popup-title {
		margin-bottom: 15px;
	}
	&__text a {
		text-decoration: underline;
	}
	&_open {
		& .info-item {
			&__popup {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
}

.specification-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 20px;
	position: relative;
	z-index: 1;
	&:last-child {
		margin-bottom: 0;
	}
	&::after {
		display: block;
		content: "";
		width: 100%;
		height: 18px;
		position: absolute;
		bottom: 5px;
		left: 0;
		background-image: url(../images/icons/doted-line.svg);
		background-position: center;
		background-size: contain;
		z-index: -1;
	}
	&__key {
		max-width: 230px;
		width: 100%;
		padding-right: 5px;
	}
	&__key-text,
	&__value-text {
		background-color: #fff;
		display: inline;
	}
	&__value {
		background-color: #fff;
		width: 240px;
		padding-left: 5px;
	}
}

.card-basket {
	border-radius: 50%;
	overflow: hidden;
	background: #f7f8fb;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
	transition: all ease 0.5s;
	&::after {
		display: block;
		content: "";
		width: 24px;
		height: 24px;
		background-color: #212121;
		mask-image: url(../images/icons/Shopping_Cart_02.svg);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;
		transition: all ease 0.5s;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&_plus::after {
		mask-image: url(../images/icons/Add_Plus.svg);
	}
	&_add {
		background-color: #e25b26;
		&::after {
			background-color: #fff;
		}
	}
}

.fancybox__backdrop {
	background: rgba(18, 65, 68, 0.9);
}

.popup {
	border-radius: 5px;
	background-color: #fff;
	padding: 0;
	display: none;
	&__title {
		padding: 18px 30px;
		padding-right: 70px;
		border-radius: 5px 5px 0 0;
	}
	&__body {
		padding: 30px;
	}
	& .f-button.is-close-btn {
		background-image: url(../images/icons/Close_MD.svg);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-color: transparent;
		width: 24px;
		height: 24px;
		top: 18px !important;
		right: 30px !important;
		opacity: 1;
		& svg {
			display: none;
		}
	}
	&_content {
		width: 490px;
		max-width: 100%;
	}
	&__gender-inputs {
		display: flex;
		gap: 20px;
	}
	&__gender {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		row-gap: 10px;
		margin-bottom: 20px;
	}
	&__btns {
		display: flex;
		gap: 10px;
	}
	&__links {
		display: flex;
		justify-content: space-between;
	}
}

.img-wide {
	height: 400px;
	width: 100%;
	background-color: #e25b26;
	border-radius: 5px;
	overflow: hidden;
}

.tile {
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 30px;
	}
	&__btn {
		margin-top: 20px;
		width: 100%;
	}
	& .card {
		width: 100%;
	}
	&_3col {
		& .tile {
			&__wrapper {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
	& .article-item {
		width: 100%;
	}
}

.block-with-sidebar {
	&__wrapper {
		display: grid;
		grid-template-columns: calc(16.7% - 15px) calc(83.3% - 15px);
		gap: 30px;
	}
	&_right .block-with-sidebar__wrapper {
		grid-template-columns: calc(83.3% - 15px) calc(33.3% - 15px);
	}
	&_4col {
		& .block-with-sidebar__wrapper {
			grid-template-columns: calc(33.3% - 15px) calc(66.7% - 15px);
		}
		&.block-with-sidebar_right .block-with-sidebar__wrapper {
			grid-template-columns: calc(66.7% - 15px) calc(33.3% - 15px);
		}
	}
}

.video-link {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	max-height: 570px;
	overflow: hidden;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	&__play {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 11.95%;
		height: 21.05%;
		min-width: 60px;
		min-height: 60px;
		transition: all ease 0.5s;
		& svg {
			width: 100%;
			height: 100%;
		}
	}
	&:hover {
		& .video-link {
			&__play {
				transform: translate(-50%, -50%) scale(1.1);
			}
		}
	}
}

.btn-3d {
	cursor: pointer;
}

.order-filter {
	min-width: 150px;
	& .dropdown {
		&__title {
			background: #ffffff;
			border: 1px solid #c9c8d3;
			border-radius: 5px;
			padding: 7px 10px;
			padding-right: 35px;
		}
		&__caret {
			width: 16px;
			height: 16px;
			right: 10px;
		}
	}
}

.order {
	&__header {
		gap: 34px;
	}
	&__header-wrapper {
		align-items: center;
	}
	&__title {
		margin-bottom: 0;
		padding: 0;
		border: none;
		background: none;
		position: relative;
		&::after {
			display: block;
			content: "/";
			position: absolute;
			right: -25px;
			top: 0;
			height: 100%;
			color: #8a8894;
		}
		&:last-child::after {
			display: none;
		}
	}
	&__load-btn {
		margin-top: 20px;
		width: 100%;
	}
}

.table {
	border-radius: 5px;
	border: 1px solid #ebebeb;
	overflow: hidden;
	& table {
		border-collapse: collapse;
		width: 100%;
	}
	& td,
	th {
		max-width: 240px;
		min-width: 140px;
		padding: 10px;
		text-align: left;
		&:first-child {
			padding-left: 30px;
		}
		&:last-child {
			padding-right: 30px;
			text-align: right;
		}
	}
	& thead tr {
		background: #f7f8fb;
		border-bottom: 1px solid #ebebeb;
	}
	& tbody tr:nth-child(even) {
		background: #f7f8fb;
	}
	&__img {
		width: 80px;
		height: 80px;
		border-radius: 4px;
		overflow: hidden;
		margin: 0;
		& img {
			object-fit: contain;
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}
	&__label {
		display: none;
	}
	&__state {
		background: rgba(51, 185, 57, 0.1);
		border-radius: 5px;
		padding: 5px 10px;
		padding-left: 30px;
		color: #33b939;
		width: fit-content;
		position: relative;
		&::after {
			display: block;
			content: "";
			width: 15px;
			height: 15px;
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../images/icons/state_true.svg);
		}
	}
}

.cabinet-favorite {
	&__load-btn {
		margin-top: 20px;
	}
}

.cabinet-support {
	&__bottom {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&__form {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__inputs {
		display: flex;
		gap: 20px;
	}
	&__textarea {
		height: 140px;
	}
}

.my-tractor {
	&__search {
		display: flex;
		gap: 20px;
		margin-bottom: 40px;
	}
	&__search-input {
		max-width: 450px;
	}
	&__load-btn {
		margin-top: 20px;
	}
	& .tab {
		&__header {
			gap: 20px;
			width: 100%;
		}
		&__link {
			background-color: transparent;
			border-radius: 0;
			padding: 10px;
			border: none;
			width: 100%;
			position: relative;
			color: #212121;
			&::after {
				display: block;
				content: "";
				width: 100%;
				height: 1px;
				position: absolute;
				left: 0;
				bottom: 0;
				background-color: #ebebeb;
			}
			&-active::after {
				background-color: #e25b26;
				height: 3px;
			}
		}
	}
}

.counter {
	background: #f7f8fb;
	border-radius: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
	width: fit-content;
	gap: 10px;
	&__btn {
		background: #124144;
		border-radius: 5px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
	}
	&__input {
		width: 40px;
		text-align: center;
		font-feature-settings: "pnum" on, "lnum" on;
		background-color: transparent;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		-moz-appearance: textfield;
	}
}

.order-info {
	background: #ffffff;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	height: fit-content;
	position: sticky;
	top: 156px;
	&__top {
		padding: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ebebeb;
	}
	&__body {
		padding: 30px;
		padding-top: 20px;
	}
	&__col {
		background-color: #fff;
		&:first-child {
			padding-right: 5px;
		}
		&:last-child {
			padding-left: 5px;
		}
	}
	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		&:first-child {
			margin-top: 0;
		}
		&_sum {
			position: relative;
			z-index: 1;
			margin-top: 20px;
			&::after {
				display: block;
				content: "";
				width: 100%;
				height: 18px;
				position: absolute;
				bottom: 5px;
				left: 0;
				background-image: url(../images/icons/doted-line.svg);
				background-position: center;
				background-size: contain;
				z-index: -1;
			}
		}
	}
}

.accordion_v3 {
	& .a-btn {
		border-radius: 5px 5px 0px 0px;
		padding: 19px 30px;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
	}
	& .a-panel {
		max-height: 0;
		overflow: hidden;
		transition: all ease 0.5s;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 0 30px;
	}
	& .a-container {
		border: 1px solid #ebebeb;
		border-radius: 5px;
		overflow: hidden;
		&_open .a-panel {
			margin: 30px 0;
			max-height: 5000px;
		}
	}
}

.article-nav {
	position: sticky;
	left: 0;
	top: 156px;
	height: fit-content;
	z-index: 4;
	& .nav {
		&__list {
			padding: 30px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			border-radius: 5px;
			border: 1px solid #ebebeb;
			background: #f7f8fb;
		}
		&__item {
			position: relative;
			padding-left: 25px;
			&::before {
				display: block;
				content: "";
				width: 15px;
				height: 2px;
				position: absolute;
				left: 0;
				top: 9px;
				background-color: #e25b26;
			}
		}
		&__link {
			&_active {
				font-weight: 500;
			}
		}
	}
}

.article-img {
	display: block;
	width: 315px;
	height: 250px;
	max-width: 100%;
	border-radius: 5px;
	overflow: hidden;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.caution-text {
	border-radius: 5px;
	border: 1px solid #ebebeb;
	background: #f7f8fb;
	padding: 20px;
	padding-left: 25px;
	position: relative;
	overflow: hidden;
	margin: 40px 0;
	&:last-child {
		margin-bottom: 0;
	}
	&:first-child {
		margin-top: 0;
	}
	&::after {
		display: block;
		content: "";
		width: 5px;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #e25b26;
	}
}

@media (max-width: 1650px) {
	.slider-navigation {
		display: none;
	}
}

@media (max-width: 1400px) {
	.tile {
		&__wrapper {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

@media (max-width: 1300px) {
	.home-block {
		&__wrapper {
			grid-template-columns: calc(100% - (360px + 60px)) 360px;
			& .sidebar {
				display: none;
			}
		}
	}
	.table {
		border: none;
		border-radius: 0;
		& thead {
			display: none;
		}
		& tbody {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		& tr {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			border: 1px solid #ebebeb;
			border-radius: 5px;
			gap: 15px;
			padding: 15px;
		}
		& td {
			padding: 0;
		}
		&__label {
			display: flex;
			margin-bottom: 5px;
		}
		& td {
			&:last-child {
				text-align: left;
				padding: 0;
			}
			&:first-child {
				padding: 0;
			}
		}
	}
	.tile {
		&_3col {
			& .tile {
				&__wrapper {
					grid-template-columns: 1fr 1fr;
				}
			}
		}
	}
}

@media (max-width: 1150px) {
	.main {
		padding-top: 170px;
	}
	.header-stick .main {
		padding-top: 80px;
	}
	.popup-info {
		bottom: 100px;
	}
	.block-with-sidebar {
		&_4col .block-with-sidebar__wrapper {
			display: flex;
			flex-direction: column;
		}
		&_right .block-with-sidebar__wrapper {
			flex-direction: column-reverse;
		}
	}
	.order-info {
		position: static;
	}
	.article-nav {
		position: static;
		& .nav {
			&__list {
				padding: 15px;
			}
		}
	}
}

@media (max-width: 1024px) {
	.home-block {
		overflow: hidden;
		&__wrapper {
			flex-direction: column;
			display: flex;
			gap: 70px;
		}
	}
	.tab {
		&__header-wrapper {
			flex-direction: column;
			gap: 20px;
		}
	}
	.tile {
		&__wrapper {
			grid-template-columns: 1fr 1fr;
		}
	}
	.block-with-sidebar {
		&__wrapper {
			display: flex;
			flex-direction: column;
		}
	}
	.order {
		&__header-wrapper {
			align-items: flex-start;
		}
	}
}

@media (max-width: 768px) {
	.table {
		& tr {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	.cabinet-support {
		&__bottom {
			flex-direction: column;
			align-items: flex-start;
		}
		&__inputs {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		&__btn {
			width: 100%;
		}
	}
	.order {
		&__table-full-mobile {
			& br {
				display: none;
			}
		}
	}
	.accordion_v3 {
		& .a-panel {
			padding: 0 15px;
		}
		& .a-container {
			&_open .a-panel {
				margin: 15px 0;
			}
		}
	}
}

@media (max-width: 570px) {
	.table {
		& tr {
			grid-template-columns: 1fr 1fr;
		}
		& td {
			min-width: 0px;
			display: flex;
			flex-direction: column;
		}
	}
	.order {
		&__header {
			flex-direction: column;
			gap: 10px;
		}
		&__title {
			&::after {
				display: none;
			}
		}
		&__table-full-mobile {
			grid-column: span 2;
		}
		&__table-name {
			min-width: 140px !important;
			justify-content: center;
		}
	}
	.popup {
		min-width: 0;
	}
	.popup-info {
		padding: 15px;
		padding-right: 40px;
		&__close {
			top: 15px;
			right: 15px;
		}
	}
	.main {
		padding-top: 215px;
	}
	.accordion_v1 {
		& .a-panel {
			height: 0;
			overflow: hidden;
			transition: all ease 0.5s;
		}
	}
	.popup {
		&__body {
			padding: 15px;
			padding-top: 30px;
		}
	}
	.tile {
		&__wrapper {
			display: flex;
			flex-direction: column;
		}
	}
	.my-tractor {
		&__search {
			flex-direction: column;
			gap: 10px;
		}
		&__search-btn {
			width: 100%;
		}
		&__search-input {
			max-width: none;
		}
	}
	.order-info {
		&__top {
			padding: 15px;
			padding-bottom: 20px;
		}
		&__body {
			padding: 15px;
			padding-top: 20px;
		}
		&__row_header {
			flex-direction: column;
			align-items: center;
			gap: 10px;
		}
	}
	.accordion_v3 {
		& .a-btn {
			flex-direction: column;
			gap: 10px;
			padding: 15px;
		}
	}
}
