<section class="section line-form">
    <div class="container">
        <div class="line-form__wrapper">
            <div class="line-form__item  line-form__info white-text green-bg">
                <div class="line-form__text">
                    <div class="line-form__info-title subtitle">Какой трактор нужен именно вам?</div>
                    <div class="line-form__info-text">Наш тест поможет в выборе оборудования</div>
                </div>
                <a href="" class="line-form__btn btn">Пройти тест</a>
            </div>
            <form class="line-form__item line-form__form orange-bg ">
                <div class="line-form__title white-text subtitle">Узнайте о новостях и скидках первыми</div>
                <div class="line-form__input input input_with-arrow">
                    <input type="email" class="input__field" placeholder="E-mail">
                    <input type="submit" class="input__submit" value="">
                </div>
            </form>
        </div>
    </div>
</section>