<section class="section detail-block">
    <div class="container">
        <div class="detail-block__header">
            <div class="detail-block__title title">Трактор Shifeng | Шифенг SF-240В</div>
            <div class="detail-block__logo">
                <img src="./images/header-line-logo.svg" alt="logo">
            </div>
        </div>
        <div class="detail-block__subheader  gray-text caption">
            <div class="detail-block__subheader-info">
                <div class="detail-block__rating">
                    <div class="detail-block__rating-stars rating-stars">
                        <div class="rating-stars__current" style="width:100%"></div>
                    </div>
                    <div class="detail-block__rating-text">8 отзывов</div>
                </div>
                <div class="detail-block__index">Код: GS-2349</div>
            </div>
            <div class="detail-block__tags caption gray-text">
                <div class="detail-block__tag">Всем скидки и бонусы!</div>
                <div class="detail-block__tag">-10 % на бренд Shifeng</div>
                <div class="detail-block__tag">Весенняя распродажа</div>
            </div>
        </div>
        <div class="detail-block__wrapper">
            <div class="detail-block__gallery">
                <div class="detail-block__slider swiper">
                    <div class="detail-block__slider-wrapper swiper-wrapper">
                        <div class="detail-block__slide swiper-slide">
                            <img src="./images/card.png" alt="img">
                        </div>
                        <div class="detail-block__slide swiper-slide">
                            <img src="./images/card.png" alt="img">
                        </div>
                    </div>
                    <div
                        class="detail-block__navigation slider-navigation slider-navigation_gray">
                        <div class="detail-block__prev slider-prev"></div>
                        <div class="detail-block__next slider-next"></div>
                    </div>
                </div>
                <div class="detail-block__pagination slider-pagination"></div>
            </div>
            <div class="detail-block__body">
                2
            </div>
            <div class="detail-block__order">
                3
            </div>
            <div class="detail-block__panel">
                4
            </div>
        </div>
    </div>
</section>