.category {
    &__slide {
        background: #f7f8fb;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;
    }
    &__slider {
        position: static;
    }
    &__slider-container {
        position: relative;
    }
}
