<section class="section gray-bg additional">
    <div class="container">
        <div class="additional__wrapper">
            <div class="additional__types">
                <div class="additional__title title">Добавить к заказу</div>
                <div class="additional__tab tab">
                    <div class="tab__header-wrapper">
                        <div class="tab__header bold">
                            <div class="tab__link tab__link-active">Навесные</div>
                            <div class="tab__link">Подвесные</div>
                            <div class="tab__link">Противовесные</div>
                        </div>
                    </div>

                    <div class=" tab__body">
                        <div class=" tab__item tab__item-active">
                            <div class="default-slider">
                                <div class="default-slider__holder">
                                    <div class="default-slider__container swiper">
                                        <div class="default-slider__wrapper swiper-wrapper">
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="default-slider__scrollbar slider-scrollbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" tab__item ">
                            <div class="default-slider">
                                <div class="default-slider__holder">
                                    <div class="default-slider__container swiper">
                                        <div class="default-slider__wrapper swiper-wrapper">
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="default-slider__scrollbar slider-scrollbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" tab__item ">
                            <div class="default-slider">
                                <div class="default-slider__holder">
                                    <div class="default-slider__container swiper">
                                        <div class="default-slider__wrapper swiper-wrapper">
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="default-slider__slide swiper-slide">
                                                <div class="card">
                                                    <div class="card__top">
                                                        <div class="card__sticker demibold">-10%</div>
                                                        <div class="card__sticker card__sticker_gray ">До 11.04</div>
                                                    </div>
                                                    <a href="" class="card__img">
                                                        <img src="./images/card.png" alt="card">
                                                    </a>
                                                    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
                                                    <div class="card__mid">
                                                        <div class="card__rating">
                                                            <div class="card__rating-stars rating-stars">
                                                                <div class="rating-stars__current" style="width:100%">
                                                                </div>
                                                            </div>
                                                            <div class="card__rating-num caption">8</div>
                                                        </div>
                                                        <div class="card__state card-state caption-large">В наличии
                                                        </div>
                                                    </div>
                                                    <div class="card__bot">
                                                        <div class="card__price-wrapper">
                                                            <div class="card__price">
                                                                <div class="card__current-price demibold subtitle">
                                                                    349 900 ₽
                                                                </div>
                                                                <div class="card__price-difference caption">-20 000
                                                                </div>
                                                            </div>
                                                            <div class="card__old-price caption">369 900 ₽</div>
                                                        </div>
                                                        <div
                                                            class="card__basket card-basket card__basket card-basket_plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="default-slider__scrollbar slider-scrollbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="additional__service">
                <div class="additional__title title">Добавить к заказу</div>
                <div class="additional__service-list">
                    <label class="additional__service-item">
                        <div class="checkbox demibold">
                            <input class="checkbox__input" type="checkbox">
                            <span class="checkbox__checkmark"></span>
                            19 900 ₽
                        </div>
                        <div class="additional__service-item-desc">Доставка продукта “до двери”</div>
                    </label>
                    <label class="additional__service-item">
                        <div class="checkbox demibold">
                            <input class="checkbox__input" type="checkbox">
                            <span class="checkbox__checkmark"></span>
                            19 900 ₽
                        </div>
                        <div class="additional__service-item-desc">Доставка продукта “до двери”</div>
                    </label>
                    <label class="additional__service-item">
                        <div class="checkbox demibold">
                            <input class="checkbox__input" type="checkbox">
                            <span class="checkbox__checkmark"></span>
                            19 900 ₽
                        </div>
                        <div class="additional__service-item-desc">Доставка продукта “до двери”</div>
                    </label>
                    <label class="additional__service-item">
                        <div class="checkbox demibold">
                            <input class="checkbox__input" type="checkbox">
                            <span class="checkbox__checkmark"></span>
                            19 900 ₽
                        </div>
                        <div class="additional__service-item-desc">Доставка продукта “до двери”</div>
                    </label>
                    <label class="additional__service-item">
                        <div class="checkbox demibold">
                            <input class="checkbox__input" type="checkbox">
                            <span class="checkbox__checkmark"></span>
                            19 900 ₽
                        </div>
                        <div class="additional__service-item-desc">Доставка продукта “до двери”</div>
                    </label>
                </div>
                <div class="additional__price">
                    <div class="additional__current-price">
                        <div class="additional__price-text">
                            Общая сумма
                        </div>
                        <div class="additional__price-num title">
                            449 900 ₽
                        </div>
                    </div>
                    <div class="additional__profit gray-text caption-large">
                        Ваша выгода: <br>
                        - 15 000 ₽
                    </div>
                </div>
                <div class="additional__btn btn">Купить комплект</div>
            </div>
        </div>
    </div>
</section>