<section class="section category">
    <div class="container">
        <div class="title">@@title</div>
        <div class="category__slider-container">
            <div class="category__slider swiper">
                <div class="category__slider-wrapper swiper-wrapper">
                    <a href="" class="category__slide swiper-slide">
                        <div class="category__img">
                            <img src="../../images/category/cat-1.png" alt="category">
                        </div>
                        <div class="category__name subtitle">Все сезонные категории</div>
                    </a>
                    <a href="" class="category__slide swiper-slide">
                        <div class="category__img">
                            <img src="../../images/category/cat-2.png" alt="category">
                        </div>
                        <div class="category__name subtitle">Все сезонные категории</div>
                    </a>
                    <a href="" class="category__slide swiper-slide">
                        <div class="category__img">
                            <img src="../../images/category/cat-3.png" alt="category">
                        </div>
                        <div class="category__name subtitle">Все сезонные категории</div>
                    </a>
                    <a href="" class="category__slide swiper-slide">
                        <div class="category__img">
                            <img src="../../images/category/cat-4.png" alt="category">
                        </div>
                        <div class="category__name subtitle">Все сезонные категории</div>
                    </a>
                    <a href="" class="category__slide swiper-slide">
                        <div class="category__img">
                            <img src="../../images/category/cat-1.png" alt="category">
                        </div>
                        <div class="category__name subtitle">Все сезонные категории</div>
                    </a>
                </div>
                <div class="category__navigation slider-navigation slider-navigation_outside slider-navigation_gray">
                    <div class="category__prev slider-prev"></div>
                    <div class="category__next slider-next"></div>
                </div>
            </div>
        </div>
        <div class="category__pagination slider-pagination"></div>
    </div>
</section>