<section class="section site-map">
    <div class="container">
        <div class="site-map__wrapper">
            <nav class="site-map__nav nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="" class="nav__link nav__link_lvl1 demibold">Раздел</a>
                        <ul class="nav__sublist nav__sublist_lvl1">
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                                <ul class="nav__sublist nav__sublist_lvl2">
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                        <ul class="nav__sublist nav__sublist_lvl3">
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link nav__link_lvl1 demibold">Раздел</a>
                        <ul class="nav__sublist nav__sublist_lvl1">
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                                <ul class="nav__sublist nav__sublist_lvl2">
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                        <ul class="nav__sublist nav__sublist_lvl3">
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link nav__link_lvl1 demibold">Раздел</a>
                        <ul class="nav__sublist nav__sublist_lvl1">
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                                <ul class="nav__sublist nav__sublist_lvl2">
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                        <ul class="nav__sublist nav__sublist_lvl3">
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link nav__link_lvl1 demibold">Раздел</a>
                        <ul class="nav__sublist nav__sublist_lvl1">
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                                <ul class="nav__sublist nav__sublist_lvl2">
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                        <ul class="nav__sublist nav__sublist_lvl3">
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link nav__link_lvl1 demibold">Раздел</a>
                        <ul class="nav__sublist nav__sublist_lvl1">
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                                <ul class="nav__sublist nav__sublist_lvl2">
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                        <ul class="nav__sublist nav__sublist_lvl3">
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link nav__link_lvl1 demibold">Раздел</a>
                        <ul class="nav__sublist nav__sublist_lvl1">
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                                <ul class="nav__sublist nav__sublist_lvl2">
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                        <ul class="nav__sublist nav__sublist_lvl3">
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link nav__link_lvl1 demibold">Раздел</a>
                        <ul class="nav__sublist nav__sublist_lvl1">
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                                <ul class="nav__sublist nav__sublist_lvl2">
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                        <ul class="nav__sublist nav__sublist_lvl3">
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link nav__link_lvl1 demibold">Раздел</a>
                        <ul class="nav__sublist nav__sublist_lvl1">
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link_lvl2">Подраздел 1 уровня</a>
                                <ul class="nav__sublist nav__sublist_lvl2">
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="" class="nav__link nav__link_lvl3">Подраздел 2 уровня</a>
                                        <ul class="nav__sublist nav__sublist_lvl3">
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="" class="nav__link nav__link_lvl4">Подраздел 3 уровня</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>