<div class="card">
    <div class="card__top">
        <div class="card__dropdown dropdown dropdown_gray caption">
            <div class="dropdown__title">
                <div class="dropdown__title-text">
                    Тут допустим какой-то заголовок
                </div>
                <div class="dropdown__caret">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.3327 8.33331L9.99935 11.6666L6.66602 8.33331" stroke="#3F3F3F"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
            <div class="dropdown__list">
                <div class="dropdown__item">Text1</div>
                <div class="dropdown__item">Text2</div>
                <div class="dropdown__item">Тут допустим какой-то заголовок</div>
            </div>
        </div>
        <div class="card__icons">
            <div class="card__compare icon_compare icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 16.5H12.5H13H16C16.8284 16.5 17.5 15.8284 17.5 15V7C17.5 6.17157 16.8284 5.5 16 5.5H13H12.5V4C12.5 3.17157 11.8284 2.5 11 2.5H9C8.17157 2.5 7.5 3.17157 7.5 4V8.5H7H4C3.17157 8.5 2.5 9.17157 2.5 10V15C2.5 15.8284 3.17157 16.5 4 16.5H7H7.5H8H12Z"
                        stroke="#8A8894" />
                </svg>
            </div>
            <div class="card__like icon_like icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 6.82876C8.33333 2.91673 2.5 3.33339 2.5 8.33342C2.5 13.3334 10 17.5001 10 17.5001C10 17.5001 17.5 13.3334 17.5 8.33342C17.5 3.33339 11.6667 2.91673 10 6.82876Z"
                        stroke="#8A8894" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
    <a href="" class="card__img">
        <img src="./images/card.png" alt="card">
    </a>
    <a href="" class="card__name">Трактор Shifeng | Шифенг SF-240В</a>
    <div class="card__mid">
        <div class="card__rating">
            <div class="card__rating-stars rating-stars">
                <div class="rating-stars__current" style="width:100%"></div>
            </div>
            <div class="card__rating-num caption">8</div>
        </div>
        <div class="card__state card-state card-state_false caption-large">В наличии</div>
    </div>
    <div class="card__bot">
        <div class="card__price-wrapper">
            <div class="card__price">
                <div class="card__current-price demibold subtitle">
                    349 900 ₽
                </div>
                <div class="card__price-difference caption">-20 000 </div>
            </div>
            <div class="card__old-price caption">369 900 ₽</div>
        </div>
        <div class="card__basket"></div>
    </div>
</div>