.card {
  width: 360px;
  height: 396px;
  max-width: 100%;
  border: 1.5px solid #ebebeb;
  border-radius: 5px;
  padding: 30px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.card__name {
  margin: 20px 0;
  display: block;
}
.card__mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.card-state {
  padding-right: 20px;
  background-image: url(../images/icons/state_true.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center right;
  color: #33b939;
  line-height: 100%;
  width: fit-content;
}
.card-state_false {
  color: #f93232;
  background-image: url(../images/icons/state_false.svg);
}
.card-state_order {
  background-image: url(../images/icons/Add_rectangle.svg);
  color: #ffc700;
}
.card__img {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__sticker {
  height: 30px;
  min-width: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 5px;
  background: #e25b26;
  color: #fff;
  margin-right: 5px;
}
.card__sticker_gray {
  background: #f7f8fb;
  color: #8a8894;
}
.card__top {
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0 30px;
  align-items: center;
}
.card__bot {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.card__rating {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card__rating-num {
  color: #8a8894;
  height: 100%;
}
.card__price {
  display: flex;
  gap: 15px;
  align-items: center;
}
.card__price-difference {
  padding: 4px 11px;
  background: #f7f8fb;
  border-radius: 5px;
  color: #8a8894;
}
.card__old-price {
  margin-top: 5px;
  color: #8a8894;
  text-decoration-line: line-through;
}
.card__icons {
  display: flex;
  gap: 10px;
  margin-left: auto;
  height: 100%;
}
.card__dropdown {
  width: 182px;
  max-width: 100%;
}
.card__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 10px;
}
.card_kit {
  width: 750px;
  padding: 0;
}
.card_kit .card__top {
  position: relative;
  top: 0;
  padding: 0;
  gap: 7px;
}
.card_kit .card__img {
  margin: 0;
}
.card_kit .card__name {
  margin: 0;
  margin-bottom: 10px;
}
.card__body {
  padding: 30px;
  display: flex;
  gap: 30px;
}
.card__main-info {
  display: flex;
  gap: 30px;
}
.card__gallery {
  width: 100%;
  max-width: 215px;
  height: 195px;
  padding-bottom: 27px;
}
.card__gallery-slide {
  justify-content: center;
  align-items: center;
  display: flex;
}
.card__main-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card__kit-price {
  display: flex;
  padding: 30px;
  align-items: center;
  border-top: 1px solid #ebebeb;
  justify-content: space-between;
}
.card__kit-price-info {
  display: flex;
  gap: 20px;
  align-items: center;
}
.card__kit-price-num {
  margin: 0;
}
.card__kit-list {
  width: 200px;
  height: 100%;
  max-height: 235px;
  overflow-y: auto;
  padding-right: 10px;
}
.card__kit-list::-webkit-scrollbar {
  width: 5px;
  background-color: #f7f8fb;
}
.card__kit-list::-webkit-scrollbar-thumb {
  background: #c9c8d3;
  border-radius: 5px;
}
.card__kit-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card__kit-item {
  padding: 15px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  height: auto;
}
.card__kit-item-img {
  margin-bottom: 5px;
  display: block;
}
.card__kit-item-name {
  margin-bottom: 5px;
  display: block;
}
.card__kit-price-btn {
  width: 260px;
}
.card_wide {
  display: grid;
  grid-template-columns: 280px 1fr 1fr;
  gap: 30px;
  height: auto;
  padding-right: 100px;
  width: 100%;
}
.card_wide .card__body {
  padding: 0;
}
.card_wide .card__main-info-item {
  display: flex;
  justify-content: space-between;
}
.card_wide .card__main-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card_wide .card__main-info-value {
  text-align: right;
}
.card_wide .card__main-hash {
  display: inline-flex;
  background: #f7f8fb;
  border-radius: 5px;
  padding: 4px 5px;
  align-items: center;
  gap: 5px;
}
.card_wide .card__main-hash-list {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.card_wide .card__main-hash-list:last-child {
  margin-bottom: 0;
}
.card_wide .card__current-price {
  margin-bottom: 0;
}
.card_wide .card__old-price {
  margin: 0;
}
.card_wide .card__price {
  margin-bottom: 20px;
}
.card_wide .card__btn {
  width: 100%;
}
.card_wide .card__deliver {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 214px;
  width: 100%;
  margin-top: 30px;
}
.card_wide .card__deliver-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
}
.card_wide .card__gallery {
  max-width: 280px;
  height: 227px;
}
.card_wide .card__order {
  max-width: 260px;
}
.card__compare-fix {
  width: 24px;
  height: 24px;
  mask-image: url(../images/icons/icon_pin.svg);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #c9c8d3;
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
}
.card__compare-fix_fixed {
  background-color: #33b939;
}
.card__close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.card__mobile-elem {
  display: none;
}
.card_basket {
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.card_basket .card__state {
  white-space: nowrap;
}
.card_basket .card__order {
  width: 100%;
  max-width: 280px;
}
.card_basket .card__gallery {
  max-width: 200px;
  height: 177px;
  margin: 0;
}
.card_basket .card__name {
  margin-top: 0;
}
.card_basket .card__main {
  max-width: 330px;
}
.card_basket .card__price {
  margin: 0;
}
.card_basket .card__price-difference {
  margin-top: 5px;
  margin-left: auto;
  width: fit-content;
}
.card_basket .card__price-wrapper {
  width: fit-content;
  margin-bottom: 20px;
}
.card_basket .card__controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.card_basket .card__icon-btn {
  background: #f7f8fb;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 10px;
}
.card_basket .card__mid {
  justify-content: flex-start;
  gap: 40px;
}

@media (min-width: 768px) {
  .card_kit .card__mid {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    height: 100%;
  }
}
@media (max-width: 1400px) {
  .card_basket {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 30px;
  }
  .card_basket .card__gallery {
    margin: 0 auto;
  }
  .card_basket .card__price-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
  }
  .card_basket .card__order {
    max-width: none;
  }
  .card_basket .card__counter {
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .card__mobile-elem {
    display: flex;
    margin-top: 10px;
  }
  .card__compare-fix {
    display: none;
  }
  .card_kit {
    height: auto;
    width: 360px;
  }
  .card__header {
    flex-direction: column;
    gap: 15px;
    display: flex;
  }
  .card__main-info {
    flex-direction: column;
    gap: 10px;
  }
  .card__mid {
    margin-bottom: 10px;
  }
  .card__body {
    flex-direction: column;
    gap: 12px;
  }
  .card__kit-list {
    width: 100%;
    max-height: none;
    overflow-x: auto;
    padding: 0;
    padding-bottom: 10px;
  }
  .card__kit-list::-webkit-scrollbar {
    height: 5px;
  }
  .card__kit-list-wrapper {
    flex-direction: row;
    gap: 15px;
  }
  .card__kit-item {
    min-width: 258px;
    display: flex;
    padding: 8px 10px;
    gap: 10px;
  }
  .card__kit-item-img {
    margin: 0;
  }
  .card__kit-price {
    flex-direction: column;
    gap: 15px;
  }
  .card__kit-price-info {
    width: 100%;
    justify-content: space-between;
  }
  .card__kit-price-profit {
    display: none;
  }
  .card__kit-price-btn {
    width: 100%;
  }
  .card__gallery {
    height: auto;
    max-width: 300px;
  }
}
@media (max-width: 680px) {
  .card {
    padding: 15px;
    width: 100%;
  }
  .card_kit {
    padding: 0;
  }
  .card__body {
    padding: 15px;
  }
  .card__top {
    padding: 0 15px;
    top: 15px;
  }
  .card__kit-price {
    padding: 15px;
  }
}
@media (max-width: 570px) {
  .card_basket .card__price-wrapper {
    display: block;
  }
  .card_basket .card__mid {
    gap: 20px;
  }
}