body {
  font-family: "TTWELLINGTONS";
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #212121;
}

.content h1,
.page-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
}

.content h2,
.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  color: #3f3f3f;
  margin-bottom: 30px;
}

.content h3,
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.caption {
  font-size: 12px;
  line-height: 125%;
}

.caption-large {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}

.caption-small {
  font-size: 10px;
  line-height: 14px;
}

.bold {
  font-weight: 500;
}

.demibold {
  font-weight: 600;
}

@media (max-width: 570px) {
  .title {
    font-size: 20px;
    line-height: 28px;
  }
}
.btn {
  font-size: 16px;
  line-height: 1;
  padding: 0.875em 1.5625em;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 5px;
  transition: all ease 0.5s;
  color: #fff;
  --color: #e25b26;
  background: var(--color);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  font-feature-settings: "pnum" on, "lnum" on;
}
.btn:hover {
  --color: #cc5222;
}
.btn:active {
  --color: #b5491e;
}
.btn_green {
  --color: #124144;
}
.btn_green:hover {
  --color: #103b3d;
}
.btn_green:active {
  --color: #0d2e30;
}
.btn_transparent {
  background-color: transparent;
  border: 1px solid var(--color);
  color: var(--color);
}
.btn_large {
  font-size: 24px;
}
.btn_medium {
  font-size: 16px;
}
.btn_small {
  font-size: 14px;
}
.btn_xsmall {
  font-size: 10px;
}
.btn span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  position: relative;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  width: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
}
.input__field {
  padding: 14px 15px;
  width: 100%;
}
.input__submit {
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/Chevron_Right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}
.input_with-arrow .input__submit {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}
.input_with-arrow .input__field {
  padding-right: 50px;
}

.textarea {
  padding: 14px 15px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  width: 100%;
  resize: vertical;
  min-height: 80px;
  max-height: 150px;
}

.checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}
.checkbox__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.checkbox__input:checked ~ .checkbox__checkmark {
  background-image: url(../images/icons/Check.svg);
}
.checkbox__checkmark {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #e25b26;
  border-radius: 4px;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.toggle {
  position: relative;
  padding-right: 60px;
  cursor: pointer;
  user-select: none;
}
.toggle__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.toggle__input:checked ~ .toggle__checkmark {
  background-color: #e25b26;
}
.toggle__input:checked ~ .toggle__checkmark::after {
  background-color: #fff;
  transform: translateY(-50%) translateX(-100%);
  left: calc(100% - 4px);
}
.toggle__checkmark {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 20px;
  border: 1px solid #e25b26;
  border-radius: 16px;
  background-color: #fff;
  transition: all ease 0.5s;
}
.toggle__checkmark::after {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: all ease 0.5s;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  background-color: #e25b26;
}

.range-slider__limits {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.range-slider__wrapper {
  padding: 0 15px;
}
.range-slider__input {
  padding: 10px;
  padding-left: 35px;
}
.range-slider__input-wrapper {
  position: relative;
  z-index: 1;
}
.range-slider__input-wrapper::before {
  display: flex;
  align-items: center;
  content: attr(data-before);
  position: absolute;
  left: 10px;
  top: 0;
  height: 100%;
  width: 20px;
  color: #c9c8d3;
  z-index: 2;
}
.range-slider .rs-scale span ins {
  font-size: 0;
  height: 0;
}
.range-slider .rs-bg {
  background: rgba(226, 91, 38, 0.2);
  height: 4px;
  top: 50%;
  left: -15px;
  width: calc(100% + 30px);
  transform: translateY(-50%);
  border: none;
}
.range-slider .rs-container {
  height: 30px;
}
.range-slider .rs-selected {
  height: 4px;
  background: #e25b26;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}
.range-slider .rs-pointer {
  border: none;
  box-shadow: none;
  background: #e25b26;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/Unfold_More.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.range-slider .rs-pointer::after, .range-slider .rs-pointer::before {
  display: none;
}

.orange-text {
  color: #e25b26 !important;
}

.gray-text {
  color: #8a8894;
}

.white-text {
  color: #ffffff;
}

.green-text {
  color: #124144;
}

.orange-bg {
  background-color: #e25b26;
}

.gray-bg {
  background-color: #f7f8fb;
}
.gray-bg.section {
  padding: 70px 0;
}

.green-bg {
  background-color: #124144;
}

@media (max-width: 768px) {
  .gray-bg.section {
    padding: 40px 0;
  }
}
.container {
  width: 1560px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  margin-bottom: 70px;
}

.filler {
  height: 1500px;
  background-color: #64bbd1;
}

.dropdown {
  position: relative;
  z-index: 3;
}
.dropdown__list {
  transition: all ease 0.5s;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  z-index: 1;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
}
.dropdown__title {
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}
.dropdown__caret {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all ease 0.5s;
}
.dropdown__caret svg {
  transition: all ease 0.5s;
}
.dropdown__title-text {
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dropdown__item {
  background: #f7f8fb;
  border-radius: 5px;
  padding: 4px 5px;
  cursor: pointer;
}
.dropdown_active .dropdown__list {
  opacity: 1;
  pointer-events: all;
}
.dropdown_active .dropdown__caret svg {
  transform: rotate(180deg);
}
.dropdown_gray {
  color: #8a8894;
}
.dropdown_gray .dropdown__title {
  padding-right: 35px;
}
.dropdown_gray .dropdown__caret {
  background-color: #f7f8fb;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.dropdown_gray .dropdown__title-text {
  background: #f7f8fb;
  border-radius: 5px;
  padding: 7px 5px;
}

.main {
  padding-top: 276px;
  transition: all ease 0.5s;
}

.header-stick .main {
  padding-top: 156px;
}

.home-block__wrapper {
  display: grid;
  grid-template-columns: 230px calc(100% - 650px) 360px;
  gap: 30px;
  width: 100%;
}

.slider-pagination {
  margin-top: 20px;
  min-height: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-pagination .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  opacity: 1;
  transition: all ease 0.5s;
  background: #c9c8d3;
  transform: none;
}
.slider-pagination .swiper-pagination-bullet-active {
  width: 7px;
  height: 7px;
  background: #8a8894;
}

.slider-prev,
.slider-next {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
  background-image: url(../images/icons/slider-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all ease 0.5s;
  cursor: pointer;
  pointer-events: all;
}

.slider-next {
  transform: scale(-1);
}

.slider-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 3;
  pointer-events: none;
}
.slider-navigation_gray .slider-prev, .slider-navigation_gray .slider-next {
  background-color: #f7f8fb;
}
.slider-navigation_outside {
  left: -50px;
  width: calc(100% + 100px);
}

.rating-stars {
  background-image: url(../images/icons/rating-empty.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 96px;
  height: 16px;
  position: relative;
}
.rating-stars__current {
  background-image: url(../images/icons/rating-full.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  position: absolute;
  height: 100%;
}

.icon {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.icon:hover svg {
  fill: #c9c8d3;
}
.icon_active.icon_like svg {
  fill: #f93232;
}
.icon_active.icon_like path {
  stroke: #f93232;
}
.icon_active.icon_compare svg {
  fill: #e25b26;
}
.icon_active.icon_compare path {
  stroke: transparent;
}

.tab__header-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.tab__header {
  display: flex;
  gap: 10px;
  height: 100%;
  overflow-x: auto;
}
.tab__header::-webkit-scrollbar {
  display: none;
}
.tab__link {
  background: #f7f8fb;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  color: #8a8894;
  transition: all ease 0.5s;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.tab__link-active {
  color: #212121;
  border-color: #ebebeb;
}
.tab__item {
  display: none;
}
.tab__item-active {
  display: block;
}
.tab__title {
  margin-bottom: 0;
}
.tab__header-wrapper {
  margin-bottom: 30px;
}

.popup-info {
  padding: 30px;
  padding-right: 84px;
  border-radius: 5px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 650px;
  max-width: calc(100% - 30px);
  z-index: 99;
  transition: all ease 0.5s;
}
.popup-info_hide {
  transform: translateY(100%);
  bottom: 0 !important;
}
.popup-info__close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  background-image: url(../images/icons/Close_MD.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.accordion_v2 .a-btn {
  cursor: pointer;
}
.accordion_v2 .a-panel {
  height: 0;
  overflow: hidden;
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accordion_v2 .a-container_open .a-panel {
  margin-top: 20px;
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.pagination__item {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  min-width: 30px;
  cursor: pointer;
}
.pagination__item_active {
  background: #f7f8fb;
  color: #e25b26;
}
.pagination__prev, .pagination__next {
  width: 24px;
  height: 24px;
  mask-image: url(../../images/icons/Caret_Down_MD.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: #e25b26;
  transform: rotate(90deg);
  cursor: pointer;
}
.pagination__next {
  transform: rotate(-90deg);
}

.read-more__btn {
  margin-top: 20px;
  position: relative;
  width: fit-content;
  cursor: pointer;
  user-select: none;
}
.read-more__text {
  transition: all ease 0.3s;
  overflow: hidden;
  position: relative;
}
.read-more__text::after {
  display: block;
  content: "";
  width: 100%;
  height: 44px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, #ffffff 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transition: all ease 0.5s;
  opacity: 1;
}
.read-more_open .read-more__text::after {
  opacity: 0;
}

.content h2 {
  margin-top: 40px;
}
.content h2:first-child {
  margin-top: 0;
}
.content h3 {
  margin: 20px 0;
  margin-top: 30px;
}
.content h3:first-child {
  margin-top: 0;
}
.content p {
  margin-bottom: 20px;
}
.content p:last-child {
  margin-bottom: 0;
}
.content ul {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content ul li {
  position: relative;
  padding-left: 25px;
}
.content ul li::before {
  display: block;
  content: "";
  width: 15px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 9px;
  background-color: #e25b26;
}

.slider-scrollbar {
  width: 100%;
  height: 5px;
  background: #f7f8fb;
  border-radius: 5px;
  margin-top: 20px;
}
.slider-scrollbar .swiper-scrollbar-drag {
  background: #c9c8d3;
}

.gray-bg .slider-scrollbar {
  background: #c9c8d3;
}
.gray-bg .slider-scrollbar .swiper-scrollbar-drag {
  background: #8a8894;
}

.video-test-link {
  cursor: pointer;
  padding-right: 20px;
  background-image: url(../images/icons/video.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 15px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.info-item__btn {
  width: 24px;
  height: 24px;
  background-image: url(../../images/icons/Info.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.info-item__text {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1650px) {
  .slider-navigation {
    display: none;
  }
}
@media (max-width: 1300px) {
  .home-block__wrapper {
    grid-template-columns: calc(100% - 420px) 360px;
  }
  .home-block__wrapper .sidebar {
    display: none;
  }
}
@media (max-width: 1150px) {
  .main {
    padding-top: 170px;
  }
  .header-stick .main {
    padding-top: 80px;
  }
  .popup-info {
    bottom: 100px;
  }
}
@media (max-width: 1024px) {
  .home-block {
    overflow: hidden;
  }
  .home-block__wrapper {
    flex-direction: column;
    display: flex;
    gap: 70px;
  }
  .tab__header-wrapper {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 570px) {
  .popup-info {
    padding: 15px;
    padding-right: 40px;
  }
  .popup-info__close {
    top: 15px;
    right: 15px;
  }
  .main {
    padding-top: 215px;
  }
  .accordion_v1 .a-panel {
    height: 0;
    overflow: hidden;
    transition: all ease 0.5s;
  }
}