@charset "UTF-8";

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-BOLD.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-BLACK.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-DEMIBOLD.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-EXTRABOLD.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-EXTRALIGHT.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-MEDIUM.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-REGULAR.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-THIN.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-LIGHT.ttf);
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "TTWELLINGTONS";
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #212121;
}

.page-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  color: #3f3f3f;
  margin-bottom: 30px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.caption {
  font-size: 12px;
  line-height: 125%;
}

.caption-large {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}

.caption-small {
  font-size: 10px;
  line-height: 14px;
}

.bold {
  font-weight: 500;
}

.demibold {
  font-weight: 600;
}

.btn {
  font-size: 16px;
  line-height: 1;
  padding: 0.875em 1.5625em;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  transition: all ease 0.5s;
  color: #fff;
  --color: #e25b26;
  background: var(--color);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.btn:hover {
  --color: #cc5222;
}

.btn:active {
  --color: #b5491e;
}

.btn_green {
  --color: #124144;
}

.btn_green:hover {
  --color: #103b3d;
}

.btn_green:active {
  --color: #0d2e30;
}

.btn_transparent {
  background-color: transparent;
  border: 1px solid var(--color);
  color: var(--color);
}

.btn_large {
  font-size: 24px;
}

.btn_medium {
  font-size: 16px;
}

.btn_small {
  font-size: 14px;
}

.btn_xsmall {
  font-size: 10px;
}

.btn span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  position: relative;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  width: 100%;
}

.input__field {
  padding: 14px 15px;
  width: 100%;
}

.input__submit {
  width: 24px;
  height: 24px;
  background-image: url(../../images/icons/Chevron_Right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}

.input_with-arrow .input__submit {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.input_with-arrow .input__field {
  padding-right: 50px;
}

.textarea {
  padding: 14px 15px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  width: 100%;
  resize: vertical;
  min-height: 80px;
  max-height: 150px;
}

.orange-text {
  color: #e25b26 !important;
}

.gray-text {
  color: #8a8894;
}

.white-text {
  color: #ffffff;
}

.orange-bg {
  background-color: #e25b26;
}

.gray-bg {
  background-color: #f7f8fb;
}

.gray-bg.section {
  padding: 70px 0;
}

.green-bg {
  background-color: #124144;
}

.container {
  width: 1560px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  margin-bottom: 70px;
}

.filler {
  height: 1500px;
  background-color: #64bbd1;
}

.dropdown {
  position: relative;
  z-index: 3;
}

.dropdown__list {
  transition: all ease 0.5s;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  z-index: 1;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
}

.dropdown__title {
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}

.dropdown__caret {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all ease 0.5s;
}

.dropdown__caret svg {
  transition: all ease 0.5s;
}

.dropdown__title-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown__item {
  background: #f7f8fb;
  border-radius: 5px;
  padding: 4px 5px;
  cursor: pointer;
}

.dropdown_active .dropdown__list {
  opacity: 1;
  pointer-events: all;
}

.dropdown_active .dropdown__caret svg {
  transform: rotate(180deg);
}

.dropdown_gray {
  color: #8a8894;
}

.dropdown_gray .dropdown__title {
  padding-right: 35px;
}

.dropdown_gray .dropdown__caret {
  background-color: #f7f8fb;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.dropdown_gray .dropdown__title-text {
  background: #f7f8fb;
  border-radius: 5px;
  padding: 7px 5px;
}

.main {
  padding-top: 276px;
  transition: all ease 0.5s;
}

.header-stick .main {
  padding-top: 156px;
}

.home-block__wrapper {
  display: grid;
  grid-template-columns: 230px auto 360px;
  gap: 30px;
  width: 100%;
}

.slider-pagination {
  margin-top: 20px;
  min-height: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-pagination .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  opacity: 1;
  transition: all ease 0.5s;
  background: #c9c8d3;
  transform: none;
}

.slider-pagination .swiper-pagination-bullet-active {
  width: 7px;
  height: 7px;
  background: #8a8894;
}

.slider-prev,
.slider-next {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
  background-image: url(../../images/icons/slider-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all ease 0.5s;
  cursor: pointer;
  pointer-events: all;
}

.slider-next {
  transform: scale(-1);
}

.slider-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 3;
  pointer-events: none;
}

.slider-navigation_gray .slider-prev,
.slider-navigation_gray .slider-next {
  background-color: #f7f8fb;
}

.slider-navigation_outside {
  left: -50px;
  width: calc(100% + 100px);
}

.rating-stars {
  background-image: url(../../images/icons/rating-empty.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 96px;
  height: 16px;
  position: relative;
}

.rating-stars__current {
  background-image: url(../../images/icons/rating-full.svg);
  background-repeat: no-repeat;
  background-position: center left;
  position: absolute;
  height: 100%;
}

.icon {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.icon:hover svg {
  fill: #c9c8d3;
}

.icon_active.icon_like svg {
  fill: #f93232;
}

.icon_active.icon_like path {
  stroke: #f93232;
}

.icon_active.icon_compare svg {
  fill: #e25b26;
}

.icon_active.icon_compare path {
  stroke: transparent;
}

.tab__header-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tab__header {
  display: flex;
  gap: 10px;
  height: 100%;
}

.tab__link {
  background: #f7f8fb;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  color: #8a8894;
  transition: all ease 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.tab__link-active {
  color: #212121;
  border-color: #ebebeb;
}

.tab__item {
  display: none;
}

.tab__item-active {
  display: block;
}

.main,
.header {
  display: none;
}

.card {
  width: 360px;
  height: 396px;
  max-width: 100%;
  border: 1.5px solid #ebebeb;
  border-radius: 5px;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.card__name {
  margin: 20px 0;
  display: block;
}

.card__mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card__state {
  padding-right: 20px;
  background-image: url(../../images/icons/state_true.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center right;
  color: #33b939;
  line-height: 100%;
}

.card__state_false {
  color: #f93232;
  background-image: url(../../images/icons/state_false.svg);
}

.card__img {
  margin-top: 40px;
  display: block;
}

.card__sticker {
  height: 30px;
  min-width: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  background: #e25b26;
  color: #fff;
  margin-right: 5px;
}

.card__sticker_gray {
  background: #f7f8fb;
  color: #8a8894;
}

.card__top {
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0 30px;
  align-items: center;
}

.card__bot {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card__rating {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card__rating-num {
  color: #8a8894;
  height: 100%;
}

.card__price {
  display: flex;
  gap: 15px;
  align-items: center;
}

.card__price-difference {
  padding: 4px 11px;
  background: #f7f8fb;
  border-radius: 5px;
  color: #8a8894;
}

.card__old-price {
  margin-top: 5px;
  color: #8a8894;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

.card__icons {
  display: flex;
  gap: 10px;
  margin-left: auto;
  height: 100%;
}

.card__dropdown {
  width: 182px;
  max-width: 100%;
}

.card__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 10px;
}

.card_kit {
  width: 750px;
  padding: 0;
}

.card_kit .card__top {
  position: relative;
  top: 0;
  padding: 0;
  gap: 7px;
}

.card_kit .card__img {
  margin: 0;
}

.card_kit .card__name {
  margin: 0;
  margin-bottom: 10px;
}

.card_kit .card__mid {
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  height: 100%;
}

.card__body {
  padding: 30px;
  display: flex;
  gap: 30px;
}

.card__main-info {
  display: flex;
  gap: 30px;
}

.card__gallery {
  width: 100%;
  max-width: 215px;
  height: 195px;
  padding-bottom: 27px;
}

.card__gallery-slide {
  justify-content: center;
  align-items: center;
  display: flex;
}

.card__main-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card__kit-price {
  display: flex;
  padding: 30px;
  align-items: center;
  border-top: 1px solid #ebebeb;
  justify-content: space-between;
}

.card__kit-price-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.card__kit-price-num {
  margin: 0;
}

.card__kit-list {
  width: 200px;
  height: 100%;
  max-height: 235px;
  overflow-y: auto;
  padding-right: 10px;
}

.card__kit-list::-webkit-scrollbar {
  width: 5px;
  background-color: #f7f8fb;
}

.card__kit-list::-webkit-scrollbar-thumb {
  background: #c9c8d3;
  border-radius: 5px;
}

.card__kit-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__kit-item {
  padding: 15px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  height: auto;
}

.card__kit-item-img {
  margin-bottom: 5px;
  display: block;
}

.card__kit-item-name {
  margin-bottom: 5px;
  display: block;
}

.card__kit-price-btn {
  width: 260px;
}

.card__basket {
  background: #f7f8fb;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(../../images/icons/Shopping_Cart_02.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.article-item {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 360px;
  height: 250px;
  max-width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.article-item::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(image.png);
}

.article-item__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.article-item__img img {
  -o-object-fit: cover;
  object-fit: cover;
}

.article-item__text {
  margin-top: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.advantages__wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 225px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.advantages__wrapper::-webkit-scrollbar {
  height: 5px;
  background: #c9c8d3;
  border-radius: 5px;
}

.advantages__wrapper::-webkit-scrollbar-thumb {
  background: #8a8894;
  border-radius: 5px;
}

.advantages__item {
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  width: 360px;
  height: 90px;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 15px;
}

.category__slide {
  background: #f7f8fb;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.category__slider {
  position: static;
}

.category__slider-container {
  position: relative;
}

.default-slider {
  width: 100%;
}

.default-slider__slide {
  width: -moz-fit-content;
  width: fit-content;
}

.default-slider__holder {
  position: relative;
}

.default-slider__container {
  position: static;
}

.footer {
  background: #f7f8fb;
}

.footer__dev-wrapper {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  color: #c9c8d3;
  padding: 20px 0;
}

.footer__dev {
  border-top: 1px solid #c9c8d3;
}

.footer__dev-author {
  display: flex;
  gap: 7px;
}

.footer__dev-links {
  display: flex;
  gap: 30px;
}

.footer__wrapper {
  padding: 60px 0;
}

.footer__nav {
  width: 100%;
  max-width: 1010px;
}

.footer__nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.footer__subnav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #8a8894;
  margin-top: 15px;
}

.footer__nav-link_lvl1 {
  color: #3f3f3f;
  font-weight: 500;
}

.footer__wrapper {
  display: flex;
}

.footer__info-tel {
  text-align: right;
}

.footer__info-tel-label {
  margin-top: 5px;
  color: #c9c8d3;
}

.footer__info-top {
  display: flex;
  justify-content: flex-end;
  gap: 70px;
  margin-bottom: 40px;
}

.footer__info-title {
  color: #8a8894;
  margin-bottom: 10px;
  text-align: right;
}

.footer__info-payment {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.footer__info-payment img {
  width: 45px;
  height: 30px;
}

.footer__info-btm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.footer__info {
  max-width: 490px;
  width: 100%;
}

.footer__info-social {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.header-stick .header__line {
  height: 0;
}

.header-stick .header__btm {
  margin-top: -60px;
}

.header__line {
  display: flex;
  background: #f7f8fb;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  height: 60px;
  overflow: hidden;
  transition: all ease 0.5s;
}

.header__line-discount {
  color: #124144;
}

.header__line-logo {
  -o-object-fit: contain;
  object-fit: contain;
}

.header__line-img {
  height: 100%;
}

.header__line-img img {
  height: 100%;
}

.header__link {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #8a8894;
}

.header__link span {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__top {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  padding: 13px 0;
}

.header__region {
  width: 307px;
}

.header__region-title {
  padding-left: 25px;
}

.header__region-title::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../../images/icons/Map_Pin.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header__region-list {
  background-color: #fff;
}

.header__wrapper {
  background-color: #fff;
}

.header__mid {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 2fr 10fr;
  position: relative;
  z-index: 2;
  background-color: #fff;
  gap: 30px;
}

.header__logo {
  width: 160px;
  height: 50px;
}

.header__search {
  width: 100%;
  max-width: 705px;
}

.header__body {
  display: flex;
  gap: 30px;
}

.header__login {
  display: block;
  width: 100%;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/icons/personal\ account.svg);
}

.header__body-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}

.header__body-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f93232;
  color: #fff;
  position: absolute;
  right: -5px;
  top: -5px;
  transform: scale(0);
  transition: all ease 0.5s;
  font-weight: 600;
  font-size: 12px;
  font-feature-settings: normal;
}

.header__body-btn_notification span {
  transform: scale(1);
}

.header__body-btn_mobile {
  display: none;
}

.header__body-btn-icon {
  width: 24px;
  height: 24px;
  position: relative;
}

.header__nav-btn {
  padding: 10px 20px;
}

.header__btm {
  display: flex;
  gap: 30px;
  padding-top: 15px;
  overflow: hidden;
  transition: all ease 0.5s;
  height: 60px;
}

.header__nav-links {
  background: #f7f8fb;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 50px;
  align-items: center;
  width: 100%;
  overflow-x: auto;
}

.header__nav-links::-webkit-scrollbar {
  display: none;
}

.header__nav-link {
  white-space: nowrap;
}

.search {
  width: 100%;
}

.search__form {
  display: flex;
  width: 100%;
}

.search__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0px 5px 5px 0px;
}

.search__btn span {
  width: 20px;
  height: 20px;
  display: flex;
}

.search__input {
  border: 1.5px solid #e25b26;
  border-radius: 5px 0px 0px 5px;
  padding: 13px 20px;
  width: 100%;
}

.home-slider {
  width: 100%;
}

.home-slider__container {
  max-width: 880px;
  height: 396px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.home-slider__slide {
  display: flex;
  align-items: center;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  padding-left: 40px;
}

.home-slider__desc {
  margin-bottom: 0;
  margin-top: 20px;
}

.home-slider__title_leaf {
  position: relative;
}

.home-slider__title_leaf::before {
  display: block;
  content: "";
  width: 29px;
  height: 29px;
  position: absolute;
  top: -21px;
  left: 18px;
  background-image: url(../../images/icons/leaf.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-slider__text {
  max-width: 300px;
}

.home-slider__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.line-form__text {
  margin-top: 5px;
  position: relative;
  z-index: 3;
}

.line-form__btn {
  position: relative;
  z-index: 3;
}

.line-form__item {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 37px 50px;
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-image: url(../../images/Pattern_Монтажная\ область\ 1\ копия\ 2.svg);
  background-size: 223px 130px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.line-form__wrapper {
  display: flex;
  gap: 30px;
}

.line-form__title {
  width: 100%;
  position: relative;
  z-index: 3;
}

.line-form__info-text {
  margin-top: 5px;
}

.line-form__info::before {
  display: block;
  content: "";
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -20px;
  bottom: -30px;
}

.line-form__info::after {
  display: block;
  content: "";
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #e25b26;
  position: absolute;
  right: -30px;
  top: -30px;
}

.line-form__form::before {
  display: block;
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #124144;
  position: absolute;
  left: -10px;
  bottom: -10px;
}

.line-form__form::after {
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-mask-image: url(../../images/icons/leaf.svg);
  mask-image: url(../../images/icons/leaf.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
}

.line-form__input {
  position: relative;
  z-index: 3;
}

.partners__slide {
  background: #f7f8fb;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

.partners__slider {
  position: static;
}

.partners__slider-container {
  position: relative;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar__link {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sidebar__link-icon {
  display: block;
  width: 24px;
  height: 22px;
}

.tab-slider {
  position: relative;
}

.tab-slider__container {
  position: static;
}

@media (max-width: 1150px) {
  .footer__wrapper {
    flex-direction: column;
  }

  .footer__info {
    display: flex;
    gap: 15px;
    max-width: none;
    margin-top: 30px;
  }

  .footer__info-top {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 0;
  }

  .footer__info-title {
    text-align: left;
  }

  .footer__info-payment {
    justify-content: flex-start;
  }

  .footer__info-btm {
    width: 100%;
  }

  .footer__info-item {
    width: 100%;
  }

  .footer__info-social {
    justify-content: flex-start;
  }

  .footer__info-tel {
    text-align: left;
    width: 230px;
    max-width: 100%;
  }

  .footer__dev-wrapper {
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .footer__dev-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
    width: 100%;
  }

  .header__body {
    gap: 15px;
  }

  .header__body-btn {
    display: none;
  }

  .header__body-btn_mobile {
    display: flex;
  }

  .header__search {
    max-width: none;
  }

  .header__nav-btn {
    display: none;
  }

  .header__top {
    display: none;
  }

  .header__order-btn {
    display: none;
  }

  .header__line {
    display: none;
  }

  .header__search {
    margin-right: 15px;
  }

  .header__nav-links {
    padding: 14px 15px;
    gap: 20px;
  }

  .search__form {
    gap: 5px;
  }

  .search__input {
    border-radius: 5px;
  }

  .search__btn {
    border-radius: 5px;
  }
}

@media (max-width: 768px) {
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 700px;
  }

  .footer__nav-item {
    max-width: 50%;
  }

  .header__logo {
    width: 100%;
    max-width: 104px;
    height: 33px;
    margin: auto 0;
  }

  .header__body {
    width: 100%;
  }

  .search__btn {
    gap: 0;
    font-size: 0;
    padding: 8px;
    min-width: 40px;
  }

  .search__btn svg,
  .search__btn span {
    width: 24px;
    height: 24px;
  }

  .search__input {
    padding: 9px 10px;
  }
}

@media (max-width: 570px) {
  .title {
    font-size: 20px;
    line-height: 28px;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer__info-social {
    gap: 10px;
  }

  .footer__info-btm {
    display: flex;
    gap: 20px;
  }

  .footer__info-payment {
    min-width: 156px;
  }

  .footer__nav-list {
    max-height: none;
    gap: 20px;
  }

  .footer__subnav {
    gap: 5px;
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: all ease 0.5s;
  }

  .footer__nav-item_has-children .footer__nav-link_lvl1 {
    position: relative;
    padding-right: 30px;
  }

  .footer__nav-item_has-children .footer__nav-link_lvl1::after {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/icons/Caret_Down_MD.svg);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease 0.5s;
  }

  .footer__nav-item_open .footer__subnav {
    margin-top: 10px;
  }

  .footer__nav-item_open .footer__nav-link_lvl1::after {
    transform: translateY(-50%) rotate(180deg);
  }

  .footer__dev-links {
    display: flex;
    flex-direction: column;
  }

  .header__mid {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  .header__search {
    grid-column: span 2;
  }

  .header__body {
    justify-content: flex-end;
  }

  .header__nav-links {
    font-size: 12px;
    line-height: 130%;
  }
}