@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-BOLD.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-BLACK.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-DEMIBOLD.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-EXTRABOLD.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-EXTRALIGHT.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-MEDIUM.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-REGULAR.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-THIN.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: TTWELLINGTONS;
  src: url(../fonts/TTWELLINGTONS-LIGHT.ttf);
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "TTWELLINGTONS";
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #212121;
}

.page-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  color: #3f3f3f;
  margin-bottom: 30px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.caption {
  font-size: 12px;
  line-height: 125%;
}

.caption-large {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}

.caption-small {
  font-size: 10px;
  line-height: 14px;
}

.bold {
  font-weight: 500;
}

.demibold {
  font-weight: 600;
}

.btn {
  font-size: 16px;
  line-height: 1;
  padding: 0.875em 1.5625em;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  transition: all ease 0.5s;
  color: #fff;
  --color: #e25b26;
  background: var(--color);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.btn:hover {
  --color: #cc5222;
}

.btn:active {
  --color: #b5491e;
}

.btn_green {
  --color: #124144;
}

.btn_green:hover {
  --color: #103b3d;
}

.btn_green:active {
  --color: #0d2e30;
}

.btn_transparent {
  background-color: transparent;
  border: 1px solid var(--color);
  color: var(--color);
}

.btn_large {
  font-size: 24px;
}

.btn_medium {
  font-size: 16px;
}

.btn_small {
  font-size: 14px;
}

.btn_xsmall {
  font-size: 10px;
}

.btn span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-text {
  color: #e25b26 !important;
}

.container {
  width: 1560px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.filler {
  height: 1500px;
  background-color: #64bbd1;
}

.dropdown {
  position: relative;
  z-index: 3;
}

.dropdown__list {
  transition: all ease 0.5s;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  z-index: 1;
}

.dropdown__title {
  position: relative;
  padding-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.dropdown__title::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../images/icons/Caret_Down_SM.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all ease 0.5s;
}

.dropdown_active .dropdown__list {
  opacity: 1;
  pointer-events: all;
}

.dropdown_active .dropdown__title::after {
  transform: translateY(-50%) rotate(180deg);
}

.main {
  padding-top: 276px;
  transition: all ease 0.5s;
}

.header-stick .main {
  padding-top: 156px;
}

.home-block__wrapper {
  display: grid;
  grid-template-columns: 230px auto 360px;
  gap: 30px;
  width: 100%;
}

.slider-pagination {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  min-height: 7px;
}

.slider-pagination .swiper-pagination-bullet {
  display: flex;
  width: 5px;
  height: 5px;
  margin: 0 !important;
  opacity: 1;
  transition: all ease 0.5s;
  background: #c9c8d3;
}

.slider-pagination .swiper-pagination-bullet-active {
  width: 7px;
  height: 7px;
  background: #8a8894;
}

.slider-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.slider-prev,
.slider-next {
  width: 30px;
  height: 30px;
  background-color: #f7f8fb;
  border-radius: 5px;
  overflow: hidden;
  background-image: url(../../images/icons/slider-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all ease 0.5s;
}

.slider-next {
  transform: scale(-1);
}

.rating-stars {
  background-image: url(../../images/icons/rating-empty.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 96px;
  height: 16px;
  position: relative;
}

.rating-stars__current {
  background-image: url(../../images/icons/rating-full.svg);
  background-repeat: no-repeat;
  background-position: center left;
  position: absolute;
  height: 100%;
}

.card {
  width: 360px;
  height: 396px;
  max-width: 100%;
  border: 1.5px solid #ebebeb;
  border-radius: 5px;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.card__name {
  margin: 20px 0;
  display: block;
}

.card__mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card__state {
  padding-right: 20px;
  background-image: url(../../images/icons/state_true.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center right;
  color: #33b939;
  line-height: 100%;
}

.card__state_false {
  color: #f93232;
  background-image: url(../../images/icons/state_false.svg);
}

.card__img {
  margin-top: 40px;
  display: block;
}

.card__sticker {
  height: 30px;
  min-width: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  background: #e25b26;
  color: #fff;
  margin-right: 5px;
}

.card__sticker_gray {
  background: #f7f8fb;
  color: #8a8894;
}

.card__top {
  position: absolute;
  top: 30px;
  left: 30px;
}

.card__rating {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card__rating-num {
  color: #8a8894;
  height: 100%;
}

.card__price {
  display: flex;
  gap: 15px;
  align-items: center;
}

.card__price-difference {
  padding: 4px 11px;
  background: #f7f8fb;
  border-radius: 5px;
  color: #8a8894;
}

.card__old-price {
  margin-top: 5px;
  color: #8a8894;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

.default-slider {
  width: 100%;
}

.default-slider__slide {
  width: -moz-fit-content;
  width: fit-content;
}

.default-slider__holder {
  position: relative;
}

.footer {
  background: #f7f8fb;
}

.footer__dev-wrapper {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  color: #c9c8d3;
  padding: 20px 0;
}

.footer__dev {
  border-top: 1px solid #c9c8d3;
}

.footer__dev-author {
  display: flex;
  gap: 7px;
}

.footer__dev-links {
  display: flex;
  gap: 30px;
}

.footer__wrapper {
  padding: 60px 0;
}

.footer__nav {
  width: 100%;
  max-width: 1010px;
}

.footer__nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.footer__subnav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #8a8894;
  margin-top: 15px;
}

.footer__nav-link_lvl1 {
  color: #3f3f3f;
  font-weight: 500;
}

.footer__wrapper {
  display: flex;
}

.footer__info-tel {
  text-align: right;
}

.footer__info-tel-label {
  margin-top: 5px;
  color: #c9c8d3;
}

.footer__info-top {
  display: flex;
  justify-content: flex-end;
  gap: 70px;
  margin-bottom: 40px;
}

.footer__info-title {
  color: #8a8894;
  margin-bottom: 10px;
  text-align: right;
}

.footer__info-payment {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.footer__info-payment img {
  width: 45px;
  height: 30px;
}

.footer__info-btm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.footer__info {
  max-width: 490px;
  width: 100%;
}

.footer__info-social {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.header-stick .header__line {
  height: 0;
}

.header-stick .header__btm {
  margin-top: -60px;
}

.header__line {
  display: flex;
  background: #f7f8fb;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  height: 60px;
  overflow: hidden;
  transition: all ease 0.5s;
}

.header__line-discount {
  color: #124144;
}

.header__line-logo {
  -o-object-fit: contain;
  object-fit: contain;
}

.header__link {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #8a8894;
}

.header__link span {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__top {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  padding: 13px 0;
}

.header__region {
  width: 307px;
}

.header__region-title {
  padding-left: 25px;
}

.header__region-title::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../../images/icons/Map_Pin.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header__region-list {
  background-color: #fff;
}

.header__wrapper {
  background-color: #fff;
}

.header__mid {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 2fr 10fr;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.header__logo {
  width: 160px;
  height: 50px;
}

.header__search {
  width: 100%;
  max-width: 705px;
}

.header__body {
  display: flex;
  gap: 30px;
}

.header__login {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/icons/personal\ account.svg);
}

.header__body-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}

.header__body-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f93232;
  color: #fff;
  position: absolute;
  right: -5px;
  top: -5px;
  transform: scale(0);
  transition: all ease 0.5s;
  font-weight: 600;
  font-size: 12px;
  font-feature-settings: normal;
}

.header__body-btn_notification span {
  transform: scale(1);
}

.header__body-btn-icon {
  width: 24px;
  height: 24px;
  position: relative;
}

.header__nav-btn {
  padding: 10px 20px;
}

.header__btm {
  display: flex;
  gap: 30px;
  padding-top: 15px;
  overflow: hidden;
  transition: all ease 0.5s;
  height: 60px;
}

.header__nav-links {
  background: #f7f8fb;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 50px;
  align-items: center;
  width: 100%;
}

.search {
  width: 100%;
}

.search__form {
  display: flex;
  width: 100%;
}

.search__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0px 5px 5px 0px;
}

.search__btn span {
  width: 20px;
  height: 20px;
  display: flex;
}

.search__input {
  border: 1.5px solid #e25b26;
  border-radius: 5px 0px 0px 5px;
  padding: 13px 20px;
  width: 100%;
}

.home-slider {
  width: 100%;
}

.home-slider__container {
  max-width: 880px;
  height: 396px;
  width: 100%;
}

.home-slider__slide {
  display: flex;
  align-items: center;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  padding-left: 40px;
}

.home-slider__desc {
  margin-bottom: 0;
  margin-top: 20px;
}

.home-slider__title_leaf {
  position: relative;
}

.home-slider__title_leaf::before {
  display: block;
  content: "";
  width: 29px;
  height: 29px;
  position: absolute;
  top: -21px;
  left: 18px;
  background-image: url(../../images/icons/leaf.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-slider__text {
  max-width: 300px;
}

.home-slider__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar__link {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sidebar__link-icon {
  display: block;
  width: 24px;
  height: 22px;
}

@media (max-width: 570px) {
  .title {
    font-size: 20px;
    line-height: 28px;
  }
}