<nav class="sidebar">
    <ul class="sidebar__list">
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon">
                    <img src="./images/icons/sidebar-1.svg" alt="icon">
                </span>
                Минитракторы
            </a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon">
                    <img src="./images/icons/sidebar-2.svg" alt="icon">
                </span>
                Тракторы
            </a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon">
                    <img src="./images/icons/sidebar-3.svg" alt="icon">
                </span>
                Мотоблоки
            </a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon">
                    <img src="./images/icons/sidebar-4.svg" alt="icon">
                </span>
                Навесное оборудование
            </a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon">
                    <img src="./images/icons/sidebar-5.svg" alt="icon">
                </span>
                Двигатели
            </a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">
                <span class="sidebar__link-icon">
                    <img src="./images/icons/sidebar-6.svg" alt="icon">
                </span>
                Запасные части
            </a>
        </li>
    </ul>
</nav>