<section class="section text-img">
    <div class="container">
        <div class="text-img__wrapper">
            <div class="text-img__img">
                <img src="./images/basket-empty.png" alt="img">
            </div>
            <div class="text-img__body">
                <div class="text-img__title title">Увы, но в вашей корзине пусто!</div>
                <div class="text-img__text">
                    Самое время вернуться в каталог и наполнить её до верха или купить трактор своей мечты!
                </div>
                <div class="text-img__btns">
                    <a href="" class="orange-text">Вернуться в каталог</a>
                    <a href="" class="orange-text">На главную</a>
                </div>
            </div>
        </div>
    </div>
</section>