.card {
    width: 360px;
    height: 396px;
    max-width: 100%;
    border: 1.5px solid #ebebeb;
    border-radius: 5px;
    padding: 30px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    &__name {
        margin: 20px 0;
        display: block;
    }
    &__mid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &-state {
        padding-right: 20px;
        background-image: url(../images/icons/state_true.svg);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: center right;
        color: #33b939;
        line-height: 100%;
        width: fit-content;
        &_false {
            color: #f93232;
            background-image: url(../images/icons/state_false.svg);
        }
        &_transparent {
        }
    }
    &__img {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__sticker {
        height: 30px;
        min-width: 80px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        border-radius: 5px;
        background: #e25b26;
        color: #fff;
        margin-right: 5px;
        &_gray {
            background: #f7f8fb;
            color: #8a8894;
        }
    }
    &__top {
        position: absolute;
        top: 30px;
        left: 0;
        display: flex;
        width: 100%;
        padding: 0 30px;
        align-items: center;
    }
    &__bot {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    &__rating {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    &__rating-num {
        color: #8a8894;
        height: 100%;
    }
    &__price {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    &__price-difference {
        padding: 4px 11px;
        background: #f7f8fb;
        border-radius: 5px;
        color: #8a8894;
    }
    &__old-price {
        margin-top: 5px;
        color: #8a8894;
        text-decoration-line: line-through;
    }
    &__icons {
        display: flex;
        gap: 10px;
        margin-left: auto;
        height: 100%;
    }
    &__dropdown {
        width: 182px;
        max-width: 100%;
    }
    &__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 10px;
    }
    &_kit {
        width: 750px;
        padding: 0;
        & .card {
            &__top {
                position: relative;
                top: 0;
                padding: 0;
                gap: 7px;
            }
            &__img {
                margin: 0;
            }
            &__name {
                margin: 0;
                margin-bottom: 10px;
            }
        }
    }
    &__body {
        padding: 30px;
        display: flex;
        gap: 30px;
    }
    &__main-info {
        display: flex;
        gap: 30px;
    }
    &__gallery {
        width: 100%;
        max-width: 215px;
        height: 195px;
        padding-bottom: 27px;
    }
    &__gallery-slide {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    &__main-text {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__kit-price {
        display: flex;
        padding: 30px;
        align-items: center;
        border-top: 1px solid #ebebeb;
        justify-content: space-between;
    }
    &__kit-price-info {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    &__kit-price-num {
        margin: 0;
    }
    &__kit-list {
        width: 200px;
        height: 100%;
        max-height: 235px;
        overflow-y: auto;
        padding-right: 10px;
        &::-webkit-scrollbar {
            width: 5px;
            background-color: #f7f8fb;
        }
        &::-webkit-scrollbar-thumb {
            background: #c9c8d3;
            border-radius: 5px;
        }
    }
    &__kit-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__kit-item {
        padding: 15px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        height: auto;
    }
    &__kit-item-img {
        margin-bottom: 5px;
        display: block;
    }
    &__kit-item-name {
        margin-bottom: 5px;
        display: block;
    }
    &__kit-price-btn {
        width: 260px;
    }

    &_wide {
        display: grid;
        grid-template-columns: 280px 1fr 1fr;
        gap: 30px;
        height: auto;
        padding-right: 100px;
        & .card {
            &__body {
                padding: 0;
            }
            &__main-info-item {
                display: flex;
                justify-content: space-between;
            }
            &__main-info {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
            &__main-info-value {
                text-align: right;
            }
            &__main-hash {
                display: inline-block;
                background: #f7f8fb;
                border-radius: 5px;
                padding: 4px 5px;
            }
            &__main-hash-list {
                margin-bottom: 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
            }
            &__current-price {
                margin-bottom: 0;
            }
            &__old-price {
                margin: 0;
            }
            &__price {
                margin-bottom: 20px;
            }
            &__btn {
                width: 100%;
            }
            &__deliver {
                display: flex;
                flex-direction: column;
                gap: 20px;
                max-width: 214px;
                width: 100%;
                margin-top: 30px;
            }
            &__deliver-list {
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                row-gap: 10px;
                column-gap: 20px;
            }
            &__gallery {
                max-width: 280px;
                height: 227px;
            }
            &__order {
                max-width: 260px;
            }
        }
    }
}

@media (min-width: 768px) {
    .card {
        &_kit {
            & .card {
                &__mid {
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 10px;
                    margin-bottom: 10px;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .card {
        &_wide {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .card {
        &_kit {
            height: auto;
            width: 360px;
        }
        &__header {
            flex-direction: column;
            gap: 15px;
            display: flex;
        }
        &__main-info {
            flex-direction: column;
            gap: 10px;
        }
        &__mid {
            margin-bottom: 10px;
        }
        &__body {
            flex-direction: column;
            gap: 12px;
        }
        &__kit-list {
            width: 100%;
            max-height: none;
            overflow-x: auto;
            padding: 0;
            padding-bottom: 10px;
            &::-webkit-scrollbar {
                height: 5px;
            }
        }
        &__kit-list-wrapper {
            flex-direction: row;
            gap: 15px;
        }
        &__kit-item {
            min-width: 258px;
            display: flex;
            padding: 8px 10px;
            gap: 10px;
        }
        &__kit-item-img {
            margin: 0;
        }
        &__kit-price {
            flex-direction: column;
            gap: 15px;
        }
        &__kit-price-info {
            width: 100%;
            justify-content: space-between;
        }
        &__kit-price-profit {
            display: none;
        }
        &__kit-price-btn {
            width: 100%;
        }
        &__gallery {
            height: auto;
            max-width: 300px;
        }
    }
}

@media (max-width: 680px) {
    .card {
        padding: 15px;
        width: 100%;
        &_kit {
            padding: 0;
        }
        &__body {
            padding: 15px;
        }
        &__top {
            padding: 0 15px;
            top: 15px;
        }
        &__kit-price {
            padding: 15px;
        }
    }
}
