.card {
  width: 360px;
  height: 396px;
  max-width: 100%;
  border: 1.5px solid #ebebeb;
  border-radius: 5px;
  padding: 30px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.card__name {
  margin: 20px 0;
  display: block;
}

.card__mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.card-state {
  padding-right: 20px;
  background-image: url(../images/icons/state_true.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center right;
  color: #33b939;
  line-height: 100%;
}

.card-state_false {
  color: #f93232;
  background-image: url(../images/icons/state_false.svg);
}

.card__img {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__sticker {
  height: 30px;
  min-width: 80px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  background: #e25b26;
  color: #fff;
  margin-right: 5px;
}

.card__sticker_gray {
  background: #f7f8fb;
  color: #8a8894;
}

.card__top {
  position: absolute;
  top: 30px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__rating-num {
  color: #8a8894;
  height: 100%;
}

.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__price-difference {
  padding: 4px 11px;
  background: #f7f8fb;
  border-radius: 5px;
  color: #8a8894;
}

.card__old-price {
  margin-top: 5px;
  color: #8a8894;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.card__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-left: auto;
  height: 100%;
}

.card__dropdown {
  width: 182px;
  max-width: 100%;
}

.card__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 10px;
}

.card_kit {
  width: 750px;
  padding: 0;
}

.card_kit .card__top {
  position: relative;
  top: 0;
  padding: 0;
  gap: 7px;
}

.card_kit .card__img {
  margin: 0;
}

.card_kit .card__name {
  margin: 0;
  margin-bottom: 10px;
}

.card__body {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.card__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.card__gallery {
  width: 100%;
  max-width: 215px;
  height: 195px;
  padding-bottom: 27px;
}

.card__gallery-slide {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__main-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__kit-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ebebeb;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__kit-price-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__kit-price-num {
  margin: 0;
}

.card__kit-list {
  width: 200px;
  height: 100%;
  max-height: 235px;
  overflow-y: auto;
  padding-right: 10px;
}

.card__kit-list::-webkit-scrollbar {
  width: 5px;
  background-color: #f7f8fb;
}

.card__kit-list::-webkit-scrollbar-thumb {
  background: #c9c8d3;
  border-radius: 5px;
}

.card__kit-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.card__kit-item {
  padding: 15px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  height: auto;
}

.card__kit-item-img {
  margin-bottom: 5px;
  display: block;
}

.card__kit-item-name {
  margin-bottom: 5px;
  display: block;
}

.card__kit-price-btn {
  width: 260px;
}

.card_wide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 280px 1fr 1fr;
      grid-template-columns: 280px 1fr 1fr;
  gap: 30px;
  height: auto;
  padding-right: 100px;
}

.card_wide .card__body {
  padding: 0;
}

.card_wide .card__main-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_wide .card__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.card_wide .card__main-info-value {
  text-align: right;
}

.card_wide .card__main-hash {
  display: inline-block;
  background: #f7f8fb;
  border-radius: 5px;
  padding: 4px 5px;
}

.card_wide .card__main-hash-list {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

.card_wide .card__current-price {
  margin-bottom: 0;
}

.card_wide .card__old-price {
  margin: 0;
}

.card_wide .card__price {
  margin-bottom: 20px;
}

.card_wide .card__btn {
  width: 100%;
}

.card_wide .card__deliver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 214px;
  width: 100%;
  margin-top: 30px;
}

.card_wide .card__deliver-list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.card_wide .card__gallery {
  max-width: 280px;
  height: 227px;
}

.card_wide .card__order {
  max-width: 260px;
}

@media (min-width: 768px) {
  .card_kit .card__mid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    height: 100%;
  }
}

@media (max-width: 1400px) {
  .card_wide {
    display: none;
  }
}

@media (max-width: 768px) {
  .card_kit {
    height: auto;
    width: 360px;
  }
  .card__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card__main-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .card__mid {
    margin-bottom: 10px;
  }
  .card__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
  .card__kit-list {
    width: 100%;
    max-height: none;
    overflow-x: auto;
    padding: 0;
    padding-bottom: 10px;
  }
  .card__kit-list::-webkit-scrollbar {
    height: 5px;
  }
  .card__kit-list-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px;
  }
  .card__kit-item {
    min-width: 258px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 10px;
    gap: 10px;
  }
  .card__kit-item-img {
    margin: 0;
  }
  .card__kit-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .card__kit-price-info {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card__kit-price-profit {
    display: none;
  }
  .card__kit-price-btn {
    width: 100%;
  }
  .card__gallery {
    height: auto;
    max-width: 300px;
  }
}

@media (max-width: 680px) {
  .card {
    padding: 15px;
    width: 100%;
  }
  .card_kit {
    padding: 0;
  }
  .card__body {
    padding: 15px;
  }
  .card__top {
    padding: 0 15px;
    top: 15px;
  }
  .card__kit-price {
    padding: 15px;
  }
}
