.review__rating {
  display: flex;
  gap: 10px;
  align-items: center;
}
.review__rating-stars {
  height: 32px;
  width: 192px;
}
.review__header {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.review__slider {
  position: static;
}
.review__slider-container {
  position: relative;
}
.review__slide {
  width: fit-content;
}

.review-card {
  padding: 20px;
  border: 1.5px solid #ebebeb;
  border-radius: 5px;
  width: 400px;
  min-height: 420px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.review-card__header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.review-card__rating {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.review-card__info-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 275px;
  overflow-y: auto;
  padding-bottom: 1px;
}
.review-card__info-text::-webkit-scrollbar {
  width: 5px;
  background: #c9c8d3;
  border-radius: 5px;
}
.review-card__info-text::-webkit-scrollbar-thumb {
  background: #8a8894;
  border-radius: 5px;
}
.review-card__info-text::after {
  display: none;
}
.review-card__desc-title {
  margin-bottom: 5px;
}
.review-card__controls {
  display: flex;
  margin-top: auto;
}

@media (max-width: 570px) {
  .review__header {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .review__btn {
    width: 100%;
  }
  .review__rating-stars {
    width: 96px;
    height: 16px;
  }
  .review-card {
    width: 100%;
    min-height: 0;
  }
}