@font-face {
	font-family: "VK Sans Text";
	src: url(../fonts/VK\ Sans\ Text\ Light.ttf) format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "VK Sans Text";
	src: url(../fonts/VK\ Sans\ Text\ Regular.ttf) format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "VK Sans Text";
	src: url(../fonts/VK\ Sans\ Text\ Medium.ttf) format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "VK Sans Text";
	src: url(../fonts/VK\ Sans\ Text\ DemiBold.ttf) format("opentype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "VK Sans Text";
	src: url(../fonts/VK\ Sans\ Text\ Bold.ttf) format("opentype");
	font-weight: 700;
	font-style: normal;
}