<section class="section text-block content">
    <div class="container">
        <div class="text-block__wrapper">
            <div class="read-more">
                <div class="read-more__text" style="height: 130px;">
                    <h2>Область применения</h2>
                    <p>
                        Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
                        менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных
                        выступлений в домашних условиях. При создании генератора мы использовали небезизвестный
                        универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти
                        предложений в абзаце, что позволяет сделать текст более привлекательным и живым для
                        визуально-слухового восприятия.
                    </p>
                    <p>
                        По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                        некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст
                        рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит
                        советских времен.
                    </p>
                    <h3>Название блока</h3>
                    <ul>
                        <li> Небольшие габариты трактора позволяют работать в любых условиях: в садах с большим
                            количеством деревьев, на фермах, конюшнях, приусадебных участках.
                        </li>
                        <li>Ременной привод представляет собой 3 клиновидных ремня в постоянном натяжении. При
                            правильном их обслуживании срок работы комплекта ремней от 3 (при круглогодичной
                            эксплуатации) до 5 (при сезонных работах) лет. Удачно расположено сцепление — его можно
                            легко регулировать и обслуживать, что периодически необходимо делать для плавного начала
                            движения с каждой передачи.
                        </li>
                        <li>Подрессоренный передний мост способствует мягкому и плавному ходу, в том числе по неровной
                            бугристой местности.
                        </li>
                        <li>Сцепление с двумя фрикционными дисками, которое облегчает работу, повышает качество и
                            производительность.
                        </li>
                        <li>
                            Высококачественная сборка минитрактора Shifeng SF-240В позволяет уверенно использовать
                            технику на поле, в коммунальных службах и на фермерских хозяйствах.
                        </li>
                    </ul>
                    <p>
                        По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                        некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст
                        рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит
                        советских времен.
                    </p>
                </div>
                <div class="read-more__btn orange-text" data-toggle-text="Скрыть">Читать еще</div>
            </div>
        </div>
    </div>
</section>